<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_gifts_bg.png"/>
	<div style="top:20px; left:230px; font-size:50px;">
		Claim your prize right at
	</div>
	<div style="top:75px; left:232px; font-size:48px;">
		the moment you register!
  	</div>
	<div style="top:155px; left:230px; font-size:30px; color:#FC6404;">
		No more depositing with no results.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:305px; left:400px; font-size:25px;">
		Your time spent and purchases will
	</div>
	<div style="top:340px; left:440px; font-size:25px; color:#FC6404;">
		come back to you as prizes!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:565px; left:112px; font-size:20px; transform:rotate(1.5deg); -ms-transform:rotate(1.5deg); -moz-transform:rotate(1.5deg); -webkit-transform:rotate(1.5deg); -o-transform:rotate(1.5deg);">
		No matter if you win or lose, you will EARN the
	</div>
	<div style="top:598px; left:130px; font-size:25px; color:#FC6404; transform:rotate(1.5deg); -ms-transform:rotate(1.5deg); -moz-transform:rotate(1.5deg); -webkit-transform:rotate(1.5deg); -o-transform:rotate(1.5deg);">
		points to claim the prize you want.
	</div>
	<div style="top:645px; left:51px; font-size:17px; transform:rotate(1.5deg); -ms-transform:rotate(1.5deg); -moz-transform:rotate(1.5deg); -webkit-transform:rotate(1.5deg); -o-transform:rotate(1.5deg);">
		You still earn points when you lose a game, but earn much more if you win one.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:782px; left:460px; font-size:24px;">
		You can claim the prize you desire
	</div>
	<div style="top:815px; left:484px; font-size:24px;">
		with the points in your account
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:982px; left:82px; font-size:21px;">
		If you wish you can purchase a membership with
	</div>
	<div style="top:1012px; left:120px; font-size:21px;">
		prize points and achieve your goal faster!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:1217px; left:444px; font-size:18px;">
		Hundreds of prizes in our catalogue waiting to be claimed
	</div>
	<div style="top:1250px; left:522px; font-size:24px;">
		with the points you have won!
	</div>
</div>
