<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_tournaments_bg.png"/>
	<div style="left:242px; top:25px; font-size:57px;">
		Games,
	</div>
	<div style="left:244px; top:80px; font-size:50px;">
		Tourneys and Prizes!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:250px; top:152px; font-size:20px;">
		A top level of competition will be awaiting for you!
	</div>
	<div style="left:250px; top:182px; font-size:20px;">
		Prove your skills among many competitors!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:180px; top:311px; font-size:23px;">
		So. You say you have skills?
	</div>
	<div style="left:190px; top:345px; font-size:30px;">
		<b>Join us in the Arena</b>
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:440px; top:544px; font-size:22px;">
		Win the tourney, claim your prize
	</div>
	<div style="left:476px; top:582px; font-size:32px;">
		<b>What's the prize?</b>
	</div>
	<div style="left:478px; top:623px; font-size:32px;">
		Well… Up to you!
	</div>
	<div style="left:392px; top:670px; font-size:18px;">
		Players can create their own tournaments and set the
	</div>
	<div style="left:536px; top:698px; font-size:18px;">
		prize they desire.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:230px; top:790px; font-size:18px;">
		Either join the tournament, or select the
	</div>
	<div style="left:233px; top:815px; font-size:18px;">
		prize you want from out catalogue and
	</div>
	<div style="left:318px; top:840px; font-size:18px;">
		create your own!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:504px; top:970px; font-size:22px;">
		<b>Create your tournament!</b>
	</div>
	<div style="left:554px; top:999px; font-size:24px;">
		Announce it!
	</div>
	<div style="left:552px; top:1033px; font-size:26px;">
		<b>Advertise it!</b>
	</div>
	<div style="left:506px; top:1068px; font-size:22px;">
		Gather the competitors!
	</div>
	<div style="left:590px; top:1094px; font-size:24px;">
		<b>Play!</b>
	</div>
	<div style="left:592px; top:1127px; font-size:24px;">
		Win!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:370px; top:1316px; font-size:20px;">
		Enjoy your prize, look for a new tourney…
	</div>
	<div style="left:490px; top:1344px; font-size:20px;">
		<b>That's all!</b>
	</div>
</div>
