<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_matchmaker_bg.png"/>
	<div style="left:302px; top:65px; font-size:50px;">
		Nasıl İstiyorsan Öyle!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:302px; top:124px; font-size:20px; font-weight:bold; color:#FC6404;">
		Bilmediğin, tanımadığın oyunculara mecbur değilsin artık.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:468px; top:215px; font-size:16px;">
		Herkese ulaşabileceğin gibi,
	</div>
	<div style="left:181px; top:232px; font-size:16px; color:#FC6404;">
		oynamak istediğin rakiplerin özelliklerini kendin belirleyebilirsin.
	</div>
	<div style="left:391px; top:266px; font-size:18px;">
		<b>İster</b> sadece <b>arkadaşların!</b>
	</div>
	<div style="left:287px; top:287px; font-size:18px;">
		<b>İster</b> sadece <b>ilgi duyduğun gruplar!</b>
	</div>
	<div style="left:72px; top:314px; font-size:18px;">
		<b>İster</b> sadece <b>belirlediğin tek bir kritere uygun oyuncular!</b>
	</div>
	<div style="left:368px; top:347px; font-size:28px; color:#FC6404;">
		Sana kalmış
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:277px; top:508px; font-size:16px;">
		Seçimlerin <b>sadece</b> oyuncular ile sınırlı da değil,
	</div>
	<div style="left:314px; top:529px; font-size:16px;">
		<b>Oyun kriterlerini</b> de sen belirliyorsun. 
	</div>
	<div style="left:367px; top:554px; font-size:20px;">
		İster <b>hızlı</b>, ister <b>yavaş</b>. 
	</div>
	<div style="left:423px; top:579px; font-size:20px;">
		İster <b>az puanlı</b> ister <b>çok puanlı</b>. 
	</div>
	<div style="left:470px; top:601px; font-size:20px;">
		İster <b>standart oyun</b>, ister <b>gelişmiş oyun</b>. 
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:282px; top:776px; font-size:16px;">
		Oyunlar ise her yerde oynayabildiklerinden değil.
	</div>
	<div style="left:256px; top:794px; font-size:16px;">
		Çünkü tüm oyunların <b>kaynak kodları bize ait</b>.
	</div>
	<div style="left:109px; top:824px; font-size:22px; color:#FC6404;">
		Bu oyunlar ve içerikler başka yerde yok!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:318px; top:1235px; font-size:23px;">
		Eğlence ve heyecan seni bekliyor!
	</div>
	<div style="left:399px; top:1270px; font-size:40px; color:#FC6404;">
		KEŞFET!
	</div>
</div>
