<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_matchmaker_bg.png"/>
	<div style="left:302px; top:120px; font-size:40px;">
		It is however you want it to be.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:302px; top:184px; font-size:20px; font-weight:bold; color:#FC6404;">
		You no longer have to play with players that you don't know.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:150px; top:285px; font-size:18px;">
		You can define the type of players that you wish to play with.
	</div>
	<div style="left:274px; top:313px; font-size:18px;">
		<b>Either</b> just <b>your friends</b>,
	</div>
	<div style="left:215px; top:340px; font-size:18px;">
		<b>or</b> just <b>the groups you are interested in</b>.
	</div>
	<div style="left:163px; top:377px; font-size:18px;">
		<b>Or</b> just the players <b>who match the criteria you define!</b>
	</div>
	<div style="left:283px; top:415px; font-size:28px; color:#FC6404;">
		UP TO YOU!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:435px; top:578px; font-size:18px;">
		Your <b>choices</b> are not limited with the players!
	</div>
	<div style="left:482px; top:602px; font-size:18px;">
		You define <b>the rules of the game</b>!
	</div>
	<div style="left:480px; top:628px; font-size:20px;">
		Either a <b>fast</b> gameplay or <b>slow</b>…
	</div>
	<div style="left:402px; top:658px; font-size:20px;">
		You define for <b>how much points</b> you want to play.
	</div>
	<div style="left:420px; top:687px; font-size:20px;">
		Either play a <b>standart game</b>… or <b>customize it</b>!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:100px; top:809px; font-size:18px;">
		What you have here, it is not like any other game you play.
	</div>
	<div style="left:248px; top:836px; font-size:18px;">
		in a random web site!
	</div>
	<div style="left:304px; top:866px; font-size:22px;">
		Why?
	</div>
	<div style="left:150px; top:900px; font-size:18px;">
		The source codes for every game belongs to us.
	</div>
	<div style="left:90px; top:927px; font-size:18px; color:#FC6404;">
		You can not find the same games and contents anywhere else!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:330px; top:1303px; font-size:23px; transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);">
		Enjoy the thrill of our games
	</div>
	<div style="left:356px; top:1335px; font-size:23px; transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);">
		At the tip of your finger.
	</div>
	<div style="left:362px; top:1370px; font-size:40px; color:#FC6404; transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);">
		DISCOVER!
	</div>
</div>
