<div class="info-page-header-panel ">
<img class="info-page-bg image" src="/images/more_info/info_gifts_bg.png"/>
	<div style="top:20px; left:230px; font-size:50px;">
		Üye Olduğunuz An
	</div>
	<div style="top:75px; left:225px; font-size:70px;">
		Hediyenizi Alın!
	</div>
	<div style="top:155px; left:230px; font-size:30px; color:#FC6404;">
		Artık karşılıksız verme devri bitti...
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:315px; left:400px; font-size:18px;">
		Bundan sonra oynamaya ayırdığınız
	</div>
	<div style="top:340px; left:430px; font-size:25px; color:#FC6404;">
		zaman ve yaptığınız harcamalar
	</div>
	<div style="top:374px; left:460px; font-size:18px;">
		size <b>hediye</b> olarak geri dönüyor. 
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:557px; left:331px; font-size:18px;">
		Üyelerimiz, hiçbir şarta bağlı
	</div>
	<div style="top:581px; left:237px; font-size:18px;">
		olmadan hediye puanları kazanırlar.
	</div>
	<div style="top:604px; left:51px; font-size:25px; color:#FC6404;">
		Kazanmak yada kaybetmek fark etmez.
	</div>
	<div style="top:635px; left:144px; font-size:18px;">
		Oyun oynayan her oyuncu hediye puanı kazanır.
	</div>
	<div style="top:660px; left:72px; font-size:18px;">
		Kaybeden de kazanır, kazanan daha da çok kazanır.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:772px; left:420px; font-size:18px;">
		Hesabında biriken puanlar ile
	</div>
	<div style="top:797px; left:439px; font-size:20px;">
		hediye kataloğundan <b>istediği</b> hediyeyi alabilir.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:982px; left:209px; font-size:18px;">
		İsterse, puanlı üyelik paketi satın alarak
	</div>
	<div style="top:1008px; left:186px; font-size:20px;">
		daha çok <b>puan</b> kazanır.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="top:1217px; left:444px; font-size:18px;">
		Sanal alemden satın alabileceğiniz
	</div>
	<div style="top:1241px; left:468px; font-size:20px;">
		<b>çok geniş bir ürün yelpazesi</b> sizi bekliyor…
	</div>
</div>
