<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_social_bg.png"/>
	<div style="left:284px; top:34px; font-size:75px;">
		SOSYALLEŞMEK
	</div>
	<div style="left:284px; top:122px; font-size:22px; color:#FC6404;">
		Burası sadece bir oyun ortamı değil.
	</div>
	<div style="left:284px; top:148px; font-size:22px; color:#FC6404;">
		İstediğin her şeyi paylaşabileceğin bir platform.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:410px; top:284px; font-size:16px;">
		<b>“Nasıl görünmek istiyorsan öyle ol!”</b> ya da
	</div>
	<div style="left:423px; top:302px; font-size:16px; color:#FC6404;">
		“Nasılsan öyle görün”!
	</div>
	<div style="left:448px; top:322px; font-size:16px;">
		Kendini ifade etmek için ne istiyorsan yap!
	</div>
	<div style="left:437px; top:351px; font-size:18px; color:#FC6404;">
		Resimlerin
	</div>
	<div style="left:512px; top:369px; font-size:26px; color:#FC6404;">
		Müziğin
	</div>
	<div style="left:470px; top:396px; font-size:22px; color:#FC6404;">
		Felsefen
	</div>
	<div style="left:542px; top:419px; font-size:16px;">
		için, dışın…
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:207px; top:537px; font-size:16px;">
		Bunları kiminle paylaşmak istiyorsan sen belirle.
	</div>
	<div style="left:322px; top:559px; font-size:24px; color:#FC6404;">
		Kendi dünyanı kur!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:452px; top:749px; font-size:16px;">
		Sohbet et, tartış, takıl, görüşlerini ilet, yada izle...
	</div>
	<div style="left:477px; top:767px; font-size:16px; color:#FC6404;">
		Yorum yap, beğen, beğenil yada beğenilmeyip eleştiril...
	</div>
	<div style="left:453px; top:784px; font-size:16px;">
		Nasıl istersen öyle!
	</div>
	<div style="left:479px; top:804px; font-size:16px; color:#FC6404;">
		Ne verirsen onu alacağını unutma!
	</div>
	<div style="left:511px; top:846px; font-size:16px;">
		<b>Eski</b> arkadaşların – <b>Yeni</b> arkadaşların
	</div>
	<div style="left:560px; top:863px; font-size:20px;">
		<b>Farklı</b> gruplar, <b>Farklı</b> insanlar…
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:541px; top:1026px; font-size:20px;">
		İfade Özgürlüğü!
	</div>
	<div style="left:403px; top:1054px; font-size:16px; color:#FC6404;">
		Yasaları zorlarsan birileri engeller elbet...
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:345px; top:1221px; font-size:18px;">
		Oyun aleminde bulduğuna sıkışmak zorunda değilsin artık…
	</div>
	<div style="left:373px; top:1244px; font-size:24px; color:#FC6404;">
		Kendi dünyanı kendin yarat…
	</div>
</div>
