		<div class="list-top-photo-h">
			[[[webutils:get_hemen_nav()]]]
		</div>
        
        <div class="for_blocking">
		<section id="main">
			<div class="top-space top-space-2">
				<h1>Hedİyeler</h1>
			</div>
			[[[page:html_tooltip()]]]
			<ul class="prod-list">
				<li>
					<div class="box">
						<h2 class="head">Puan: 835.000</h2>
						<div class="img"><a href="#"><img src="images/img-39.jpg" alt="" width="144" height="118" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">LG 47LK530 FHD LCD TV<br/>+lig tv</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 625.000</h2>
						<div class="img"><a href="#"><img src="images/img-40.jpg" alt="" width="144" height="114" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Hp Probook 4330s<br/>Intel Core</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 235.000</h2>
						<div class="img"><a href="#"><img src="images/img-41.jpg" alt="" width="118" height="140" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Samsung Galaxy<br/>Gio S5660</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 125.000</h2>
						<div class="img"><a href="#"><img src="images/img-42.jpg" alt="" width="120" height="148" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Enrico Coveri<br/>Erkek Kol Saati</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 95.000</h2>
						<div class="img"><a href="#"><img src="images/img-43.jpg" alt="" width="116" height="140" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Zippo EBONY<br/>Çakmak</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 65.000</h2>
						<div class="img"><a href="#"><img src="images/img-44.jpg" alt="" width="156" height="88" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">RayBan<br/>Güneş gözlüğü</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 45.000</h2>
						<div class="img"><a href="#"><img src="images/img-45.jpg" alt="" width="148" height="120" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Fujifilm 14.0MP 2.7"LCD<br/>Dijital Fotoğraf makinesi</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 35.000</h2>
						<div class="img"><a href="#"><img src="images/img-46.jpg" alt="" width="136" height="144" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">NAVİTECH<br/>Araç navigasyon</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 25.000</h2>
						<div class="img"><a href="#"><img src="images/img-47.jpg" alt="" width="136" height="132" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Electrix Ruckus<br/>Monster Truck</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li><li>
					<div class="box">
						<h2 class="head">Puan: 15.000</h2>
						<div class="img"><a href="#"><img src="images/img-48.jpg" alt="" width="140" height="104" ></a></div>
					</div>
					<strong class="prod-name"><a href="#">Double Horse U.K.Gyrolu<br/>Helikopter 3 Kanal</a></strong>
					<a href="#" class="btn">Hediyeyi Al</a>
				</li>
			</ul>
		</section>
        </div>
