<div class="matchmaker_rules">
<div class="holder" style="margin-left:30px; width:800px; font-size:14px;">

    <h1 style="font-size:26px; margin-bottom:14px;">OKEY OYUNLARI HAKKINDA</h1>

    <h1 style="font-size:20px; margin-bottom:10px;">OYUNU OYNAMA</h1>

    <table border="0" cellpadding="5" cellspacing="0">
<!-- джквери нельзя, потому что таблицы снизу тоже таблицы. Ломаются -->
    <tr><td class="left_col">Gösterme taşı:</td>
        <td>Taşlar dağıtıldıktan sonra sağ alt köşede "&#8239;gösterme&#8239;" bölümüne açılan taş. 
        Elinde göstermesi olan gösterme taşının üzerini çift tıklayarak oyundaki (&#8239;varsa&#8239;)
        gösterme puanını kazanır. Gösterme ilk el taş çekilmeden yapılmalıdır. Taş çekildikten sonra gösterme yapılamaz.</td></tr>
    <tr><td class="left_col">Okey taşı:</td>
        <td>Göstermenin bir sayı yukarısı (&#8239;aynı renk olmak şartı ile&#8239;) okey taşıdır. 
            Bu taş joker niteliğinde olup elde eksik olan istenilen renkteki sayı yerine kullanılır.
            her el iki adet taş okey taşı yerine geçer. (&#8239;okey sayılan taşın yerine kullanılmak
            üzere 2 tane sahte okey bulunur&#8239;).</td></tr>
    <tr><td class="left_col">Açar taşlar:</td>
        <td>aynı renkten sıralı hale gelmesi, (&#8239;örn. Yeşil 1, 2, 3, 4, sarı 7, 8, 9, kırmızı 10,
            11, 12 gibi&#8239;) 1sayılı taş seride 13 ten sonrada kullanılabilir (&#8239;11,12,13,1
            gibi&#8239;) aynı sayıların farklı renklerden bir seri uluşturması (&#8239;sarı- yeşil-kırmızı 
            2'li gibi&#8239;) eldeki taşların tamamının (&#8239;14 tane&#8239;) açarlı gruplar oluşturması
            oyun bitme şartıdır. Bu gruplar 4 &ndash; 4 &ndash; 3 &ndash; 3 lü olabileceği gibi 5 &ndash;
            3 &ndash; 3 &ndash; 3 lü de veya 14 taşı açar hale gelen 5 &ndash; 5 &ndash; 4 te olabilir.
            Seri taşlar arasında boşluk olmamalıdır. sürükleyip bırakarak oyunu bitirir.</td></tr>
    <tr><td class="left_col">Çift açmak:</td>
        <td>Aynı renk ve sayıdan olmak üzere 7 çift taş da açar seri oluşturur. (&#8239;sahte okey
            çifti de dahildir&#8239;). Buna " ÇİFT AÇMAK " denir. Çift olan taşlar yanyana dururken
            farklı çiftleri en az bir boşluk bırakarak dizmek gerekir. 15. taş çekilen taşların
            üzerine konarak oyun bitti bilgisi verilir.</td></tr>
    <tr><td class="left_col">Okey atmak:</td>
        <td>Taşını açan yere oyun bitme taşı olarak "okey"i atarsa, oyundaki açma puanını değil
            okey atma puanını alır.</td></tr>
    </table>

    <h1 style="font-size:20px;">OYUN ÇEŞİTLERİ</h1>
    <table border="0" cellpadding="5" cellspacing="0" >
    <tbody>
    <tr><td class="left_col">Standart:</td>
        <td style="text-align:left;" >
        <div class="affiliates-box" style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
        <table border="0" cellpadding="3" cellspacing="0" ><tbody>
        <tr><td>Gösterme</td><td align="center">1</td><td>Puan</td></tr>
        <tr><td>Açma</td><td align="center" >3</td><td>Puan</td></tr>
        <tr><td>Okey atma</td><td align="center">6</td><td>Puan</td></tr>
        <tr><td>Çift açma</td><td align="center">6</td><td>Puan</td></tr>
        <tr><td>Çiftte okey atma</td><td align="center">&nbsp;12&nbsp;</td><td>Puan</td></tr></tbody></table>
        </div>
        </td></tr>
    <tr><td class="left_col" >Tek-çift:</td>
        <td>Gösterme nin tek yada çift olmasına göre puanların belirlendiği oyun şeklidir. 
            Tek sayılı gösterme olduğunda standart oyun puanları geçerli olur. Çift sayılı 
            gösterme olduğunda standart oyun puanlarının 2 katı kabul edilir.</td></tr>
    <tr><td class="left_col" >Renkli:</td>
        <td>Gösterme taşının rengine göre puanlamanın yapıldığı oyundur. Gösterme SARI-MAVİ 
            tek sayı olursa STANDART OYUN PUANLARI. Gösterme SARI-MAVİ çift sayı ve KIRMIZI-SİYAH 
            tek sayı olursa 2 katı puan hesaplanır. Gösterme KIRMIZI-SİYAH çift sayı olursa 4 
            katı puan hesaplanır.</td></tr>
    <tr><td class="left_col" >Çanak puanı:</td>
        <td>Tek-çift ve renkli oyunlar "çanak" lıdır. "Çanak", oyun içi bonus puanların 
            toplandığı yerdir. Açılışta oyun puanı sistem tarafından çanağa yazılır. Oyun 
            içinde yapılmayan gösterme puanları çanağa eklenir. Okey atan, çift açan, 8 taş 
            yapan, renk açanlar açma puanlarına ilave olarak. Çanak içindeki birikmiş puanı 
            da kazanırlar. Boşalan çanağa, sistem tarafından oyun puanı yeniden eklenir. Böylece 
            çanak hiçbir el için boş kalmamış olur.</td></tr>
    <tr><td class="left_col" >10&#39; dan düşmeli oyun:</td>
        <td style="padding-top:12px; text-align:left; " >
            <div class="affiliates-box " style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
            <table border="0" cellpadding="3" cellspacing="0" >
							<tbody>
								<tr><th>Oyuna her oyuncu 10 puan ile başlar</th><th></th></tr>
								<tr><td>Gösterme</td>   <td>1</td></tr>
								<tr><td>Açma</td>       <td>2</td></tr>
								<tr><td>Okey atma</td>  <td>4</td></tr>
								<tr><td>Çift açma</td>  <td>4</td></tr>
								<tr><td></td><td>olmak üzere puan düşümü yapılır. <br />Puanını ilk önce bitiren oyuncu oyunu kazanır.</td></tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 style="font-size:20px; margin-bottom:4px;">FARKLI OYUN BİTİRME ÇEŞİTLERİ</h1>
	<div style="padding:10px 30px;">
		Ayrıca Tek-çift ve Renkli oyunlar için geçerli aşağıda açıklanan 
        özel açma şekilleri de bulunur ve ikramiyeli puan hesabı yapılır.
	</div>
	<table border="0" cellpadding="5" cellspacing="0" >
		<tbody>
			<tr>
				<td class="left_col">Renk açmak:</td>
				<td>
					Açmanın eldeki taşların tamamının aynı renkten taşlarla yapılması esasına dayanır. 
                    Normal oyundaki gibi okeyler eksik taşların yerine kullanılabilir. Oyuna esas puanlamanın 
                    8 katı açma puanı olarak uygulanır. Bu durumda okey atılırsa 16 katı uygulanır.
				</td>
			</tr>
			<tr>
				<td class="left_col">Renkten çift açmak:</td>
				<td>
					Bütün çift taşların aynı renkten olması hali. Renk açmanın iki katı puan uygulanır. 
                    Okey taşları kullanılabilir. 
				</td>
			</tr>
			<tr>
				<td class="left_col">Sekiz taş:</td>
				<td>
					Oyun esnasında, oyun taşları içinde herhangi bir taşın 8 tanesini birden ıstakada 
                    toplamak demektir. Örn. 8 tane 4'lü gibi. 8 taşı toplayan oyuncu ekranındaki "8 Taş" 
                    düğmesini tıkladığında eli açıp açmamasına bakılmaksızın oyun puanının 4 katı puanı 
                    ve çanakta biriken puanı ödül olarak kazanır. 
				</td>
			</tr>
		</tbody>
	</table>
	<div style="padding:10px 30px;">
		Oyun ve puanlama seçenekleri masa açılışında set edilir. Masa açılışında herhangi bir oyun 
        seçilmez ise standart oyun yüklenir.
	</div>
	<table border="0" cellpadding="5" cellspacing="0" >
		<tbody>
			<tr>
				<th></th><th></th><th class="games_col2" colspan="2">Tek-çift</th>
                <th class="games_col3" colspan="2">Renkli</th><th></th><th></th>
			</tr>
			<tr>
				<th></th>
				<th class="games_col1" >standart</th>
				<th class="games_col2" >tek</th>
				<th class="games_col2" >çift</th>
				<th class="games_col3" >sarı-mavi ÇİFT<br/>siyah-kırmızı TEK</th>
				<th class="games_col3" >Siyah kırmızı ÇİFT</th>
				<th class="games_col4" >10&#39;dan düşmeli</th>
				<th class="games_col5" >Çanakta biriken</th>
			</tr>
			<tr>
				<th align="left">Gösterme</th>
				<td class="games_col1" >1</td>
				<td class="games_col2" >1</td>
				<td class="games_col2" >2</td>
				<td class="games_col3" >2</td>
                <td class="games_col3" >4</td>
				<td class="games_col4" >1</td>
				<td class="games_col5" >&mdash;</td>
			</tr>
			<tr>
				<th align="left">Açma</th>
				<td class="games_col1" >3</td>
				<td class="games_col2" >3</td>
				<td class="games_col2" >6</td>
				<td class="games_col3" >6</td>
				<td class="games_col3" >12</td>
				<td class="games_col4" >2</td>
				<td class="games_col5" >&mdash;</td>
			</tr>
			<tr>
				<th align="left">Okey atma</th>
				<td class="games_col1" >6</td>
				<td class="games_col2" >6</td>
				<td class="games_col2" >12</td>
				<td class="games_col3" >12</td>
				<td class="games_col3" >24</td>
				<td class="games_col4" >4</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">Taş çifti</th>
				<td class="games_col1" >6</td>
				<td class="games_col2" >6</td>
				<td class="games_col2" >12</td>
				<td class="games_col3" >12</td>
				<td class="games_col3" >24</td>
				<td class="games_col4" >4</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">8 taş</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >12</td>
				<td class="games_col2" >24</td>
				<td class="games_col3" >24</td>
				<td class="games_col3" >48</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >yapana</td>
			</tr>
			<tr>
				<th align="left">Renk açma</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >24</td>
				<td class="games_col2" >48</td>
				<td class="games_col3" >48</td>
				<td class="games_col3" >96</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">Renkten Taş çifti</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >48</td>
				<td class="games_col2" >96</td>
				<td class="games_col3" >96</td>
				<td class="games_col3" >192</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">Renkten okey atma</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >48</td>
				<td class="games_col2" >96</td>
				<td class="games_col3" >96</td>
				<td class="games_col3" >192</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">Renkten Taş çifti okey atma</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >96</td>
				<td class="games_col2" >192</td>
				<td class="games_col3" >192</td>
				<td class="games_col3" >384</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >açana</td>
			</tr>
			<tr>
				<th align="left">Yanlış açan</th>
				<td class="games_col1" >-9</td>
				<td class="games_col2" >-9</td>
				<td class="games_col2" >-18</td>
				<td class="games_col3" >-18</td>
				<td class="games_col3" >-36</td>
				<td class="games_col4" >-2</td>
				<td class="games_col5" >&mdash;</td>
			</tr>
			<tr>
				<th align="left">Yanlış açışta diğerleri</th>
				<td class="games_col1" >3</td>
				<td class="games_col2" >3</td>
				<td class="games_col2" >6</td>
				<td class="games_col3" >6</td>
				<td class="games_col3" >12</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >&mdash;</td>
			</tr>
			<tr>
				<th align="left">Çanak boşalınca çanağa eklenen</th>
				<td class="games_col1" >yok</td>
				<td class="games_col2" >4</td>
				<td class="games_col2" >8</td>
				<td class="games_col3" >8</td>
				<td class="games_col3" >16</td>
				<td class="games_col4" >yok</td>
				<td class="games_col5" >&mdash;</td>
			</tr>
		</tbody>
	</table>
	<h1 style="font-size:20px; margin-bottom:4px;">Hediye puanı (kakuş), kota ve oyun puanı parametreleri aşağıdaki gibidir.</h1>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr>
				<td style="padding:3px;" ><div class="point_no">1</div></td>
				<td style="padding-left:10px;" >kakuş (sistemin verdiği hediye puanı &mdash; oyunun 1.si için)</td>
			</tr>
			<tr>
				<td style="padding:3px;" ><div class="point_no">2</div></td>
				<td style="padding-left:10px;" >kakuş (sistemin verdiği hediye puanı &mdash; masadaki diğerleri için)</td>
			</tr>
			<tr>
				<td style="padding:3px;" ><div class="point_no">3</div></td>
				<td style="padding-left:10px;" >kota (oyuncudan düşülecek kota sayısı)</td>
			</tr>
			<tr>
				<td style="padding:3px;" ><div class="point_no">4</div></td>
				<td style="padding-left:10px;" >oyun puanı (oyun sonunda kazananın elde edeceği oyun puanı)</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>
<div class="holder" style="margin-left:30px; width:900px; font-size:14px;">
	<table border="0" cellpadding="5" cellspacing="0" >
		<tbody>
			<tr>
				<td></td>
				<td style="font-weight:bold; font-size:16px; background-color:#ABF;" align="center" >oyun</td>
				<td style="font-weight:bold; font-size:16px; background-color:#89C;" align="center" >türü</td>
				<td colspan="25"></td>
			</tr>
			<tr>
				<td style="background-color:#BE8; font-weight:bold;" align="right" >seçilen oyun sayısı</td>
				<td style="background-color:#BE8;" colspan="2"></td>
				<td></td>
				<td class="point_green" colspan="4">10</td>
				<td></td>
				<td class="point_green" colspan="4">20</td>
				<td></td>
				<td class="point_green"  colspan="4">40</td>
				<td></td>
				<td class="point_green"  colspan="4">60</td>
				<td></td>
				<td class="point_green"  colspan="4">80</td>
			</tr>
			<tr>
				<td colspan="4"></td>
				<td class="point_red" align="center" >1</td>
				<td class="point_red" align="center" >2</td>
				<td class="point_red" align="center" >3</td>
				<td class="point_red" align="center" >4</td>
				<td></td>
				<td class="point_red" align="center" >1</td>
				<td class="point_red" align="center" >2</td>
				<td class="point_red" align="center" >3</td>
				<td class="point_red" align="center" >4</td>
				<td></td>
				<td class="point_red" align="center" >1</td>
				<td class="point_red" align="center" >2</td>
				<td class="point_red" align="center" >3</td>
				<td class="point_red" align="center" >4</td>
				<td></td>
				<td class="point_red" align="center" >1</td>
				<td class="point_red" align="center" >2</td>
				<td class="point_red" align="center" >3</td>
				<td class="point_red" align="center" >4</td>
				<td></td>
				<td class="point_red" align="center" >1</td>
				<td class="point_red" align="center" >2</td>
				<td class="point_red" align="center" >3</td>
				<td class="point_red" align="center" >4</td>
			</tr>
			<tr>
				<td rowspan="8"></td>
				<td style="font-weight:bold; background-color:#ABF;" rowspan="8">OKEY</td>
				<td class="point_blue">standart</td>
				<td></td>
				<td align="center" >6</td>  <td align="center" >2</td>  <td align="center" >10</td> <td align="center" >8</td>
				<td></td>
				<td align="center" >15</td> <td align="center" >3</td>  <td align="center" >20</td> <td align="center" >15</td>
				<td></td>
				<td align="center" >32</td>	<td align="center" >7</td>	<td align="center" >40</td>	<td align="center" >30</td>
				<td></td>
				<td align="center" >50</td>	<td align="center" >11</td>	<td align="center" >60</td>	<td align="center" >60</td>
				<td></td>
				<td align="center" >70</td>	<td align="center" >15</td>	<td align="center" >80</td>	<td align="center" >120</td>
			</tr>
			<tr>
				<td class="point_blue" >tek-çift</td>
				<td></td>
				<td align="center" >6</td>	<td align="center" >2</td>	<td align="center" >10</td>	<td align="center" >10</td>
				<td></td>
				<td align="center" >15</td>	<td align="center" >3</td>	<td align="center" >20</td>	<td align="center" >20</td>
				<td></td>
				<td align="center" >32</td> <td align="center" >7</td>  <td align="center" >40</td> <td align="center" >40</td>
				<td></td>
				<td align="center" >50</td>	<td align="center" >11</td>	<td align="center" >60</td>	<td align="center" >80</td>
				<td></td>
				<td align="center" >70</td>	<td align="center" >15</td>	<td align="center" >80</td>	<td align="center" >160</td>
			</tr>
			<tr>
				<td class="point_blue" >renkli</td>
				<td></td>
				<td align="center" >6</td>  <td align="center" >2</td>  <td align="center" >10</td> <td align="center" >15</td>
				<td></td>
				<td align="center" >15</td> <td align="center" >3</td>  <td align="center" >20</td>	<td align="center" >30</td>
				<td></td>
				<td align="center" >32</td>	<td align="center" >7</td>	<td align="center" >40</td>	<td align="center" >60</td>
				<td></td>
				<td align="center" >50</td>	<td align="center" >11</td>	<td align="center" >60</td>	<td align="center" >120</td>
				<td></td>
				<td align="center" >70</td>	<td align="center" >15</td>	<td align="center" >80</td>	<td align="center" >240</td>
			</tr>
			<tr>
				<td colspan="26"></td>
			</tr>
			<tr>
				<td></td><td></td>
				<td style="background-color:#FB7;" align="center" >1</td>
				<td style="background-color:#FB7;" align="center" >2</td>
				<td style="background-color:#FB7;" align="center" >3</td>
				<td style="background-color:#FB7;" align="center" >4</td>
				<td  colspan="20">
				</td>
			</tr>
			<tr>
				<td class="point_blue" >10 dan düşmeli</td> <td align="center"> </td>
                <td align="center">5</td>   <td align="center" >2</td>  <td align="center" >8</td>	<td align="center" >10</td>
				<td colspan="20"></td>
			</tr>
			<tr>
				<td class="point_blue" >Hemen Oyna</td> <td align="center" ></td>
				<td align="center" >0</td>
				<td align="center" >0</td>
				<td align="center" >0</td>
				<td align="center" >0</td>
				<td  colspan="20"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
