<div class="list-top-photo-h">
    [[[webutils:get_hemen_nav()]]]
</div>
<section id="main">
<div class="top-space top-space-2 top-space-3"><h1>PaketİNİ Seç</h1></div>
<article class="article">
    <p>Bütçenize uyan bir paket seçerek, hemen hediye kazanmaya ve oyun oynamanın tadını çıkarmaya başlayabilirsiniz.</p>
    <div class="data-area">
	<div class="tab-area" id="payment-type-selector">[[[price_table:payment_type_selector()]]]</div>
	<div class="data">[[[price_table:table()]]]</div>
    </div>
    <div class="boxes">
	<div class="box">
	    <h2>Neden Üyelik Paketi<br/>Satın Almalıyım?</h2>
	    <ul>
	    <li>Avantajlar listesi </li>
	    <li>Praesent eget arcu orci, vitae commodo nibh.</li>
	    <li>Donec viverra sem bibendum elitus libero tincidunt.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    </ul>
	    <a href="#" class="btn">Detaylı Bilgi</a>
	</div>
	<div class="box">
	    <h2>Neden Üyelik Paketi<br/>Satın Almalıyım?</h2>
	    <ul>
	    <li>Lorem ipsum dolor sit amet, consectetur elit.</li>
	    <li>Praesent eget arcu orci, vitae commodo nibh.</li>
	    <li>Donec viverra sem bibendum elitus libero tincidunt.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    </ul>
	    <a href="#" class="btn">Detaylı Bilgi</a>
	</div>
	<div class="box">
	    <h2>Neden Üyelik Paketi<br/>Satın Almalıyım?</h2>
	    <ul>
	    <li>Lorem ipsum dolor sit amet, consectetur elit.</li>
	    <li>Praesent eget arcu orci, vitae commodo nibh.</li>
	    <li>Donec viverra sem bibendum elitus libero tincidunt.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    <li>Ut mollis lorem in ante lobortis auctor.</li>
	    <li>Donec nec risus purus, eu accumsan turpis.</li>
	    </ul>
	    <a href="#" class="btn">Detaylı Bilgi</a>
	</div>
    </div>
</article>
</section>
