<div class="head">
    [[[element_register:title()]]]
    [[[element_register:facebook()]]]
</div>
<div class="reg-form">
    [[[element_register:register_hintbox()]]]
    <form action="#">
    <fieldset>
	[[[element_register:field(username)]]]
	[[[element_register:field(email)]]]
	[[[element_register:field(passwd)]]]
	[[[element_register:field(con_passwd)]]]
	<div class="row">[[[element_register:field(birth)]]]</div>
	<div>[[[element_register:why_birthday()]]]</div>
	<div class="btn-holder">[[[element_register:register_button()]]]</div>
	<p>[[[element_register:terms_and_privacy()]]]</p>
    </fieldset>
    </form>
</div>
