<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[[[site_utils:detect_language()]]]" lang="[[[site_utils:detect_language()]]]">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="Tue, 01 Jan 2013 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[[[page:title()]]]</title>
  <link rel="stylesheet" type="text/css" href="/css/kindex.min.css" media="all" />
  <script src="/js/kindex.min.js" type="text/javascript" charset="utf-8"></script>
  [[[webutils:print_head()]]]
</head>
<body class="[[[webutils:page_module()]]]">
  [[[fb_utils:init()]]]
  [[[webutils:header_box()]]]
  [[[page:body()]]]
  [[[webutils:counters()]]]
  [[[webutils:footer_box()]]]

  <script type="text/javascript">[[[script]]]</script>
  <script type="text/javascript">$(document).ready(slideShow("[[[site_utils:detect_language()]]]"));</script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37172808-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
