<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_social_bg.png"/>
	<div style="left:284px; top:104px; font-size:75px;">
		SOSYALLEŞMEK
	</div>
	<div style="left:284px; top:192px; font-size:22px; color:#FC6404;">
		Burası sadece bir oyun ortamı değil.
	</div>
	<div style="left:284px; top:218px; font-size:22px; color:#FC6404;">
		İstediğin her şeyi paylaşabileceğin bir platform.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:410px; top:354px; font-size:16px;">
		<b>“Nasıl görünmek istiyorsan öyle ol!”</b> ya da
	</div>
	<div style="left:423px; top:372px; font-size:16px; color:#FC6404;">
		“Nasılsan öyle görün”!
	</div>
	<div style="left:448px; top:392px; font-size:16px;">
		Kendini ifade etmek için ne istiyorsan yap!
	</div>
	<div style="left:437px; top:421px; font-size:18px; color:#FC6404;">
		Resimlerin
	</div>
	<div style="left:512px; top:439px; font-size:26px; color:#FC6404;">
		Müziğin
	</div>
	<div style="left:470px; top:466px; font-size:22px; color:#FC6404;">
		Felsefen
	</div>
	<div style="left:542px; top:489px; font-size:16px;">
		için, dışın…
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:207px; top:607px; font-size:16px;">
		Bunları kiminle paylaşmak istiyorsan sen belirle.
	</div>
	<div style="left:322px; top:629px; font-size:24px; color:#FC6404;">
		Kendi dünyanı kur!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:452px; top:819px; font-size:16px;">
		Sohbet et, tartış, takıl, görüşlerini ilet, yada izle...
	</div>
	<div style="left:477px; top:837px; font-size:16px; color:#FC6404;">
		Yorum yap, beğen, beğenil yada beğenilmeyip eleştiril...
	</div>
	<div style="left:453px; top:854px; font-size:16px;">
		Nasıl istersen öyle!
	</div>
	<div style="left:479px; top:874px; font-size:16px; color:#FC6404;">
		Ne verirsen onu alacağını unutma!
	</div>
	<div style="left:511px; top:916px; font-size:16px;">
		<b>Eski</b> arkadaşların – <b>Yeni</b> arkadaşların
	</div>
	<div style="left:560px; top:933px; font-size:20px;">
		<b>Farklı</b> gruplar, <b>Farklı</b> insanlar…
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:541px; top:1096px; font-size:20px;">
		İfade Özgürlüğü!
	</div>
	<div style="left:403px; top:1124px; font-size:16px; color:#FC6404;">
		Yasaları zorlarsan birileri engeller elbet...
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:345px; top:1291px; font-size:18px;">
		Oyun aleminde bulduğuna sıkışmak zorunda değilsin artık…
	</div>
	<div style="left:373px; top:1314px; font-size:24px; color:#FC6404;">
		Kendi dünyanı kendin yarat…
	</div>
</div>
