<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_tournaments_bg.png"/>
	<div style="left:242px; top:103px; font-size:50px;">
		Oyun,
	</div>
	<div style="left:242px; top:150px; font-size:70px;">
		Yarışma ve Ödül…
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:250px; top:229px; font-size:20px;">
		Oyun keyfi ve rekabet <b>tavan</b> yapacak.
	</div>
	<div style="left:250px; top:252px; font-size:20px;">
		Dandik oyun puanları ile <b>iyi oyuncu</b> havalarına <b>SON</b>!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:281px; top:361px; font-size:18px;">
		Oyuncunun iyisi turnuvada belli olur. 
	</div>
	<div style="left:167px; top:390px; font-size:30px;">
		“<b>Er Meydanı Turnuva</b>”
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:345px; top:644px; font-size:18px;">
		Turnuva kazan, Ödül kazan…
	</div>
	<div style="left:386px; top:667px; font-size:32px;">
		<b>Ödül ne? mi?</b>
	</div>
	<div style="left:426px; top:708px; font-size:32px;">
		Sana kalmış..! 
	</div>
	<div style="left:314px; top:748px; font-size:18px;">
		Oyuncular turnuvaları kendileri yaratıp, <b>ödülü</b> kendileri belirler… 
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:274px; top:878px; font-size:18px;">
		İster ödülünü beğendiğin bir turnuvaya katıl,
	</div>
	<div style="left:104px; top:900px; font-size:18px;">
		ister katalogdan <b>istediğin ödülü seç</b> ve <b>kendi turnuvanı</b> yarat.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:290px; top:1018px; font-size:22px;">
		<b>Turnuvanı Yarat!</b>
	</div>
	<div style="left:344px; top:1040px; font-size:24px;">
		Duyur!
	</div>
	<div style="left:359px; top:1063px; font-size:26px;">
		<b>Tanıt!</b>
	</div>
	<div style="left:369px; top:1091px; font-size:22px;">
		Oyuncunu topla!
	</div>
	<div style="left:398px; top:1117px; font-size:24px;">
		<b>Yarış!</b>
	</div>
	<div style="left:436px; top:1145px; font-size:24px;">
		Kazan!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:373px; top:1386px; font-size:20px;">
		Ödülü al. Yürü git. Yenisine bak.
	</div>
	<div style="left:475px; top:1411px; font-size:20px;">
		<b>Bu kadar...</b>
	</div>
</div>
