<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_membership_bg.png"/>
	<div style="left:285px; top:120px; font-size:40px;">
		Hmm, but why should I purchase
	</div>
	<div style="left:285px; top:158px; font-size:60px;">
		a membership pack?
	</div>
	<div style="left:285px; top:222px; font-size:30px; color:#FC6404;">
		What are you playing the game for?
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:436px; top:300px; font-size:18px;">
		I want to <b>have fun</b> and spend some time.
	</div>
	<div style="left:460px; top:324px; font-size:18px;">
		I enjoy playing against <b>competition</b>.
	</div>
	<div style="left:498px; top:348px; font-size:18px;">
		I <b>REALLY ENJOY</b> playing.
	</div>
	<div style="left:446px; top:372px; font-size:18px;">
		I want to hang out and <b>meet new people</b>.
	</div>
	<div style="left:380px; top:396px; font-size:18px;">
		I need a new enviroment where I can better <b>express myself</b>.
	</div>
	<div style="left:520px; top:420px; font-size:18px;">
		I want to <b>conversate</b>.
	</div>
	<div style="left:408px; top:444px; font-size:18px; text-indent:-11px;">
		I want my time and efforts to <b>have a return</b> in some way.
	</div>
	<div style="left:421px; top:468px; font-size:18px; text-indent:-11px;">
		I'm bored of just clicking around when playing games.
	</div>
	<div style="left:480px; top:492px; font-size:18px; text-indent:-11px;">
		I want to <b>explore</b> new achievments.
	</div>
	<div style="left:388px; top:555px; font-size:40px; color:#FC6404;">
		I'm looking for much more!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:100px; top:688px; font-size:18px;">
		I'm tired of people who hide behind the invisible walls of the internet
	</div>
	<div style="left:236px; top:712px; font-size:18px;">
		and mess with anyone as they like.
	</div>
	<div style="left:254px; top:736px; font-size:18px;">
		I don't want unfinished games.
	</div>
	<div style="left:176px; top:760px; font-size:18px;">
		I don't want to be harrased and do nothing about it.
	</div>
	<div style="left:92px; top:784px; font-size:18px;">
		I don't want to pay for features like <b>uploading my own profile</b> or entering
	</div>
	<div style="left:170px; top:808px; font-size:18px;">
		<b>all available rooms</b> or even to <b>choose my own name</b>…
	</div>
	<div style="left:140px; top:832px; font-size:18px;">
		I want to see that I get a <b>response for what I expect</b> and also.
	</div>
	<div style="left:316px; top:856px; font-size:18px;">
		<b>for my comfort</b>.
	</div>
	<div style="left:252px; top:880px; font-size:18px;">
		I'm not a chicken to be plucked!
	</div>
	<div style="left:348px; top:985px; font-size:50px; color:#FC6404; transform:rotate(5deg); -ms-transform:rotate(5deg); -moz-transform:rotate(5deg); -webkit-transform:rotate(5deg); -o-transform:rotate(5deg);">
		if that's what you think,
	</div>
	<div style="left:310px; top:1041px; font-size:36px; transform:rotate(5deg); -ms-transform:rotate(5deg); -moz-transform:rotate(5deg); -webkit-transform:rotate(5deg); -o-transform:rotate(5deg);">
		you should register to KAKARANET!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:100px; top:1212px; font-size:18px; text-align:center;">
		We have designed everything so our <b>players can enjoy</b> their envi-<br>roment, <b>make new friends</b> and basically <b>have a nice time</b>.
	</div>
	<div style="left:97px; top:1290px; font-size:18px; text-align:center;">
		We have implemented technologies, <b>not yet existing in our country</b>.
	</div>
	<div style="left:100px; top:1313px; font-size:18px; text-align:center;">
		Kakaranet users will benefit from the <b>customized user preferences</b><br>that <b>do not exist anywhere else</b>.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:155px; top:1432px; font-size:18px; text-align:center;">
		<b>We worked hard</b>, and we are still <b>working really hard</b>.
		<br>
		With <b>your help</b>, our efforts will increasingly continue to <b>improve this community</b>!
	</div>
	<div style="left:180px; top:1681px; font-size:64px; color:#FC6404;">
		Welcome, and enjoy!
	</div>
</div>
