
<div class="info-page-header-panel ">
    <img class="info-page-bg image" src="/images/more_info/info_social_bg.png"/>
	<div style="left:284px; top:104px; font-size:75px;">
		Socialize
	</div>
	<div style="left:285px; top:192px; font-size:20px; color:#FC6404;">
		This is not like any other place where you can just play a game.
	</div>
	<div style="left:286px; top:218px; font-size:20px; color:#FC6404;">
		It's a platform where you can share anything you like!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:543px; top:354px; font-size:16px;">
		Appear as you are or be as you appear.
	</div>
	<div style="left:520px; top:374px; font-size:16px;">
		Whatever you need to describe yourself, do so…
	</div>
	<div style="left:631px; top:396px; font-size:16px; color:#FC6404;">
		Your music,
	</div>
	<div style="left:631px; top:417px; font-size:18px; color:#FC6404;">
		your ideas,
	</div>
	<div style="left:604px; top:436px; font-size:26px; color:#FC6404;">
		your photos!
	</div>
	<div style="left:602px; top:466px; font-size:22px;">
		Inside and out!
	</div>
	<div style="left:592px; top:493px; font-size:16px; color:#FC6404;">
		You are welcome here!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:80px; top:607px; font-size:18px;">
		Create your world and only share with the people YOU want…
	</div>
	<div style="left:186px; top:636px; font-size:24px; color:#FC6404;">
		After all it's your world!
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:452px; top:790px; font-size:18px;">
		Conversate, debate, hang out, comment or just spectate…
	</div>
	<div style="left:567px; top:814px; font-size:18px; color:#FC6404;">
		Like, be liked or be disliked.
	</div>
	<div style="left:566px; top:837px; font-size:18px;">
		It goes however you want it.
	</div>
	<div style="left:610px; top:862px; font-size:20px; color:#FC6404;">
		Keep in mind!
	</div>
	<div style="left:536px; top:888px; font-size:18px;">
		What <b>goes</b> around – <b>comes</b> around!
	</div>
	<div style="left:541px; top:933px; font-size:20px;">
		Your old mates, new buddies…
	</div>
	<div style="left:534px; top:958px; font-size:20px;">
		<b>Different</b> groups, <b>different</b> people.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:300px; top:1066px; font-size:22px;">
		Freedom of speech!
	</div>
	<div style="left:180px; top:1112px; font-size:20px; color:#FC6404;">
		Don't break the rules though, you will be prevented
	</div>
	<div style="left:355px; top:1140px; font-size:20px; color:#FC6404;">
		if you do.
	</div>
</div>
<div class="info-page-content-panel ">
	<div style="left:345px; top:1260px; font-size:20px;">
		You are not restricted to what you find in the game enviroment
	</div>
	<div style="left:568px; top:1286px; font-size:20px;">
		anymore…
	</div>
	<div style="left:470px; top:1324px; font-size:24px; color:#FC6404;">
		Create YOUR OWN world.
	</div>
</div>
