<div class="list-top-photo-h">
            [[[webutils:get_hemen_nav()]]]
</div>
<section id="main">
            <div class="top-space top-space-2 top-space-3">
                <h1>Ödeme</h1>
            </div>
            <div class="detail-block">
                <div class="box-l">
                    <div class="frame">
                        <div class="in">
                            <span>Sipariş detaylarınızı yanda tarafta görebilirsiniz.<br/>Lütfen aşağıdaki ödeme türlerinden birini seçiniz.</span>
                        </div>
                    </div>
                </div>
                <div class="box-r">
                    <div class="col-01">
                        [[[page:package_name()]]]
                    </div>
                    <div class="col-02">
                        [[[page:package_info()]]]
                    </div>
                    <div class="col-03">
                        [[[page:package_price()]]]
                    </div>
                </div>
            </div>
            <div class="tab-area" id="payment_info">
            [[[page:form()]]]
            </div>
        </section>
