<div id="body"></div>
    
    <div id="slideshow-outer">

        <div id="slideshow-inner">

            <div id="slideshow">

                <div class="slide clearfix">
                    <div class="sleft">
                        <h3 class="man"><span>Sadece istediginiz oyuncularla oynayin!</span></h3>
                    </div>
                    <div class="sright">
                        <h2>Kriterlerinizi Belirleyin</h2>
                        <h1>Rakibinizi Siz Secin!</h1>
                            
                        <ul>
                            <li>Kalitesiz insanlarla oynamak zorunda degilsiniz.</li>
                            <li>Nasil oyuncularla oynamak istediginizi kendiniz belirleyin</li>
                            <li>Oyun kriterlerini kendiniz secin</li>
                            <li>Istediginiz turde ve size uyan ortaklarla/oyuncularla oynayin</li>
                        </ul>
                        
                        <p><a href="#" class="btn-grey">Detayli Bilgi</a> &nbsp;&nbsp;&nbsp;
                            <a href="#" class="btn-org">ÜYE OL!</a></p>
                    </div>
                </div>

                <ol id="slide-nav">
                    <li><a href="#">Hediyeler</a></li>
                    <li><a href="#">Turnuvalar</a></li>
                    <li><a href="#">Sosyallesin!</a></li>
                    <li><a href="#" class="active">Nasil Istiyorsaniz Oyle</a></li>
                    <li class="prev"><a href="#"><img src="images/arr-left.png" alt=""></a></li>
                    <li class="next"><a href="#"><img src="images/arr-right.png" alt=""></a></li>
                </ol>
            </div>
        </div>
    </div>

    <div id="homepage-outer">

        <div id="homepage">
        
            <ul id="hemen-nav" class="clearfix">
                <li><a href="#" id="batak"></a></li>
                <li><a href="#" id="king"></a></li>
                <li><a href="#" id="tavla"></a></li>
                <li><a href="#" id="okey"></a></li>
                <li class="last"><a href="#" id="sorbi"></a></li>
            </ul>
        
            <div id="online-bar" class="clearfix">
            
                <div class="ob-left">
                    <h3>Online oyuncu Sayisi: [[[user_counter:user_count()]]]</h3>
                </div>
                
                <div class="ob-right">
                
                    <ul id="ob-nav" class="clearfix">
                        <li><a href="#">Batak</a> <span>24247</span></li>
                        <li><a href="#">King</a> <span>13871</span></li>
                        <li><a href="#">Tavla</a> <span>24782</span></li>
                        <li><a href="#">Okey</a> <span>68412</span></li>
                        <li><a href="#">Sorbi</a> <span>78452</span></li>
                    </ul>
                </div>
            </div>
        </div>
     </div>