<div class="holder wfid_temp145082 panel" style="margin-left:30px; width:800px; font-size:14px;">
	<h1 class="wfid_temp145103 h1" style="font-size:26px; margin-bottom:14px;">
		OKEY GAME RULES
	</h1>
	<h1 class="wfid_temp145123 h1" style="font-size:20px; margin-bottom:10px;">
		GAMEPLAY
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp145142 table">
		<tbody>
			<tr class="wfid_temp145163 tablerow">
				<td class="wfid_temp145181 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Indicator:
				</td>
				<td class="wfid_temp145206 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					After the tiles are dealt, on the right bottom corner you can see the                                Indicator tile that will be placed in the highlighted zone. A player who has that                                same tile, can double click it to earn the dedicated points. This must be done                                before the first tile has been drawn, and not after.
				</td>
			</tr>
			<tr class="wfid_temp145231 tablerow">
				<td class="wfid_temp145248 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Joker:
				</td>
				<td class="wfid_temp145272 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The tile containing the next number after the Indicator written on it. This                                tile is a wild card that can be used to replace any other tile as the player desires.                                (There are 2 fake joker tiles to replace these tiles that will be used as joker tiles).
				</td>
			</tr>
			<tr class="wfid_temp145297 tablerow">
				<td class="wfid_temp145314 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Sets &amp; opening a hand:
				</td>
				<td class="wfid_temp145403 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Consecutive numbers of the same color ( 7-8-9 All                                green, or 2-3-4 all yellow etc...)                                Same numbers from different colors ( 7-7-7 Green-                                Yellow-Red etc...)                                Tile 1 can be used after tile 13 when using                                consecutive numbers.                                It is necessary that all 14 tiles are used in sets when                                opening a hand.                                Possible set variations can be in groups of 4-4-3-3                                or 5-3-3-3 or 5-5-4 which all make 14.                                There must not be any gaps between the                                consecutive numbers (3-4-6 is not acceptable).
				</td>
			</tr>
			<tr class="wfid_temp145429 tablerow">
				<td class="wfid_temp145447 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double:
				</td>
				<td class="wfid_temp145471 tablecell" style="padding:5px; margin-top:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					7 doubles can also open a hand. These doubles must be made of a                                set of two tiles that have the same color                                and number. ( 7- 7 both                                red or 4-4 both green etc...) This is called going double. It is required to arrange                                the tiles 2 by 2 with a gap in between them. When the 15th tile is drawn and                                placed upon the pile, you can declare that you have completed the hand.
				</td>
			</tr>
			<tr class="wfid_temp145496 tablerow">
				<td class="wfid_temp145513 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Throw the Joker:
				</td>
				<td class="wfid_temp145537 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					When a player discards the joker tile upon opening a hand,                                then the player receives the ‘Throw the Joker’ point instead of the hand point.
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class="wfid_temp145563 h1" style="font-size:20px;">
		TYPE OF GAMES
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp145583 table">
		<tbody>
			<tr class="wfid_temp145604 tablerow">
				<td class="wfid_temp145621 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Standart:
				</td>
				<td class="wfid_temp145646 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box wfid_temp145669 panel" style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp145692 table">
							<tbody>
								<tr class="wfid_temp145712 tablerow">
									<td class="wfid_temp145730 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Indicator
									</td>
									<td class="wfid_temp145753 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
									<td class="wfid_temp145777 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										point
									</td>
								</tr>
								<tr class="wfid_temp145880 tablerow">
									<td class="wfid_temp145899 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Hand
									</td>
									<td class="wfid_temp145923 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										3
									</td>
									<td class="wfid_temp145946 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr class="wfid_temp145971 tablerow">
									<td class="wfid_temp145989 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Joker
									</td>
									<td class="wfid_temp146012 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td class="wfid_temp146036 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr class="wfid_temp146060 tablerow">
									<td class="wfid_temp146078 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going double
									</td>
									<td class="wfid_temp146102 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td class="wfid_temp146125 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr class="wfid_temp146150 tablerow">
									<td class="wfid_temp146167 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going double and joker
									</td>
									<td class="wfid_temp146286 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										&nbsp;12&nbsp;
									</td>
									<td class="wfid_temp146311 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr class="wfid_temp146340 tablerow">
				<td class="wfid_temp146358 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Odd-even:
				</td>
				<td class="wfid_temp146382 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The game type where the game point is determined relative to                                the indicator being even or odd. The game points remain the same when the                                indicator is an odd number. But when the indicator is an even number the game                                points are doubled.
				</td>
			</tr>
			<tr class="wfid_temp146407 tablerow">
				<td class="wfid_temp146424 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful:
				</td>
				<td class="wfid_temp146448 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The game type where the game point is determined relative to the                                color of the indicator. The game points remain the same when the indicator is                                a yellow/blue odd number. The game points are doubled when the indicator                                is a yellow/blue even number or black/red odd number. The game points are                                quadrupled when the indicator is a black/red even number.
				</td>
			</tr>
			<tr class="wfid_temp146473 tablerow">
				<td class="wfid_temp146491 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Pot Points:
				</td>
				<td class="wfid_temp146515 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Odd-Even and Colorful games have Pot Points. The Pot, is where the                                in-game bonus points are collected. The game points are collected within the                                pot during the game including the indicator point. When a player throws a joker,                                goes double, do an eighter or a color hand, in addition to those points, the player                                gets the points in the pot.                                When the pot is emptied, the system adds the game point before a new hand is                                started so the pot never stays empty.
				</td>
			</tr>
			<tr class="wfid_temp146540 tablerow">
				<td class="wfid_temp146558 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px; padding-top:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					Countdown from 10:
				</td>
				<td class="wfid_temp146582 tablecell" style="padding:5px; padding-top:12px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box wfid_temp146604 panel" style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp146628 table">
							<tbody>
								<tr class="wfid_temp146649 tablerow">
									<th class="wfid_temp146666 tableheader" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Every player starts with 10 points
									</th>
									<th class="wfid_temp146693 tableheader" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</th>
								</tr>
								<tr class="wfid_temp146719 tablerow">
									<td class="wfid_temp146736 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Indicator
									</td>
									<td class="wfid_temp146760 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
								</tr>
								<tr class="wfid_temp146785 tablerow">
									<td class="wfid_temp146803 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Hand
									</td>
									<td class="wfid_temp146828 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										2
									</td>
								</tr>
								<tr class="wfid_temp146853 tablerow">
									<td class="wfid_temp146870 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Joker
									</td>
									<td class="wfid_temp146895 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr class="wfid_temp147053 tablerow">
									<td class="wfid_temp147075 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going Double
									</td>
									<td class="wfid_temp147100 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr class="wfid_temp147124 tablerow">
									<td class="wfid_temp147142 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</td>
									<td class="wfid_temp147166 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points are deducted in this manner 
										<br class="wfid_temp147189 br"/>
										and the first to finish their points wins.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class="wfid_temp147213 h1" style="font-size:20px; margin-bottom:4px;">
		Different ways to finish a game
	</h1>
	<div class="wfid_temp147234 panel" style="padding:10px 30px;">
		In addition you can find the specific detailed point system for even-odd and                                colorful games below.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp147260 table">
		<tbody>
			<tr class="wfid_temp147282 tablerow">
				<td class="wfid_temp147300 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful hand:
				</td>
				<td class="wfid_temp147325 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					This type of hand must only consist of tiles of the same color. As in                                usual, jokers may be used to replace any missing tiles. When a player opens this                                hand, the hand points are multiplied by 8. If a player opens this hand and throws                                a joker, then the game points are multiplied by 16.
				</td>
			</tr>
			<tr class="wfid_temp147349 tablerow">
				<td class="wfid_temp147367 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color:
				</td>
				<td class="wfid_temp147392 tablecell" style="padding:5px; text-align:left;" align="left" valign="middle" colspan="1" rowspan="1">
					This type of hand must only consist of doubles of the                                same color. The game points are double of a colorful hand.
				</td>
			</tr>
			<tr class="wfid_temp147416 tablerow">
				<td class="wfid_temp147434 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Eight Tiles:
				</td>
				<td class="wfid_temp147458 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					If a player collects all 8 of a particular number in their board and                                click the Eight Tiles button, then regardless to whether the player opened a hand                                or not, they win the game and receive quadruple game points in addition to the                                points in the pot.
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp147484 table">
		<tbody>
			<tr class="wfid_temp147505 tablerow">
				<th class="wfid_temp147523 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp147548 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp147572 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Odd-even
				</th>
				<th class="wfid_temp147870 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Colorful
				</th>
				<th class="wfid_temp147901 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp147929 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
			</tr>
			<tr class="wfid_temp147958 tablerow">
				<th class="wfid_temp147979 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp148006 tableheader" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					standart
				</th>
				<th class="wfid_temp148034 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					odd
				</th>
				<th class="wfid_temp148065 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					even
				</th>
				<th class="wfid_temp148095 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yellow-and-blue EVEN
					<br class="wfid_temp148121 br"/>
					black-and-red ODD
				</th>
				<th class="wfid_temp148143 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Black and red EVEN
				</th>
				<th class="wfid_temp148171 tableheader" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Countdown from 10
				</th>
				<th class="wfid_temp148201 tableheader" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Pot points
				</th>
			</tr>
			<tr class="wfid_temp148229 tablerow">
				<th class="wfid_temp148251 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Indicator
				</th>
				<td class="wfid_temp148280 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp148307 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp148334 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp148362 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp148389 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp148418 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp148446 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp148476 tablerow">
				<th class="wfid_temp148496 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Hand
				</th>
				<td class="wfid_temp148525 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp148552 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp148579 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp148609 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp148637 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp148664 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp148691 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp148721 tablerow">
				<th class="wfid_temp148740 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Throwing a joker
				</th>
				<td class="wfid_temp148771 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp148799 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp148826 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp148856 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp148883 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp148910 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp148939 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp148968 tablerow">
				<th class="wfid_temp148988 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double
				</th>
				<td class="wfid_temp149017 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp149379 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp149413 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp149442 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp149470 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp149497 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp149528 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp149557 tablerow">
				<th class="wfid_temp149577 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Eight tiles
				</th>
				<td class="wfid_temp149607 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp149634 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp149661 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp149690 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp149719 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp149746 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp149775 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yours
				</td>
			</tr>
			<tr class="wfid_temp149803 tablerow">
				<th class="wfid_temp149822 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful hand
				</th>
				<td class="wfid_temp149853 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp149882 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp149910 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp149938 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp149965 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp149993 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150022 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp150053 tablerow">
				<th class="wfid_temp150073 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color
				</th>
				<td class="wfid_temp150103 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150130 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp150157 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp150186 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp150214 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp150244 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150273 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp150302 tablerow">
				<th class="wfid_temp150322 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with joker
				</th>
				<td class="wfid_temp150352 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150379 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp150408 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp150437 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp150464 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp150491 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150520 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp150548 tablerow">
				<th class="wfid_temp150568 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color + joker
				</th>
				<td class="wfid_temp150600 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150627 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp150656 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp150683 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp150711 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					384
				</td>
				<td class="wfid_temp150738 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp150769 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr class="wfid_temp150797 tablerow">
				<th class="wfid_temp150817 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					False opening
				</th>
				<td class="wfid_temp150847 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td class="wfid_temp150874 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td class="wfid_temp150902 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td class="wfid_temp150932 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td class="wfid_temp150959 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-36
				</td>
				<td class="wfid_temp150986 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-2
				</td>
				<td class="wfid_temp151016 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp151069 tablerow">
				<th class="wfid_temp151091 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Other players during false opening
				</th>
				<td class="wfid_temp151123 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp151151 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp151183 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp151210 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp151237 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp151266 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp151295 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp151323 tablerow">
				<th class="wfid_temp151345 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Addition to the pot when the pot is empty
				</th>
				<td class="wfid_temp151375 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp151402 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp151491 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp151519 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp152083 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					16
				</td>
				<td class="wfid_temp152129 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td class="wfid_temp152158 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
		</tbody>
	</table>
</div>
