<div class="holder wfid_temp781908 panel" style="margin-left:30px; width:800px; font-size:14px;">
	<h1 class="wfid_temp781948 h1" style="font-size:26px; margin-bottom:14px;">
		OKEY OYUNLARI HAKKINDA
	</h1>
	<h1 class="wfid_temp781984 h1" style="font-size:20px; margin-bottom:10px;">
		OYUNU OYNAMA
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp782114 table">
		<tbody>
			<tr class="wfid_temp782152 tablerow">
				<td class="wfid_temp782184 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme taşı:
				</td>
				<td class="wfid_temp782227 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Taşlar dağıtıldıktan sonra sağ alt köşede "&#8239;gösterme&#8239;" bölümüne açılan taş. Elinde göstermesi olan gösterme taşının üzerini çift tıklayarak oyundaki (&#8239;varsa&#8239;) gösterme puanını kazanır. Gösterme ilk el taş çekilmeden yapılmalıdır. Taş çekildikten sonra gösterme yapılamaz.
				</td>
			</tr>
			<tr class="wfid_temp782269 tablerow">
				<td class="wfid_temp782404 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Okey taşı:
				</td>
				<td class="wfid_temp782447 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Göstermenin bir sayı yukarısı (&#8239;aynı renk olmak şartı ile&#8239;) okey taşıdır. Bu taş joker niteliğinde olup elde eksik olan istenilen renkteki sayı yerine kullanılır. her el iki adet taş okey taşı yerine geçer. (&#8239;okey sayılan taşın yerine kullanılmak üzere 2 tane sahte okey bulunur&#8239;).
				</td>
			</tr>
			<tr class="wfid_temp782489 tablerow">
				<td class="wfid_temp782519 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Açar taşlar:
				</td>
				<td class="wfid_temp782560 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					aynı renkten sıralı hale gelmesi, (&#8239;örn. Yeşil 1, 2, 3, 4, sarı 7, 8, 9, kırmızı 10, 11, 12 gibi&#8239;) 1sayılı taş seride 13 ten sonrada kullanılabilir (&#8239;11,12,13,1 gibi&#8239;) aynı sayıların farklı renklerden bir seri uluşturması (&#8239;sarı- yeşil-kırmızı 2'li gibi&#8239;) eldeki taşların tamamının (&#8239;14 tane&#8239;) açarlı gruplar oluşturması oyun bitme şartıdır. Bu gruplar 4 &ndash; 4 &ndash; 3 &ndash; 3 lü olabileceği gibi 5 &ndash; 3 &ndash; 3 &ndash; 3 lü de veya 14 taşı açar hale gelen 5 &ndash; 5 &ndash; 4 te olabilir. Seri taşlar arasında boşluk olmamalıdır. sürükleyip bırakarak oyunu bitirir.
				</td>
			</tr>
			<tr class="wfid_temp782601 tablerow">
				<td class="wfid_temp782633 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Çift açmak:
				</td>
				<td class="wfid_temp782674 tablecell" style="padding:5px; margin-top:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Aynı renk ve sayıdan olmak üzere 7 çift taş da açar seri oluşturur. (&#8239;sahte okey çifti de dahildir&#8239;). Buna " ÇİFT AÇMAK " denir. Çift olan taşlar yanyana dururken farklı çiftleri en az bir boşluk bırakarak dizmek gerekir. 15. taş çekilen taşların üzerine konarak oyun bitti bilgisi verilir.
				</td>
			</tr>
			<tr class="wfid_temp782719 tablerow">
				<td class="wfid_temp782760 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Okey atmak:
				</td>
				<td class="wfid_temp782803 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Taşını açan yere oyun bitme taşı olarak "okey"i atarsa, oyundaki açma puanını değil okey atma puanını alır. 
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class="wfid_temp782852 h1" style="font-size:20px;">
		OYUN ÇEŞİTLERİ
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp782888 table">
		<tbody>
			<tr class="wfid_temp782924 tablerow">
				<td class="wfid_temp783091 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Standart:
				</td>
				<td class="wfid_temp783139 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box wfid_temp783179 panel" style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp783218 table">
							<tbody>
								<tr class="wfid_temp783255 tablerow">
									<td class="wfid_temp783284 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Gösterme
									</td>
									<td class="wfid_temp783326 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
									<td class="wfid_temp783367 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr class="wfid_temp783408 tablerow">
									<td class="wfid_temp783433 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Açma
									</td>
									<td class="wfid_temp783467 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										3
									</td>
									<td class="wfid_temp783505 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr class="wfid_temp783694 tablerow">
									<td class="wfid_temp783726 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Okey atma
									</td>
									<td class="wfid_temp783766 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td class="wfid_temp783857 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr class="wfid_temp783901 tablerow">
									<td class="wfid_temp783931 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çift açma
									</td>
									<td class="wfid_temp783973 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td class="wfid_temp784013 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr class="wfid_temp784057 tablerow">
									<td class="wfid_temp784088 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çiftte okey atma
									</td>
									<td class="wfid_temp784130 tablecell" style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										&nbsp;12&nbsp;
									</td>
									<td class="wfid_temp784171 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr class="wfid_temp784217 tablerow">
				<td class="wfid_temp784432 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Tek-çift:
				</td>
				<td class="wfid_temp784464 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme nin tek yada çift olmasına göre puanların belirlendiği oyun şeklidir. Tek sayılı gösterme olduğunda standart oyun puanları geçerli olur. Çift sayılı gösterme olduğunda standart oyun puanlarının 2 katı kabul edilir.
				</td>
			</tr>
			<tr class="wfid_temp784506 tablerow">
				<td class="wfid_temp784526 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkli:
				</td>
				<td class="wfid_temp784564 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme taşının rengine göre puanlamanın yapıldığı oyundur. Gösterme SARI-MAVİ tek sayı olursa STANDART OYUN PUANLARI. Gösterme SARI-MAVİ çift sayı ve KIRMIZI-SİYAH tek sayı olursa 2 katı puan hesaplanır. Gösterme KIRMIZI-SİYAH çift sayı olursa 4 katı puan hesaplanır.
				</td>
			</tr>
			<tr class="wfid_temp784596 tablerow">
				<td class="wfid_temp784623 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanak puanı:
				</td>
				<td class="wfid_temp784677 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Tek-çift ve renkli oyunlar "çanak" lıdır. "Çanak", oyun içi bonus puanların toplandığı yerdir. Açılışta oyun puanı sistem tarafından çanağa yazılır. Oyun içinde yapılmayan gösterme puanları çanağa eklenir. Okey atan, çift açan, 8 taş yapan, renk açanlar açma puanlarına ilave olarak. Çanak içindeki birikmiş puanı da kazanırlar. Boşalan çanağa, sistem tarafından oyun puanı yeniden eklenir. Böylece çanak hiçbir el için boş kalmamış olur.
				</td>
			</tr>
			<tr class="wfid_temp784718 tablerow">
				<td class="wfid_temp784745 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px; padding-top:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					10&#39; dan düşmeli oyun:
				</td>
				<td class="wfid_temp784786 tablecell" style="padding:5px; padding-top:12px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box wfid_temp784825 panel" style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp785203 table">
							<tbody>
								<tr class="wfid_temp785250 tablerow">
									<th class="wfid_temp785290 tableheader" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Oyuna her oyuncu 10 puan ile başlar
									</th>
									<th class="wfid_temp785342 tableheader" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</th>
								</tr>
								<tr class="wfid_temp785396 tablerow">
									<td class="wfid_temp785427 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Gösterme
									</td>
									<td class="wfid_temp785476 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
								</tr>
								<tr class="wfid_temp785523 tablerow">
									<td class="wfid_temp785558 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Açma
									</td>
									<td class="wfid_temp785629 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										2
									</td>
								</tr>
								<tr class="wfid_temp785708 tablerow">
									<td class="wfid_temp785765 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Okey atma
									</td>
									<td class="wfid_temp785835 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr class="wfid_temp785916 tablerow">
									<td class="wfid_temp785978 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çift açma
									</td>
									<td class="wfid_temp786049 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr class="wfid_temp786122 tablerow">
									<td class="wfid_temp786181 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</td>
									<td class="wfid_temp786249 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										olmak üzere puan düşümü yapılır. 
										<br class="wfid_temp786318 br"/>
										Puanını ilk önce bitiren oyuncu oyunu kazanır.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class="wfid_temp786418 h1" style="font-size:20px; margin-bottom:4px;">
		FARKLI OYUN BİTİRME ÇEŞİTLERİ
	</h1>
	<div class="wfid_temp786481 panel" style="padding:10px 30px;">
		Ayrıca Tek-çift ve Renkli oyunlar için geçerli aşağıda açıklanan                                 özel açma şekilleri de bulunur ve ikramiyeli puan hesabı yapılır.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp787197 table">
		<tbody>
			<tr class="wfid_temp787280 tablerow">
				<td class="wfid_temp787343 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renk açmak:
				</td>
				<td class="wfid_temp787414 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Açmanın eldeki taşların tamamının aynı renkten taşlarla yapılması esasına dayanır. Normal oyundaki gibi okeyler eksik taşların yerine kullanılabilir. Oyuna esas puanlamanın 8 katı açma puanı olarak uygulanır. Bu durumda okey atılırsa 16 katı uygulanır.
				</td>
			</tr>
			<tr class="wfid_temp787485 tablerow">
				<td class="wfid_temp787518 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten çift açmak:
				</td>
				<td class="wfid_temp787587 tablecell" style="padding:5px; text-align:left;" align="left" valign="middle" colspan="1" rowspan="1">
					Bütün çift taşların aynı renkten olması hali. Renk açmanın iki katı puan uygulanır. Okey taşları kullanılabilir. 
				</td>
			</tr>
			<tr class="wfid_temp787656 tablerow">
				<td class="wfid_temp787713 tablecell" style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Sekiz taş:
				</td>
				<td class="wfid_temp787756 tablecell" style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Oyun esnasında, oyun taşları içinde herhangi bir taşın 8 tanesini birden ıstakada toplamak demektir. Örn. 8 tane 4'lü gibi. 8 taşı toplayan oyuncu ekranındaki "8 Taş" düğmesini tıkladığında eli açıp açmamasına bakılmaksızın oyun puanının 4 katı puanı ve çanakta biriken puanı ödül olarak kazanır. 
				</td>
			</tr>
		</tbody>
	</table>
	<div class="wfid_temp787829 panel" style="padding:10px 30px;">
		Oyun ve puanlama seçenekleri masa açılışında set edilir. Masa açılışında herhangi bir oyun seçilmez ise standart oyun yüklenir.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp787901 table">
		<tbody>
			<tr class="wfid_temp787963 tablerow">
				<th class="wfid_temp788019 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp788086 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp788131 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Tek-çift
				</th>
				<th class="wfid_temp788174 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Renkli
				</th>
				<th class="wfid_temp799325 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp799374 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
			</tr>
			<tr class="wfid_temp799404 tablerow">
				<th class="wfid_temp799429 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th class="wfid_temp799464 tableheader" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					standart
				</th>
				<th class="wfid_temp799493 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					tek
				</th>
				<th class="wfid_temp799523 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					çift
				</th>
				<th class="wfid_temp799558 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					sarı-mavi ÇİFT
					<br class="wfid_temp799596 br"/>
					siyah-kırmızı TEK
				</th>
				<th class="wfid_temp799620 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Siyah kırmızı ÇİFT
				</th>
				<th class="wfid_temp799651 tableheader" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					10&#39;dan düşmeli
				</th>
				<th class="wfid_temp799679 tableheader" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanakta biriken
				</th>
			</tr>
			<tr class="wfid_temp799712 tablerow">
				<th class="wfid_temp799732 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme
				</th>
				<td class="wfid_temp799761 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp799792 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp799819 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp799847 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp799876 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp799903 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp799930 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp799961 tablerow">
				<th class="wfid_temp799980 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Açma
				</th>
				<td class="wfid_temp800008 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp800037 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp800066 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp800094 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp800122 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp800149 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp800179 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp800209 tablerow">
				<th class="wfid_temp800230 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Okey atma
				</th>
				<td class="wfid_temp800258 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp800286 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp800314 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp800341 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp800369 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp800398 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp800847 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp800907 tablerow">
				<th class="wfid_temp800938 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Taş çifti
				</th>
				<td class="wfid_temp800981 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp801024 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp801064 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp801105 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp801148 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp801193 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp801232 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp801275 tablerow">
				<th class="wfid_temp801303 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					8 taş
				</th>
				<td class="wfid_temp801350 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp801404 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp801446 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp801487 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp801528 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp801573 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp801610 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yapana
				</td>
			</tr>
			<tr class="wfid_temp801654 tablerow">
				<th class="wfid_temp801686 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renk açma
				</th>
				<td class="wfid_temp801734 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp801777 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td class="wfid_temp801823 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp801874 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp801920 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp801966 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp801999 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp802029 tablerow">
				<th class="wfid_temp802051 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten Taş çifti
				</th>
				<td class="wfid_temp802087 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802117 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp802145 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp802175 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp802202 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp802258 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802304 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp802352 tablerow">
				<th class="wfid_temp802387 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten okey atma
				</th>
				<td class="wfid_temp802432 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802478 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td class="wfid_temp802513 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp802562 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp802605 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp802641 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802680 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp802723 tablerow">
				<th class="wfid_temp802758 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten Taş çifti okey atma
				</th>
				<td class="wfid_temp802788 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802817 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td class="wfid_temp802844 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp802871 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td class="wfid_temp802900 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					384
				</td>
				<td class="wfid_temp802929 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp802956 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr class="wfid_temp802986 tablerow">
				<th class="wfid_temp803006 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Yanlış açan
				</th>
				<td class="wfid_temp803049 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td class="wfid_temp803080 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td class="wfid_temp803108 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td class="wfid_temp803137 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td class="wfid_temp803169 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-36
				</td>
				<td class="wfid_temp803197 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-2
				</td>
				<td class="wfid_temp803224 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp803253 tablerow">
				<th class="wfid_temp803273 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Yanlış açışta diğerleri
				</th>
				<td class="wfid_temp803304 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp803332 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp803359 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp803386 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp803415 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td class="wfid_temp803442 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp804062 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr class="wfid_temp804101 tablerow">
				<th class="wfid_temp804123 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanak boşalınca çanağa eklenen
				</th>
				<td class="wfid_temp804153 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp804183 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp804213 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp804240 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp804269 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					16
				</td>
				<td class="wfid_temp804297 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td class="wfid_temp804326 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class="wfid_temp804358 h1" style="font-size:20px; margin-bottom:4px;">
		Hediye puanı (kakuş), kota ve oyun puanı parametreleri aşağıdaki gibidir.
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp804390 table">
		<tbody>
			<tr class="wfid_temp804416 tablerow">
				<td class="wfid_temp804438 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div class="wfid_temp804465 panel" style="background-color:#FB7; padding:0 6px;">
						1
					</div>
				</td>
				<td class="wfid_temp804490 tablecell" style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kakuş (sistemin verdiği hediye puanı &mdash; oyunun 1.si için)
				</td>
			</tr>
			<tr class="wfid_temp804524 tablerow">
				<td class="wfid_temp804550 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div class="wfid_temp804593 panel" style="background-color:#FB7; padding:0 6px;">
						2
					</div>
				</td>
				<td class="wfid_temp804620 tablecell" style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kakuş (sistemin verdiği hediye puanı &mdash; masadaki diğerleri için)
				</td>
			</tr>
			<tr class="wfid_temp804655 tablerow">
				<td class="wfid_temp804678 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div class="wfid_temp804707 panel" style="background-color:#FB7; padding:0 6px;">
						3
					</div>
				</td>
				<td class="wfid_temp804736 tablecell" style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kota (oyuncudan düşülecek kota sayısı)
				</td>
			</tr>
			<tr class="wfid_temp804765 tablerow">
				<td class="wfid_temp804786 tablecell" style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div class="wfid_temp804813 panel" style="background-color:#FB7; padding:0 6px;">
						4
					</div>
				</td>
				<td class="wfid_temp804840 tablecell" style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					oyun puanı (oyun sonunda kazananın elde edeceği oyun puanı)
				</td>
			</tr>
		</tbody>
	</table>
	<br class="wfid_temp804872 br"/>
</div>
<div class="holder wfid_temp804901 panel" style="margin-left:30px; width:900px; font-size:14px;">
	<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp804936 table">
		<tbody>
			<tr class="wfid_temp804971 tablerow">
				<td class="wfid_temp805001 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805046 tablecell" style="padding:5px; font-weight:bold; font-size:16px; background-color:#ABF;" align="center" valign="middle" colspan="1" rowspan="1">
					oyun
				</td>
				<td class="wfid_temp805081 tablecell" style="padding:5px; font-weight:bold; font-size:16px; background-color:#89C;" align="center" valign="middle" colspan="1" rowspan="1">
					türü
				</td>
				<td class="wfid_temp805112 tablecell" style="padding:5px;" align="left" valign="middle" colspan="25" rowspan="1">
				</td>
			</tr>
			<tr class="wfid_temp805142 tablerow">
				<td class="wfid_temp805162 tablecell" style="padding:5px; background-color:#BE8; font-weight:bold;" align="right" valign="middle" colspan="1" rowspan="1">
					seçilen oyun sayısı
				</td>
				<td class="wfid_temp805190 tablecell" style="padding:5px; background-color:#BE8; " align="left" valign="middle" colspan="2" rowspan="1">
				</td>
				<td class="wfid_temp805219 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805247 tablecell" style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					10
				</td>
				<td class="wfid_temp805274 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td class="wfid_temp805303 tablecell" style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					20
				</td>
				<td class="wfid_temp805336 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td class="wfid_temp805364 tablecell" style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					40
				</td>
				<td class="wfid_temp805392 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td class="wfid_temp805421 tablecell" style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					60
				</td>
				<td class="wfid_temp805448 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td class="wfid_temp805477 tablecell" style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					80
				</td>
			</tr>
			<tr class="wfid_temp805507 tablerow">
				<td class="wfid_temp805527 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805554 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805583 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805610 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805639 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp805667 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp805698 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp805726 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp805753 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp805781 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp805810 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp805836 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp806294 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp806319 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp806343 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp806367 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp806391 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp806415 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp806438 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp806462 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp806485 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp806509 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp806533 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp806556 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp806580 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp806603 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp806627 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp806650 tablecell" style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
			</tr>
			<tr class="wfid_temp806676 tablerow">
				<td class="wfid_temp806694 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="8">
				</td>
				<td class="wfid_temp806718 tablecell" style="padding:5px; font-weight:bold; background-color:#ABF;" align="left" valign="middle" colspan="1" rowspan="8">
					OKEY
				</td>
				<td class="wfid_temp806741 tablecell" style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					standart
				</td>
				<td class="wfid_temp806765 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp806789 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp806813 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp806837 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td class="wfid_temp806861 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp806885 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp806909 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp806937 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp806968 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td class="wfid_temp806992 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp807015 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp807057 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td class="wfid_temp807083 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td class="wfid_temp807107 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td class="wfid_temp807131 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					30
				</td>
				<td class="wfid_temp807155 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp807180 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td class="wfid_temp807203 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td class="wfid_temp807227 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td class="wfid_temp807251 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td class="wfid_temp807275 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp807299 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td class="wfid_temp807324 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp807348 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td class="wfid_temp807371 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					120
				</td>
			</tr>
			<tr class="wfid_temp807398 tablerow">
				<td class="wfid_temp807822 tablecell" style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					tek-çift
				</td>
				<td class="wfid_temp807854 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp807882 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp807907 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp807931 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td class="wfid_temp807955 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td class="wfid_temp807988 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808026 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp808055 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp808091 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td class="wfid_temp808123 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td class="wfid_temp808149 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808173 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td class="wfid_temp808198 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td class="wfid_temp808221 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td class="wfid_temp808245 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td class="wfid_temp808269 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808293 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td class="wfid_temp808317 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td class="wfid_temp808340 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td class="wfid_temp808364 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td class="wfid_temp808387 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808411 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td class="wfid_temp808435 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp808459 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td class="wfid_temp808482 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					160
				</td>
			</tr>
			<tr class="wfid_temp808507 tablerow">
				<td class="wfid_temp808525 tablecell" style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					renkli
				</td>
				<td class="wfid_temp808549 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808573 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td class="wfid_temp808596 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp808620 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td class="wfid_temp808644 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp808667 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp808691 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp808715 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp808738 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td class="wfid_temp809263 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					30
				</td>
				<td class="wfid_temp809322 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp809357 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td class="wfid_temp809382 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td class="wfid_temp809407 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td class="wfid_temp809430 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td class="wfid_temp809454 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp809478 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td class="wfid_temp809502 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td class="wfid_temp809525 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td class="wfid_temp809549 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					120
				</td>
				<td class="wfid_temp809573 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp809601 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td class="wfid_temp809632 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td class="wfid_temp809656 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td class="wfid_temp809680 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					240
				</td>
			</tr>
			<tr class="wfid_temp809705 tablerow">
				<td class="wfid_temp809724 tablecell" style="padding:5px;" align="left" valign="middle" colspan="26" rowspan="1">
					 
				</td>
			</tr>
			<tr class="wfid_temp809749 tablerow">
				<td class="wfid_temp809767 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp809790 tablecell" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp809814 tablecell" style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td class="wfid_temp809838 tablecell" style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp809862 tablecell" style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td class="wfid_temp809886 tablecell" style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td class="wfid_temp809910 tablecell" align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
			<tr class="wfid_temp810039 tablerow">
				<td class="wfid_temp810061 tablecell" style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					10 dan düşmeli
				</td>
				<td class="wfid_temp810096 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp810123 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					5
				</td>
				<td class="wfid_temp810153 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td class="wfid_temp810653 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td class="wfid_temp810691 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td class="wfid_temp810715 tablecell" align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
			<tr class="wfid_temp810740 tablerow">
				<td class="wfid_temp810758 tablecell" style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					Hemen Oyna
				</td>
				<td class="wfid_temp810783 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
				</td>
				<td class="wfid_temp810808 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td class="wfid_temp810833 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td class="wfid_temp810857 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td class="wfid_temp810881 tablecell" style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td class="wfid_temp810904 tablecell" align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
		</tbody>
	</table>
</div>
