<div class="holder " style="margin-left:30px; width:800px; font-size:14px;">
	<h1 class=" h1" style="font-size:26px; margin-bottom:14px;">
		OKEY GAME RULES
	</h1>
	<h1 class=" h1" style="font-size:20px; margin-bottom:10px;">
		GAMEPLAY
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Indicator:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					After the tiles are dealt, on the right bottom corner you can see the        Indicator tile that will be placed in the highlighted zone. A player who has that        same tile, can double click it to earn the dedicated points. This must be done        before the first tile has been drawn, and not after.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Joker:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The tile containing the next number after the Indicator written on it. This        tile is a wild card that can be used to replace any other tile as the player desires.        (There are 2 fake joker tiles to replace these tiles that will be used as joker tiles).
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Sets &amp; opening a hand:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Consecutive numbers of the same color ( 7-8-9 All        green, or 2-3-4 all yellow etc...)        Same numbers from different colors ( 7-7-7 Green-        Yellow-Red etc...)        Tile 1 can be used after tile 13 when using        consecutive numbers.        It is necessary that all 14 tiles are used in sets when        opening a hand.        Possible set variations can be in groups of 4-4-3-3        or 5-3-3-3 or 5-5-4 which all make 14.        There must not be any gaps between the        consecutive numbers (3-4-6 is not acceptable).
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double:
				</td>
				<td style="padding:5px; margin-top:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					7 doubles can also open a hand. These doubles must be made of a        set of two tiles that have the same color        and number. ( 7- 7 both        red or 4-4 both green etc...) This is called going double. It is required to arrange        the tiles 2 by 2 with a gap in between them. When the 15th tile is drawn and        placed upon the pile, you can declare that you have completed the hand.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Throw the Joker:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					When a player discards the joker tile upon opening a hand,        then the player receives the ‘Throw the Joker’ point instead of the hand point.
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class=" h1" style="font-size:20px;">
		TYPE OF GAMES
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Standart:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box " style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tbody>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Indicator
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										point
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Hand
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										3
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Joker
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going double
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going double and joker
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										&nbsp;12&nbsp;
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Odd-even:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The game type where the game point is determined relative to        the indicator being even or odd. The game points remain the same when the        indicator is an odd number. But when the indicator is an even number the game        points are doubled.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					The game type where the game point is determined relative to the        color of the indicator. The game points remain the same when the indicator is        a yellow/blue odd number. The game points are doubled when the indicator        is a yellow/blue even number or black/red odd number. The game points are        quadrupled when the indicator is a black/red even number.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Pot Points:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Odd-Even and Colorful games have Pot Points. The Pot, is where the        in-game bonus points are collected. The game points are collected within the        pot during the game including the indicator point. When a player throws a joker,        goes double, do an eighter or a color hand, in addition to those points, the player        gets the points in the pot.        When the pot is emptied, the system adds the game point before a new hand is        started so the pot never stays empty.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px; padding-top:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					Countdown from 10:
				</td>
				<td style="padding:5px; padding-top:12px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box " style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tbody>
								<tr >
									<th style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Every player starts with 10 points
									</th>
									<th style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</th>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Indicator
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Hand
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										2
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Joker
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Going Double
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										points are deducted in this manner 
										<br class=" br"/>
										and the first to finish their points wins.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class=" h1" style="font-size:20px; margin-bottom:4px;">
		Different ways to finish a game
	</h1>
	<div style="padding:10px 30px;">
		In addition you can find the specific detailed point system for even-odd and        colorful games below.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful hand:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					This type of hand must only consist of tiles of the same color. As in        usual, jokers may be used to replace any missing tiles. When a player opens this        hand, the hand points are multiplied by 8. If a player opens this hand and throws        a joker, then the game points are multiplied by 16.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color:
				</td>
				<td style="padding:5px; text-align:left;" align="left" valign="middle" colspan="1" rowspan="1">
					This type of hand must only consist of doubles of the        same color. The game points are double of a colorful hand.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Eight Tiles:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					If a player collects all 8 of a particular number in their board and        click the Eight Tiles button, then regardless to whether the player opened a hand        or not, they win the game and receive quadruple game points in addition to the        points in the pot.
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Odd-even
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Colorful
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					standart
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					odd
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					even
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yellow-and-blue EVEN
					<br class=" br"/>
					black-and-red ODD
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Black and red EVEN
				</th>
				<th style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Countdown from 10
				</th>
				<th style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Pot points
				</th>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Indicator
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Hand
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Throwing a joker
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Eight tiles
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yours
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Colorful hand
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with joker
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Going double with color + joker
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					384
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					opened
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					False opening
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-36
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-2
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Other players during false opening
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Addition to the pot when the pot is empty
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					16
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					no
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
		</tbody>
	</table>
</div>
