<div class="matchmaker_rules">
<div class="holder" style="margin-left:30px; width:800px; font-size:14px;">

    <h1 style="font-size:26px; margin-bottom:14px;">OKEY GAME RULES</h1>

    <h1 style="font-size:20px; margin-bottom:10px;">GAMEPLAY</h1>

    <table border="0" cellpadding="5" cellspacing="0" >
        <tbody>
            <tr>
                <td class="left_col">Indicator:</td>
                <td>
                    After the tiles are dealt, on the right bottom corner you can see the
                    Indicator tile that will be placed in the highlighted zone. A player who has that
                    same tile, can double click it to earn the dedicated points. This must be done
                    before the first tile has been drawn, and not after.
                </td>
            </tr>
            <tr>
                <td class="left_col">Joker:</td>
                <td>
                    The tile containing the next number after the Indicator written on it. This 
                    tile is a wild card that can be used to replace any other tile as the player desires.        
                    (There are 2 fake joker tiles to replace these tiles that will be used as joker tiles).
                </td>
            </tr>
            <tr>
                <td class="left_col">Sets &amp; opening a hand:</td>
                <td>
                    Consecutive numbers of the same color ( 7-8-9 All 
                    green, or 2-3-4 all yellow etc...)       
                    Same numbers from different colors ( 7-7-7 Green-Yellow-Red etc...) 
                    Tile 1 can be used after tile 13 when using consecutive numbers.
                    It is necessary that all 14 tiles are used in sets when opening a hand. 
                    Possible set variations can be in groups of 4-4-3-3 or 5-3-3-3 or 5-5-4 which all make 14. 
                    There must not be any gaps between the consecutive numbers (3-4-6 is not acceptable).
                </td>
            </tr>
            <tr>
                <td class="left_col">Going double:</td>
                <td>
                    7 doubles can also open a hand. These doubles must be made of a 
                    set of two tiles that have the same color and number. ( 7-7 both 
                    red or 4-4 both green etc...) This is called going double. It is required to arrange 
                    the tiles 2 by 2 with a gap in between them. When the 15th tile is drawn and 
                    placed upon the pile, you can declare that you have completed the hand.
                </td>
            </tr>
            <tr>
                <td class="left_col">Throw the Joker:</td>
                <td>
                    When a player discards the joker tile upon opening a hand, 
                    then the player receives the ‘Throw the Joker’ point instead of the hand point.
                </td>
            </tr>
        </tbody>
    </table>

    <h1 class=" h1" style="font-size:20px;">TYPE OF GAMES</h1>
    <table border="0" cellpadding="5" cellspacing="0" >
        <tbody>
            <tr>
                <td class="left_col" >Standart:</td>
                <td>
                    <div class="affiliates-box" style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
                        <table border="0" cellpadding="3" cellspacing="0" ><tbody>
                            <tr><td>Indicator</td>  <td style="text-align:center;" >1</td>  <td>point</td></tr>
                            <tr><td>Hand</td>       <td style="text-align:center;" >3</td>  <td>points</td></tr>
                            <tr><td>Joker</td>      <td style="text-align:center;">6</td>   <td>points</td></tr>
                            <tr><td>Going double</td>           <td style="text-align:center;">6</td>               <td>points</td></tr>
                            <tr><td>Going double and joker</td> <td style="text-align:center;">&nbsp;12&nbsp;</td>  <td>points</td></tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left_col">Odd-even:</td>
                <td>
                    The game type where the game point is determined relative to 
                    the indicator being even or odd. The game points remain the same when the        
                    indicator is an odd number. But when the indicator is an even number the game        
                    points are doubled.
                </td>
            </tr>
            <tr>
                <td class="left_col">Colorful:</td>
                <td>
                    The game type where the game point is determined relative to the        
                    color of the indicator. The game points remain the same when the indicator is        
                    a yellow/blue odd number. The game points are doubled when the indicator        
                    is a yellow/blue even number or black/red odd number. The game points are        
                    quadrupled when the indicator is a black/red even number.
                </td>
            </tr>
            <tr>
                <td class="left_col">Pot Points:</td>
                <td>
                    Odd-Even and Colorful games have Pot Points. The Pot, is where the        
                    in-game bonus points are collected. The game points are collected within the        
                    pot during the game including the indicator point. When a player throws a joker,        
                    goes double, do an eighter or a color hand, in addition to those points, the player        
                    gets the points in the pot. When the pot is emptied, the system adds the game point before a new hand is        
                    started so the pot never stays empty.
                </td>
            </tr>
            <tr>
                <td class="left_col">Countdown from 10:</td>
                <td style="padding-top:12px;" >
                    <div class="affiliates-box" style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
                        <table border="0" cellpadding="3" cellspacing="0" >
                            <tbody>
                                <tr><th>Every player starts with 10 points</th><th></th></tr>
                                <tr><td>Indicator</td>  <td>1</td></tr>
                                <tr><td>Hand</td>       <td>2</td></tr>
                                <tr><td>Joker</td>      <td>4</td></tr>
                                <tr><td>Going Double</td><td>4</td></tr>
                                <tr><td></td><td>points are deducted in this manner<br/>and the first to finish their points wins.</td></tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h1 style="font-size:20px; margin-bottom:4px;">Different ways to finish a game</h1>
    <div style="padding:10px 30px;">
        In addition you can find the specific detailed point system for even-odd and colorful games below.
    </div>
    <table border="0" cellpadding="5" cellspacing="0" >
        <tbody>
            <tr>
                <td class="left_col">Colorful hand:</td>
                <td>
                    This type of hand must only consist of tiles of the same color. As in 
                    usual, jokers may be used to replace any missing tiles. When a player opens this        
                    hand, the hand points are multiplied by 8. If a player opens this hand and throws        
                    a joker, then the game points are multiplied by 16.
                </td>
            </tr>
            <tr>
                <td class="left_col">Going double with color:</td>
                <td>
                    This type of hand must only consist of doubles of the 
                    same color. The game points are double of a colorful hand.
                </td>
            </tr>
            <tr>
                <td class="left_col">Eight Tiles:</td>
                <td>
                    If a player collects all 8 of a particular number in their board and 
                    click the Eight Tiles button, then regardless to whether the player opened a hand        
                    or not, they win the game and receive quadruple game points in addition to the        
                    points in the pot.
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="5" cellspacing="0" >
        <tbody>
            <tr >
                <th></th><th></th><th class="games_col2" colspan="2">Odd-even</th>
                <th class="games_col3" colspan="2">Colorful</th><th></th><th></th>
            </tr>
            <tr >
                <th>
                </th>
                <th class="games_col1" >standart</th>
                <th class="games_col2" >odd</th>
                <th class="games_col2" >even</th>
                <th class="games_col3" >yellow-and-blue EVEN<br />black-and-red ODD    </th>
                <th class="games_col3" >Black and red EVEN</th>
                <th class="games_col4" >Countdown from 10</th>
                <th class="games_col5" >Pot points</th>
            </tr>
            <tr >
                <th align="left" >Indicator</th>
                <td class="games_col1" >1</td>
                <td class="games_col2" >1</td>
                <td class="games_col2" >2</td>
                <td class="games_col3" >2</td>
                <td class="games_col3" >4</td>
                <td class="games_col4" >1</td>
                <td class="games_col5" >&mdash;</td>
            </tr>
            <tr >
                <th align="left" >Hand</th>
                <td class="games_col1" >3</td>
                <td class="games_col2" >3</td>
                <td class="games_col2" >6</td>
                <td class="games_col3" >6</td>
                <td class="games_col3" >12</td>
                <td class="games_col4" >2</td>
                <td class="games_col5" >&mdash;</td>
            </tr>
            <tr >
                <th align="left" >Throwing a joker</th>
                <td class="games_col1" >6</td>
                <td class="games_col2" >6</td>
                <td class="games_col2" >12</td>
                <td class="games_col3" >12</td>
                <td class="games_col3" >24</td>
                <td class="games_col4" >4</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >Going double</th>
                <td class="games_col1" >6</td>
                <td class="games_col2" >6</td>
                <td class="games_col2" >12</td>
                <td class="games_col3" >12</td>
                <td class="games_col3" >24</td>
                <td class="games_col4" >4</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >Eight tiles</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >12</td>
                <td class="games_col2" >24</td>
                <td class="games_col3" >24</td>
                <td class="games_col3" >48</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >yours</td>
            </tr>
            <tr >
                <th align="left" >Colorful hand</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >24</td>
                <td class="games_col2" >48</td>
                <td class="games_col3" >48</td>
                <td class="games_col3" >96</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >Going double with color</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >48</td>
                <td class="games_col2" >96</td>
                <td class="games_col3" >96</td>
                <td class="games_col3" >192</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >Going double with joker</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >48</td>
                <td class="games_col2" >96</td>
                <td class="games_col3" >96</td>
                <td class="games_col3" >192</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >Going double with color + joker</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >96</td>
                <td class="games_col2" >192</td>
                <td class="games_col3" >192</td>
                <td class="games_col3" >384</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >opened</td>
            </tr>
            <tr >
                <th align="left" >False opening</th>
                <td class="games_col1" >-9</td>
                <td class="games_col2" >-9</td>
                <td class="games_col2" >-18</td>
                <td class="games_col3" >-18</td>
                <td class="games_col3" >-36</td>
                <td class="games_col4" >-2</td>
                <td class="games_col5" >&mdash;</td>
            </tr>
            <tr >
                <th align="left" >Other players during false opening</th>
                <td class="games_col1" >3</td>
                <td class="games_col2" >3</td>
                <td class="games_col2" >6</td>
                <td class="games_col3" >6</td>
                <td class="games_col3" >12</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >&mdash;</td>
            </tr>
            <tr >
                <th align="left" >Addition to the pot when the pot is empty</th>
                <td class="games_col1" >no</td>
                <td class="games_col2" >4</td>
                <td class="games_col2" >8</td>
                <td class="games_col3" >8</td>
                <td class="games_col3" >16</td>
                <td class="games_col4" >no</td>
                <td class="games_col5" >&mdash;</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
