<div class="holder " style="margin-left:30px; width:800px; font-size:14px;">


    <h1 class=" h1" style="font-size:26px; margin-bottom:14px;">OKEY OYUNLARI HAKKINDA</h1>

    <h1 class=" h1" style="font-size:20px; margin-bottom:10px;">OYUNU OYNAMA</h1>

    <table border="0" cellpadding="0" cellspacing="0" class="rules">
    <script>$("td:nth-child(1)").addClass("first-column");</script>
    <tr><td>Gösterme taşı:</td>
        <td>Taşlar dağıtıldıktan sonra sağ alt köşede "&#8239;gösterme&#8239;" bölümüne açılan taş. 
        Elinde göstermesi olan gösterme taşının üzerini çift tıklayarak oyundaki (&#8239;varsa&#8239;)
        gösterme puanını kazanır. Gösterme ilk el taş çekilmeden yapılmalıdır. Taş çekildikten sonra gösterme yapılamaz.</td></tr>
    <tr><td>Okey taşı:</td>
        <td>Göstermenin bir sayı yukarısı (&#8239;aynı renk olmak şartı ile&#8239;) okey taşıdır. 
            Bu taş joker niteliğinde olup elde eksik olan istenilen renkteki sayı yerine kullanılır.
            her el iki adet taş okey taşı yerine geçer. (&#8239;okey sayılan taşın yerine kullanılmak
            üzere 2 tane sahte okey bulunur&#8239;).</td></tr>
    <tr><td>Açar taşlar:</td>
        <td>aynı renkten sıralı hale gelmesi, (&#8239;örn. Yeşil 1, 2, 3, 4, sarı 7, 8, 9, kırmızı 10,
            11, 12 gibi&#8239;) 1sayılı taş seride 13 ten sonrada kullanılabilir (&#8239;11,12,13,1
            gibi&#8239;) aynı sayıların farklı renklerden bir seri uluşturması (&#8239;sarı- yeşil-kırmızı 
            2'li gibi&#8239;) eldeki taşların tamamının (&#8239;14 tane&#8239;) açarlı gruplar oluşturması
            oyun bitme şartıdır. Bu gruplar 4 &ndash; 4 &ndash; 3 &ndash; 3 lü olabileceği gibi 5 &ndash;
            3 &ndash; 3 &ndash; 3 lü de veya 14 taşı açar hale gelen 5 &ndash; 5 &ndash; 4 te olabilir.
            Seri taşlar arasında boşluk olmamalıdır. sürükleyip bırakarak oyunu bitirir.</td></tr>
    <tr><td>Çift açmak:</td>
        <td>Aynı renk ve sayıdan olmak üzere 7 çift taş da açar seri oluşturur. (&#8239;sahte okey
            çifti de dahildir&#8239;). Buna " ÇİFT AÇMAK " denir. Çift olan taşlar yanyana dururken
            farklı çiftleri en az bir boşluk bırakarak dizmek gerekir. 15. taş çekilen taşların
            üzerine konarak oyun bitti bilgisi verilir.</td></tr>
    <tr><td>Okey atmak:</td>
        <td>Taşını açan yere oyun bitme taşı olarak "okey"i atarsa, oyundaki açma puanını değil
            okey atma puanını alır.</td></tr>
    </table>

	<h1 class=" h1" style="font-size:20px;">
		OYUN ÇEŞİTLERİ
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Standart:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box " style="font-size:12px; margin-left:0px; margin-top:-8px; margin-bottom:-2px; padding-top:6px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tbody>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Gösterme
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Açma
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										3
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Okey atma
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çift açma
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										6
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çiftte okey atma
									</td>
									<td style="padding:3px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
										&nbsp;12&nbsp;
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Puan
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Tek-çift:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme nin tek yada çift olmasına göre puanların belirlendiği oyun şeklidir. Tek sayılı gösterme olduğunda standart oyun puanları geçerli olur. Çift sayılı gösterme olduğunda standart oyun puanlarının 2 katı kabul edilir.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkli:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme taşının rengine göre puanlamanın yapıldığı oyundur. Gösterme SARI-MAVİ tek sayı olursa STANDART OYUN PUANLARI. Gösterme SARI-MAVİ çift sayı ve KIRMIZI-SİYAH tek sayı olursa 2 katı puan hesaplanır. Gösterme KIRMIZI-SİYAH çift sayı olursa 4 katı puan hesaplanır.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanak puanı:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Tek-çift ve renkli oyunlar "çanak" lıdır. "Çanak", oyun içi bonus puanların toplandığı yerdir. Açılışta oyun puanı sistem tarafından çanağa yazılır. Oyun içinde yapılmayan gösterme puanları çanağa eklenir. Okey atan, çift açan, 8 taş yapan, renk açanlar açma puanlarına ilave olarak. Çanak içindeki birikmiş puanı da kazanırlar. Boşalan çanağa, sistem tarafından oyun puanı yeniden eklenir. Böylece çanak hiçbir el için boş kalmamış olur.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px; padding-top:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					10&#39; dan düşmeli oyun:
				</td>
				<td style="padding:5px; padding-top:12px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					<div class="affiliates-box " style="font-size:12px; margin-left:0px; margin-top:-8px; padding-top:3px; padding-bottom:3px;">
						<table border="0" cellpadding="0" cellspacing="0" >
							<tbody>
								<tr >
									<th style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Oyuna her oyuncu 10 puan ile başlar
									</th>
									<th style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</th>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Gösterme
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										1
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Açma
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										2
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Okey atma
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										Çift açma
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										4
									</td>
								</tr>
								<tr >
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
									</td>
									<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
										olmak üzere puan düşümü yapılır. 
										<br class=" br"/>
										Puanını ilk önce bitiren oyuncu oyunu kazanır.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class=" h1" style="font-size:20px; margin-bottom:4px;">
		FARKLI OYUN BİTİRME ÇEŞİTLERİ
	</h1>
	<div style="padding:10px 30px;">
		Ayrıca Tek-çift ve Renkli oyunlar için geçerli aşağıda açıklanan         özel açma şekilleri de bulunur ve ikramiyeli puan hesabı yapılır.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renk açmak:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Açmanın eldeki taşların tamamının aynı renkten taşlarla yapılması esasına dayanır. Normal oyundaki gibi okeyler eksik taşların yerine kullanılabilir. Oyuna esas puanlamanın 8 katı açma puanı olarak uygulanır. Bu durumda okey atılırsa 16 katı uygulanır.
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten çift açmak:
				</td>
				<td style="padding:5px; text-align:left;" align="left" valign="middle" colspan="1" rowspan="1">
					Bütün çift taşların aynı renkten olması hali. Renk açmanın iki katı puan uygulanır. Okey taşları kullanılabilir. 
				</td>
			</tr>
			<tr >
				<td style="vertical-align:top; text-align:right; font-weight:bold; width:150px; padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Sekiz taş:
				</td>
				<td style="padding:5px; text-align:left; " align="left" valign="middle" colspan="1" rowspan="1">
					Oyun esnasında, oyun taşları içinde herhangi bir taşın 8 tanesini birden ıstakada toplamak demektir. Örn. 8 tane 4'lü gibi. 8 taşı toplayan oyuncu ekranındaki "8 Taş" düğmesini tıkladığında eli açıp açmamasına bakılmaksızın oyun puanının 4 katı puanı ve çanakta biriken puanı ödül olarak kazanır. 
				</td>
			</tr>
		</tbody>
	</table>
	<div style="padding:10px 30px;">
		Oyun ve puanlama seçenekleri masa açılışında set edilir. Masa açılışında herhangi bir oyun seçilmez ise standart oyun yüklenir.
	</div>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Tek-çift
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
					Renkli
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</th>
				<th style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					standart
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					tek
				</th>
				<th style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					çift
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					sarı-mavi ÇİFT
					<br class=" br"/>
					siyah-kırmızı TEK
				</th>
				<th style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Siyah kırmızı ÇİFT
				</th>
				<th style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					10&#39;dan düşmeli
				</th>
				<th style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanakta biriken
				</th>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Gösterme
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Açma
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Okey atma
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Taş çifti
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					8 taş
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yapana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renk açma
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					24
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten Taş çifti
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten okey atma
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					48
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Renkten Taş çifti okey atma
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					96
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					192
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					384
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					açana
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Yanlış açan
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-9
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-18
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-36
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					-2
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Yanlış açışta diğerleri
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					12
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
			<tr >
				<th style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					Çanak boşalınca çanağa eklenen
				</th>
				<td style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					16
				</td>
				<td style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					yok
				</td>
				<td style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
					&mdash;
				</td>
			</tr>
		</tbody>
	</table>
	<h1 class=" h1" style="font-size:20px; margin-bottom:4px;">
		Hediye puanı (kakuş), kota ve oyun puanı parametreleri aşağıdaki gibidir.
	</h1>
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div style="background-color:#FB7; padding:0 6px;">
						1
					</div>
				</td>
				<td style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kakuş (sistemin verdiği hediye puanı &mdash; oyunun 1.si için)
				</td>
			</tr>
			<tr >
				<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div style="background-color:#FB7; padding:0 6px;">
						2
					</div>
				</td>
				<td style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kakuş (sistemin verdiği hediye puanı &mdash; masadaki diğerleri için)
				</td>
			</tr>
			<tr >
				<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div style="background-color:#FB7; padding:0 6px;">
						3
					</div>
				</td>
				<td style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					kota (oyuncudan düşülecek kota sayısı)
				</td>
			</tr>
			<tr >
				<td style="padding:3px;" align="left" valign="middle" colspan="1" rowspan="1">
					<div style="background-color:#FB7; padding:0 6px;">
						4
					</div>
				</td>
				<td style="padding-left:10px;" align="left" valign="middle" colspan="1" rowspan="1">
					oyun puanı (oyun sonunda kazananın elde edeceği oyun puanı)
				</td>
			</tr>
		</tbody>
	</table>
	<br class=" br"/>
</div>
<div class="holder " style="margin-left:30px; width:900px; font-size:14px;">
	<table border="0" cellpadding="0" cellspacing="0" >
		<tbody>
			<tr >
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; font-weight:bold; font-size:16px; background-color:#ABF;" align="center" valign="middle" colspan="1" rowspan="1">
					oyun
				</td>
				<td style="padding:5px; font-weight:bold; font-size:16px; background-color:#89C;" align="center" valign="middle" colspan="1" rowspan="1">
					türü
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="25" rowspan="1">
				</td>
			</tr>
			<tr >
				<td style="padding:5px; background-color:#BE8; font-weight:bold;" align="right" valign="middle" colspan="1" rowspan="1">
					seçilen oyun sayısı
				</td>
				<td style="padding:5px; background-color:#BE8; " align="left" valign="middle" colspan="2" rowspan="1">
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					10
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					20
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					40
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
					 
				</td>
				<td style="padding:5px; background-color:#BE8;" align="center" valign="middle" colspan="4" rowspan="1">
					80
				</td>
			</tr>
			<tr >
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7; min-width:15px;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
			</tr>
			<tr >
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="8">
				</td>
				<td style="padding:5px; font-weight:bold; background-color:#ABF;" align="left" valign="middle" colspan="1" rowspan="8">
					OKEY
				</td>
				<td style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					standart
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					30
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					120
				</td>
			</tr>
			<tr >
				<td style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					tek-çift
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					160
				</td>
			</tr>
			<tr >
				<td style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					renkli
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					6
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					20
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					30
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					32
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					7
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					40
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					50
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					11
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					60
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					120
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					70
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					15
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					80
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					240
				</td>
			</tr>
			<tr >
				<td style="padding:5px;" align="left" valign="middle" colspan="26" rowspan="1">
					 
				</td>
			</tr>
			<tr >
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					1
				</td>
				<td style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					3
				</td>
				<td style="padding:5px; background-color:#FB7;" align="center" valign="middle" colspan="1" rowspan="1">
					4
				</td>
				<td align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
			<tr >
				<td style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					10 dan düşmeli
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					5
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					2
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					8
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					10
				</td>
				<td align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
			<tr >
				<td style="padding:5px; font-weight:bold; background-color:#89C;" align="right" valign="middle" colspan="1" rowspan="1">
					Hemen Oyna
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td style="padding:5px;" align="center" valign="middle" colspan="1" rowspan="1">
					0
				</td>
				<td align="left" valign="middle" colspan="20" rowspan="1">
				</td>
			</tr>
		</tbody>
	</table>
</div>
