<strong class="head">[[[element_register:title()]]]</strong>
<div class="col-holder">
	<div class="col-1">
		<div class="form-2">
			[[[element_register:register_hintbox()]]]
			<form action="#">
				<fieldset>
					[[[element_register:field(username)]]]
					[[[element_register:field(email)]]]
					[[[element_register:field(passwd)]]]
					[[[element_register:field(con_passwd)]]]
					<div class="row">
						[[[element_register:field(birth)]]]
					</div>
					<div>
						[[[element_register:why_birthday()]]]
					</div>
					<div class="btn-holder">
						[[[element_register:register_button()]]]
					</div>
					<p>[[[element_register:terms_and_privacy()]]]</p>
					<div class="center">
						[[[element_register:facebook_button()]]]
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col-2">
		<div class="form-3">
			<form action="#">
				<fieldset>
					[[[element_register:login_form()]]]
				</fieldset>
			</form>
		</div>
	</div>
</div>
