<div class="rules_okey">
<div class="info-page-header-panel ">
	<img class="info-page-bg image" src="/images/rules/rules_okey_bg.png"/>
	</div>
	<div class="info-page-content-panel ">
		<div style="top:150px; left:400px; font-size:28px; color:#FC6404;">
			OYUN SETİ
		</div>
		<div style="top:190px; left:355px; font-size:18px;">
			Okey oyunu 2-4 kişi ile oynanır.
		</div>
		<div style="top:220px; left:400px; font-size:18px;">
			Herbir set <span style='color:#ff5e21'>1’ den 13’ e kadar</span> numaralı olmak üzere;
		</div>
		<div style="top:250px; left:400px; font-size:18px;">
			<span style='color:#fe0002;'>kırmızı</span>, <span style='color:#000'>siyah</span>, <span style='color:#00b1eb'>mavi</span>
			 ve <span style='color:#c9c101'>sarı</span> renklerde 4 renk seti vardır.
		</div>
		<div style="top:280px; left:445px; font-size:18px;">
			2 tane “Sahte Okey” ile birlikte toplam 106 taş vardır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:180px; top:450px; font-size:28px; color:#FC6404;">
			OYUNA BAŞLAMA
		</div>
		<div style="left:150px; top:490px; font-size:18px;">
			Taşlar karıştırılıp her bir oyuncuya 14 taş verilir.
		</div>
		<div style="left:100px; top:520px; font-size:18px;">
			İlk oynayacak oyuncuya fazladan 1 taş verilir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:410px; top:645px; font-size:28px; color:#FC6404;">
			OYUN DÖNGÜSÜ
		</div>
		<div style="left:420px; top:680px; font-size:18px;">
			Oyun saatin tersi yönünde soldan sağa doğru(Shoarma) oynanır.
		</div>
		<div style="left:413px; top:705px; font-size:18px;">
			Sırası gelen oyuncu soldaki oyuncunun attığı taşı yerden alabilir
		</div>
		<div style="left:443px; top:730px; font-size:18px;">
			yada ortadaki desteden taş çekebilir.
		</div>
		<div style="left:397px; top:755px; font-size:18px;">
			Daha sonra ıstakasındaki istediği herhangibir taşı sağındaki taş
		</div>
		<div style="left:800px; top:780px; font-size:18px;">
			atma yerine atar.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:330px; top:845px; font-size:28px; color:#FC6404;">
			AMAÇ
		</div>
		<div style="left:125px; top:885px; font-size:18px;">
			Oyunu bitirerek açma puanını kazanmak, böylece oyun sonunda
		</div>
		<div style="left:200px; top:915px; font-size:18px;">
			en yüksek puana ulaşarak oyunu kazanmaktır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:390px; top:1020px; font-size:28px; color:#FC6404;">
			AÇAR TAŞLAR
		</div>
		<div style="left:370px; top:1060px; font-size:17px;">
			Aynı renkten sıralı hale gelmesi, <span style='font-size:12px;'>(örn. Yeşil 1, 2, 3, 4, <span style='color:#c9c101;'>sarı</span>
			 7, 8, 9, <span style='color:#fe0002;'>kırmızı</span> 10, 11, 12 <span style='color:#000;'>gibi</span>)	</span>
		</div>
		<div style="left:370px; top:1085px; font-size:17px;">
			1 sayılı taş seride 13 ten sonrada kullanılabilir 
            <span style='font-size:12px'>(11, 12, 13, 1 <span style='color:#000;'>gibi</span>)</span>
		</div>
		<div style="left:370px; top:1110px; font-size:17px;">
			Aynı sayıların farklı renklerden bir seri uluşturması
			<span style='font-size:12px;'>(<span style='color:#c9c101;'>sarı</span>	-yeşil-	<span style='color:#fe0002;'>kırmızı</span>
			 2'li <span style='color:#000;'>gibi</span>)</span>
		</div>
		<div style="left:370px; top:1150px; font-size:17px;">
			Eldeki taşların tamamının (14 tane) açarlı gruplar oluşturması <br>
			oyun bitme şartıdır.
		</div>
		<div style="left:380px; top:1206px; font-size:17px;">
			Bu gruplar 4 - 4 - 3 - 3 lü olabileceği gibi 5 - 3 - 3 - 3 lü de veya 14 taşı açar hale gelen 5 - 5 - 4 te olabilir. Seri taşlar arasında boşluk olmamalıdır.
		</div>
		<div style="left:393px; top:1262px; font-size:17px;">
			Eldeki taşların çekilen ile beraber 14 tanesinin açar konuma gelmesi <br>
			ile oyuncu 15. taşını (ıskarta) masa ortasındaki taş çekme yerine <br>
			sürükleyip bırakarak oyunu bitirir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:200px; top:1380px; font-size:28px; color:#FC6404;">
			ÇİFT AÇMAK
		</div>
		<div style="left:80px; top:1420px; font-size:18px;">
			Aynı renk ve sayıdan olmak üzere 7 çift taş da açar seri oluşturur.
		</div>
		<div style="left:130px; top:1445px; font-size:18px;">
			(sahte okey çifti de dahildir). Buna <span style='color:#FC6404;'>“ÇİFT AÇMAK”</span> denir.
		</div>
		<div style="left:50px; top:1470px; font-size:18px;">
			Çift olan taşlar yanyana dururken farklı çiftleri en az bir boşluk bırakarak dizmek gerekir.
		</div>
		<div style="left:150px; top:1495px; font-size:18px;">
			15. taş çekilen taşların üzerine konarak oyun bitti bilgisi verilir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:430px; top:1610px; font-size:28px; color:#FC6404;">
			EL BİTİRME
		</div>
		<div style="left:340px; top:1650px; font-size:18px;">
			14 taşın tümü sıralı yada renk serileri şeklinde serilerin arasında 
		</div>
		<div style="left:370px; top:1675px; font-size:18px;">
			bir boşluk bırakarak dizildikten sonra 15. 
		</div>
		<div style="left:430px; top:1700px; font-size:18px;">
			Taş ortadaki taş destesi etrafındaki işaretlenmiş alana 
		</div>
		<div style="left:610px; top:1725px; font-size:18px;">
			bırakılarak el bitirilir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:200px; top:1770px; font-size:28px; color:#FC6404;">
			GÖSTERME TAŞI
		</div>
		<div style="left:100px; top:1810px; font-size:18px;">
			Taşlar dağıtıldıktan sonra sağ alt köşede “gösterme” bölümüne açılan taş.
		</div>
		<div style="left:105px; top:1835px; font-size:18px;">
			Elinde göstermesi olan gösterme taşının üzerini çift tıklayarak oyundaki
		</div>
		<div style="left:120px; top:1860px; font-size:18px;">
			(varsa) gösterme puanını kazanır. 
		</div>
		<div style="left:200px; top:1885px; font-size:18px;">
			Gösterme ilk el taş çekilmeden yapılmalıdır.
		</div>
		<div style="left:220px; top:1910px; font-size:18px;">
			Taş çekildikten sonra gösterme yapılamaz.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:480px; top:1975px; font-size:28px; color:#FC6404;">
			OKEY TAŞI
		</div>
		<div style="left:330px; top:2015px; font-size:18px;">
			Göstermenin bir sayı yukarısı (aynı renk olmak şartı ile) okey taşıdır. Bu taş joker niteliğinde olup elde eksik olan istenilen renkteki sayı yerine kullanılır.
		</div>
		<div style="left:380px; top:2063px; font-size:18px;">
			Her el iki adet taş okey taşı yerine geçer. (okey sayılan taşın yerine kullanılmak üzere 2 tane sahte okey bulunur).
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:200px; top:2200px; font-size:28px; color:#FC6404;">
			SAHTE OKEY TAŞI
		</div>
		<div style="left:110px; top:2240px; font-size:18px;">
			“Sahte okey “ taşının sabit bir rengi ve sayısı yoktur.
		</div>
		<div style="left:150px; top:2265px; font-size:18px;">
			Her el “Okey taşı’” nın rengi ve sayısı yerine kullanılır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:430px; top:2440px; font-size:28px; color:#FC6404;">
			OYUN ÇEŞİTLERİ
		</div>
		<div style="left:320px; top:2501px; font-size:22px; color:#FC6404;">Standart </div>

		<div style="left:550px; top:2504px; font-size:18px;">Gösterme</div>
		<div style="left:750px; top:2504px; font-size:18px;">1 Puan</div>

		<div style="left:550px; top:2529px; font-size:18px;">Açma</div>
		<div style="left:750px; top:2529px; font-size:18px;">3 Puan</div>

		<div style="left:550px; top:2554px; font-size:18px;">Okey atma</div>
		<div style="left:750px; top:2554px; font-size:18px;">6 Puan</div>

		<div style="left:550px; top:2579px; font-size:18px;">Çift açma</div>
		<div style="left:750px; top:2579px; font-size:18px;">6 Puan</div>

		<div style="left:550px; top:2604px; font-size:18px;">Çiftten okey atma</div>
		<div style="left:750px; top:2604px; font-size:18px;">12 Puan</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:300px; top:2662px; font-size:22px; color:#FC6404;">
			Tek Çift 
		</div>
		<div style="left:450px; top:2665px; width:400px; text-align:right; font-size:18px;">
			Gösterme nin tek yada çift olmasına göre puanların belirlendiği oyun şeklidir<span style='margin-right:-4px;'>.</span>
		</div>
		<div style="left:450px; top:2720px; width:400px; text-align:right; font-size:18px;">
			Tek sayılı gösterme olduğunda standart<br>
			 oyun puanları geçerli olur<span style='margin-right:-4px;'>.</span>
		</div>
		<div style="left:450px; top:2775px; width:400px; text-align:right; font-size:18px;">
			Çift sayılı gösterme olduğunda standart oyun puanlarının 2 katı kabul edilir<span style='margin-right:-4px;'>.</span>
		</div>
		<div style="left:100px; top:150px; font-size:18px;">
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:220px; top:2862px; font-size:22px; color:#FC6404;">
			Renkli 
		</div>
		<div style="left:350px; top:2865px; font-size:18px;">
			Gösterme taşının rengine göre puanlamanın yapıldığı oyundur.
		</div>
		<div style="left:320px; top:2890px; font-size:18px;">
			Gösterme SARI-MAVİ tek sayı olursa STANDART OYUN PUANLARI.
		</div>
		<div style="left:300px; top:2915px; font-size:18px;">
			Gösterme SARI-MAVİ çift sayı ve KIRMIZI - SİYAH tek sayı olursa 
			<br>
			2 katı puan hesaplanır.
		</div>
		<div style="left:310px; top:2962px; font-size:18px;">
			Gösterme KIRMIZI - SİYAH çift sayı olursa 4 katı puan hesaplanır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:190px; top:3022px; font-size:22px; color:#FC6404;">
			Çanak Puanı 
		</div>
		<div style="left:380px; top:3025px; font-size:18px;">
			Tek-çift ve renkli oyunlar “çanak” lıdır.
		</div>
		<div style="left:420px; top:3050px; font-size:18px;">
			“Çanak”, oyun içi bonus puanların toplandığı yerdir.
		</div>
		<div style="left:400px; top:3075px; font-size:18px;">
			Açılışta oyun puanı sistem tarafından çanağa yazılır.
		</div>
		<div style="left:450px; top:3100px; font-size:18px;">
			Oyun içinde yapılmayan gösterme puanları çanağa eklenir.
		</div>
		<div style="left:400px; top:3125px; font-size:18px;">
			Okey atan, çift açan, 8 taş yapan, renk açanlar açma puanlarına
		</div>
		<div style="left:440px; top:3150px; font-size:18px;">
			ilave olarak çanak içindeki birikmiş puanı da kazanırlar.
		</div>
		<div style="left:400px; top:3175px; font-size:18px;">
			Boşalan çanağa , sistem tarafından oyun puanı yeniden eklenir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:350px; top:3252px; font-size:22px; color:#FC6404;">
			10’dan Düşmeli 
		</div>
		<div style="left:580px; top:3255px; font-size:18px;">
			Oyuna her oyuncu 10 puan ile başlar.
		</div>
		<div style="left:450px; top:3300px; font-size:18px;">Gösterme</div>
		<div style="left:580px; top:3300px; width:20px; text-align:right; font-size:18px;">1</div>

		<div style="left:450px; top:3325px; font-size:18px;">Açma</div>
		<div style="left:580px; top:3325px; width:20px; text-align:right; font-size:18px;">2</div>

		<div style="left:450px; top:3350px; font-size:18px;">Okey atma</div>
		<div style="left:580px; top:3350px; width:20px; text-align:right; font-size:18px;">4</div>

		<div style="left:450px; top:3375px; font-size:18px;">Çift açma</div>
		<div style="left:580px; top:3375px; width:20px; text-align:right; font-size:18px;">4</div>

		<div style="left:640px; top:3337px; font-size:18px;">
			olmak üzere puan düşümü yapılır.
		</div>
		<div style="left:480px; top:3420px; font-size:18px;">
			Puanını ilk sıfırlayan oyunu kazanır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:100px; top:3630px; font-size:28px; color:#FC6404;">
			FARKLI OYUN BİTİRME ÇEŞİTLERİ
		</div>
		<div style="left:100px; top:3670px; font-size:18px;">
			Ayrıca Tek-çift ve Renkli oyunlar için geçerli aşağıda açıklanan
		</div>
		<div style="left:100px; top:3695px; font-size:18px;">
			özel açma şekilleri de bulunur ve ikramiyeli puan hesabı yapılır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:75px; top:3762px; font-size:22px; color:#FC6404;">
			Renk Açmak 
		</div>
		<div style="left:260px; top:3765px; font-size:18px;">
			Açmanın eldeki taşların tamamının 
		</div>
		<div style="left:130px; top:3790px; font-size:18px;">
			aynı renkten taşlarla yapılması esasına dayanır. Normal oyundaki 
		</div>
		<div style="left:180px; top:3815px; font-size:18px;">
			gibi okeyler eksik taşların yerine kullanılabilir.
		</div>
		<div style="left:220px; top:3840px; font-size:18px;">
			Oyuna esas puanlamanın 8 katı açma puanı olarak uygulanır.
		</div>
		<div style="left:250px; top:3865px; font-size:18px;">
			Bu durumda okey atılırsa 16 katı uygulanır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:125px; top:3932px; font-size:22px; color:#FC6404;">
			Renkten Çift Açmak 
		</div>
		<div style="left:380px; top:3935px; font-size:18px;">
			Bütün çift taşların aynı renkten olması hali. 
		</div>
		<div style="left:350px; top:3960px; font-size:18px;">
			Renk açmanın iki katı puan uygulanır.
		</div>
		<div style="left:420px; top:3985px; font-size:18px;">
			Okey taşları kullanılabilir.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:50px; top:4052px; font-size:22px; color:#FC6404;">
			Sekiz Taş 
		</div>
		<div style="left:210px; top:4055px; font-size:18px;">
			Oyun esnasında, oyun taşları içinde herhangi bir taşın
		</div>
		<div style="left:160px; top:4080px; font-size:18px;">
			8 tanesini birden ıstakada toplamak demektir. Örn. 8 tane 4'lü gibi.
		</div>
		<div style="left:220px; top:4105px; font-size:18px;">
			8 taşı toplayan oyuncu ekranındaki “8 Taş” düğmesini tıkladığında 
		</div>
		<div style="left:240px; top:4130px; font-size:18px;">
			eli açıp açmamasına bakılmaksızın oyun puanının 4 katı puanı ve
		</div>
		<div style="left:320px; top:4155px; font-size:18px;">
			çanakta biriken puanı ödül olarak kazanır.
		</div>
	</div>
	<div class="info-page-content-panel ">
		<div style="left:244px; top:4262px; font-size:22px; color:#fff;">
			Oyun ve puanlama seçenekleri masa açılışında set edilir. 
		</div>
	</div>
	<div class="info-page-content-panel " style="height:640px;">
		<div style="left:394px; top:4400px; font-size:28px; color:#FC6404;">
			Puanlama Tablosu
		</div>
		<div style="top:4450px; font-size:18px;">
	        <table border="0" cellpadding="5" cellspacing="0" >
		        <tbody>
			        <tr>
				        <th></th><th></th><th class="games_col2" colspan="2">Tek-çift</th>
                        <th class="games_col3" colspan="2">Renkli</th><th></th><th></th>
			        </tr>
			        <tr>
				        <th></th>
				        <th class="games_col1" >standart</th>
				        <th class="games_col2" >tek</th>
				        <th class="games_col2" >çift</th>
				        <th class="games_col3" >sarı-mavi ÇİFT<br/>siyah-kırmızı TEK</th>
				        <th class="games_col3" >Siyah kırmızı ÇİFT</th>
				        <th class="games_col4" >10&#39;dan düşmeli</th>
				        <th class="games_col5" >Çanakta biriken</th>
			        </tr>
			        <tr>
				        <th align="left">Gösterme</th>
				        <td class="games_col1" >1</td>
				        <td class="games_col2" >1</td>
				        <td class="games_col2" >2</td>
				        <td class="games_col3" >2</td>
                        <td class="games_col3" >4</td>
				        <td class="games_col4" >1</td>
				        <td class="games_col5" >&mdash;</td>
			        </tr>
			        <tr>
				        <th align="left">Açma</th>
				        <td class="games_col1" >3</td>
				        <td class="games_col2" >3</td>
				        <td class="games_col2" >6</td>
				        <td class="games_col3" >6</td>
				        <td class="games_col3" >12</td>
				        <td class="games_col4" >2</td>
				        <td class="games_col5" >&mdash;</td>
			        </tr>
			        <tr>
				        <th align="left">Okey atma</th>
				        <td class="games_col1" >6</td>
				        <td class="games_col2" >6</td>
				        <td class="games_col2" >12</td>
				        <td class="games_col3" >12</td>
				        <td class="games_col3" >24</td>
				        <td class="games_col4" >4</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">Taş çifti</th>
				        <td class="games_col1" >6</td>
				        <td class="games_col2" >6</td>
				        <td class="games_col2" >12</td>
				        <td class="games_col3" >12</td>
				        <td class="games_col3" >24</td>
				        <td class="games_col4" >4</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">8 taş</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >12</td>
				        <td class="games_col2" >24</td>
				        <td class="games_col3" >24</td>
				        <td class="games_col3" >48</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >yapana</td>
			        </tr>
			        <tr>
				        <th align="left">Renk açma</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >24</td>
				        <td class="games_col2" >48</td>
				        <td class="games_col3" >48</td>
				        <td class="games_col3" >96</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">Renkten Taş çifti</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >48</td>
				        <td class="games_col2" >96</td>
				        <td class="games_col3" >96</td>
				        <td class="games_col3" >192</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">Renkten okey atma</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >48</td>
				        <td class="games_col2" >96</td>
				        <td class="games_col3" >96</td>
				        <td class="games_col3" >192</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">Renkten Taş çifti okey atma</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >96</td>
				        <td class="games_col2" >192</td>
				        <td class="games_col3" >192</td>
				        <td class="games_col3" >384</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >açana</td>
			        </tr>
			        <tr>
				        <th align="left">Yanlış açan</th>
				        <td class="games_col1" >-9</td>
				        <td class="games_col2" >-9</td>
				        <td class="games_col2" >-18</td>
				        <td class="games_col3" >-18</td>
				        <td class="games_col3" >-36</td>
				        <td class="games_col4" >-2</td>
				        <td class="games_col5" >&mdash;</td>
			        </tr>
			        <tr>
				        <th align="left">Yanlış açışta diğerleri</th>
				        <td class="games_col1" >3</td>
				        <td class="games_col2" >3</td>
				        <td class="games_col2" >6</td>
				        <td class="games_col3" >6</td>
				        <td class="games_col3" >12</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >&mdash;</td>
			        </tr>
			        <tr>
				        <th align="left">Çanak boşalınca çanağa eklenen</th>
				        <td class="games_col1" >yok</td>
				        <td class="games_col2" >4</td>
				        <td class="games_col2" >8</td>
				        <td class="games_col3" >8</td>
				        <td class="games_col3" >16</td>
				        <td class="games_col4" >yok</td>
				        <td class="games_col5" >&mdash;</td>
			        </tr>
		        </tbody>
	        </table>
		</div>
	</div>
</div>
</div>

