<div class="info-page-header-panel wfid_temp506180 panel">
	<img class="info-page-bg wfid_temp506209 image" src="/images/rules/rules_okey_bg.png"/>
	</div>
	<div class="info-page-content-panel wfid_temp506236 panel">
		<div class="wfid_temp506267 panel" style="top:150px; left:400px; font-size:28px; color:#FC6404;">
			OYUN SETİ
		</div>
		<div class="wfid_temp506292 panel" style="top:190px; left:355px; font-size:18px;">
			Okey oyunu 2-4 kişi ile oynanır.
		</div>
		<div class="wfid_temp506314 panel" style="top:220px; left:400px; font-size:18px;">
			Herbir set 
			<span style='color:#ff5e21'>
				1’ den 13’ e kadar
			</span>
			 numaralı olmak üzere;
		</div>
		<div class="wfid_temp506338 panel" style="top:250px; left:400px; font-size:18px;">
			<span style='color:#fe0002;'>
				kırmızı
			</span>
			, 
			<span style='color:#000'>
				siyah
			</span>
			, 
			<span style='color:#00b1eb'>
				mavi
			</span>
			 ve 
			<span style='color:#c9c101'>
				sarı
			</span>
			 renklerde 4 renk seti vardır.
		</div>
		<div class="wfid_temp506362 panel" style="top:280px; left:445px; font-size:18px;">
			2 tane “Sahte Okey” ile birlikte toplam 106 taş vardır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp506387 panel">
		<div class="wfid_temp506414 panel" style="left:180px; top:450px; font-size:28px; color:#FC6404;">
			OYUNA BAŞLAMA
		</div>
		<div class="wfid_temp506439 panel" style="left:150px; top:490px; font-size:18px;">
			Taşlar karıştırılıp her bir oyuncuya 14 taş verilir.
		</div>
		<div class="wfid_temp506461 panel" style="left:100px; top:520px; font-size:18px;">
			İlk oynayacak oyuncuya fazladan 1 taş verilir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp506485 panel">
		<div class="wfid_temp506513 panel" style="left:410px; top:645px; font-size:28px; color:#FC6404;">
			OYUN DÖNGÜSÜ
		</div>
		<div class="wfid_temp506535 panel" style="left:420px; top:680px; font-size:18px;">
			Oyun saatin tersi yönünde soldan sağa doğru(Shoarma) oynanır.
		</div>
		<div class="wfid_temp506560 panel" style="left:413px; top:705px; font-size:18px;">
			Sırası gelen oyuncu soldaki oyuncunun attığı taşı yerden alabilir
		</div>
		<div class="wfid_temp506583 panel" style="left:443px; top:730px; font-size:18px;">
			yada ortadaki desteden taş çekebilir.
		</div>
		<div class="wfid_temp506606 panel" style="left:397px; top:755px; font-size:18px;">
			Daha sonra ıstakasındaki istediği herhangibir taşı sağındaki taş
		</div>
		<div class="wfid_temp507082 panel" style="left:800px; top:780px; font-size:18px;">
			atma yerine atar.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507117 panel">
		<div class="wfid_temp507145 panel" style="left:330px; top:845px; font-size:28px; color:#FC6404;">
			AMAÇ
		</div>
		<div class="wfid_temp507168 panel" style="left:125px; top:885px; font-size:18px;">
			Oyunu bitirerek açma puanını kazanmak, böylece oyun sonunda
		</div>
		<div class="wfid_temp507190 panel" style="left:200px; top:915px; font-size:18px;">
			en yüksek puana ulaşarak oyunu kazanmaktır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507217 panel">
		<div class="wfid_temp507244 panel" style="left:390px; top:1020px; font-size:28px; color:#FC6404;">
			AÇAR TAŞLAR
		</div>
		<div class="wfid_temp507270 panel" style="left:370px; top:1060px; font-size:17px;">
			Aynı renkten sıralı hale gelmesi, 
			<span style='font-size:12px;'>
				(örn. Yeşil 1, 2, 3, 4, 
				<span style='color:#c9c101;'>
					sarı
				</span>
				 7, 8, 9, 
				<span style='color:#fe0002;'>
					kırmızı
				</span>
				 10, 11, 12 
				<span style='color:#000;'>
					gibi
				</span>
				)
			</span>
			 
		</div>
		<div class="wfid_temp507292 panel" style="left:370px; top:1085px; font-size:17px;">
			1 sayılı taş seride 13 ten sonrada kullanılabilir 
			<span style='font-size:12px'>
				(11, 12, 13, 1 
				<span style='color:#000;'>
					gibi
				</span>
				)
			</span>
		</div>
		<div class="wfid_temp507316 panel" style="left:370px; top:1110px; font-size:17px;">
			Aynı sayıların farklı renklerden bir seri uluşturması
			<span style='font-size:12px;'>
				(
				<span style='color:#c9c101;'>
					sarı
				</span>
				-yeşil-
				<span style='color:#fe0002;'>
					kırmızı
				</span>
				 2'li 
				<span style='color:#000;'>
					gibi
				</span>
				)
			</span>
		</div>
		<div class="wfid_temp507338 panel" style="left:370px; top:1150px; font-size:17px;">
			Eldeki taşların tamamının (14 tane) açarlı gruplar oluşturması 
			<br>
			oyun bitme şartıdır.
		</div>
		<div class="wfid_temp507361 panel" style="left:380px; top:1206px; font-size:17px;">
			Bu gruplar 4 - 4  - 3 - 3 lü olabileceği gibi 5 - 3 - 3 - 3 lü de veya 14 taşı açar hale gelen 5 - 5 - 4 te olabilir. Seri taşlar arasında boşluk olmamalıdır.
		</div>
		<div class="wfid_temp507383 panel" style="left:393px; top:1262px; font-size:17px;">
			Eldeki taşların çekilen ile beraber 14 tanesinin açar konuma gelmesi 
			<br>
			ile oyuncu 15. taşını (ıskarta) masa ortasındaki taş çekme yerine 
			<br>
			sürükleyip bırakarak oyunu bitirir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507410 panel">
		<div class="wfid_temp507438 panel" style="left:200px; top:1380px; font-size:28px; color:#FC6404;">
			ÇİFT AÇMAK
		</div>
		<div class="wfid_temp507461 panel" style="left:80px; top:1420px; font-size:18px;">
			Aynı renk ve sayıdan olmak üzere 7 çift taş da açar seri oluşturur.
		</div>
		<div class="wfid_temp507483 panel" style="left:130px; top:1445px; font-size:18px;">
			(sahte okey çifti de dahildir). Buna 
			<span style='color:#FC6404;'>
				“ÇİFT AÇMAK”
			</span>
			 denir.
		</div>
		<div class="wfid_temp507507 panel" style="left:50px; top:1470px; font-size:18px;">
			Çift olan taşlar yanyana dururken farklı çiftleri en az bir boşluk bırakarak dizmek gerekir.
		</div>
		<div class="wfid_temp507529 panel" style="left:150px; top:1495px; font-size:18px;">
			15. taş çekilen taşların üzerine konarak oyun bitti bilgisi verilir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507554 panel">
		<div class="wfid_temp507582 panel" style="left:430px; top:1610px; font-size:28px; color:#FC6404;">
			EL BİTİRME
		</div>
		<div class="wfid_temp507608 panel" style="left:340px; top:1650px; font-size:18px;">
			14 taşın tümü sıralı yada renk serileri şeklinde serilerin arasında 
		</div>
		<div class="wfid_temp507630 panel" style="left:370px; top:1675px; font-size:18px;">
			bir boşluk bırakarak dizildikten sonra 15. 
		</div>
		<div class="wfid_temp507653 panel" style="left:430px; top:1700px; font-size:18px;">
			Taş ortadaki taş destesi etrafındaki işaretlenmiş alana 
		</div>
		<div class="wfid_temp507676 panel" style="left:610px; top:1725px; font-size:18px;">
			bırakılarak el bitirilir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507700 panel">
		<div class="wfid_temp507731 panel" style="left:200px; top:1770px; font-size:28px; color:#FC6404;">
			GÖSTERME TAŞI
		</div>
		<div class="wfid_temp507754 panel" style="left:100px; top:1810px; font-size:18px;">
			Taşlar dağıtıldıktan sonra sağ alt köşede “gösterme” bölümüne açılan taş.
		</div>
		<div class="wfid_temp507778 panel" style="left:105px; top:1835px; font-size:18px;">
			Elinde göstermesi olan gösterme taşının üzerini çift tıklayarak oyundaki
		</div>
		<div class="wfid_temp507801 panel" style="left:120px; top:1860px; font-size:18px;">
			(varsa) gösterme puanını kazanır. 
		</div>
		<div class="wfid_temp507825 panel" style="left:200px; top:1885px; font-size:18px;">
			Gösterme ilk el taş çekilmeden yapılmalıdır.
		</div>
		<div class="wfid_temp507849 panel" style="left:220px; top:1910px; font-size:18px;">
			Taş çekildikten sonra gösterme yapılamaz.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507872 panel">
		<div class="wfid_temp507899 panel" style="left:480px; top:1975px; font-size:28px; color:#FC6404;">
			OKEY TAŞI
		</div>
		<div class="wfid_temp507923 panel" style="left:330px; top:2015px; font-size:18px;">
			Göstermenin bir sayı yukarısı (aynı renk olmak şartı ile) okey taşıdır. Bu taş joker niteliğinde olup elde eksik olan istenilen renkteki sayı yerine kullanılır.
		</div>
		<div class="wfid_temp507946 panel" style="left:380px; top:2063px; font-size:18px;">
			Her el iki adet taş okey taşı yerine geçer. (okey sayılan taşın yerine kullanılmak üzere 2 tane sahte okey bulunur).
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp507969 panel">
		<div class="wfid_temp507997 panel" style="left:200px; top:2200px; font-size:28px; color:#FC6404;">
			SAHTE OKEY TAŞI
		</div>
		<div class="wfid_temp508022 panel" style="left:110px; top:2240px; font-size:18px;">
			“Sahte okey “ taşının sabit bir rengi ve sayısı yoktur.
		</div>
		<div class="wfid_temp508044 panel" style="left:150px; top:2265px; font-size:18px;">
			Her el “Okey taşı’” nın rengi ve sayısı yerine kullanılır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp508069 panel">
		<div class="wfid_temp508096 panel" style="left:430px; top:2440px; font-size:28px; color:#FC6404;">
			OYUN ÇEŞİTLERİ
		</div>
		<div class="wfid_temp508118 panel" style="left:320px; top:2501px; font-size:22px; color:#FC6404;">
			Standart 
		</div>
		<div class="wfid_temp508142 panel" style="left:550px; top:2504px; font-size:18px;">
			Gösterme
		</div>
		<div class="wfid_temp508165 panel" style="left:750px; top:2504px; font-size:18px;">
			1 Puan
		</div>
		<div class="wfid_temp508190 panel" style="left:550px; top:2529px; font-size:18px;">
			Açma
		</div>
		<div class="wfid_temp508213 panel" style="left:750px; top:2529px; font-size:18px;">
			3 Puan
		</div>
		<div class="wfid_temp508238 panel" style="left:550px; top:2554px; font-size:18px;">
			Okey atma
		</div>
		<div class="wfid_temp508262 panel" style="left:750px; top:2554px; font-size:18px;">
			6 Puan
		</div>
		<div class="wfid_temp508284 panel" style="left:550px; top:2579px; font-size:18px;">
			Çift açma
		</div>
		<div class="wfid_temp508307 panel" style="left:750px; top:2579px; font-size:18px;">
			6 Puan
		</div>
		<div class="wfid_temp508331 panel" style="left:550px; top:2604px; font-size:18px;">
			Çiftten okey atma
		</div>
		<div class="wfid_temp508353 panel" style="left:750px; top:2604px; font-size:18px;">
			12 Puan
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp508377 panel">
		<div class="wfid_temp508405 panel" style="left:300px; top:2662px; font-size:22px; color:#FC6404;">
			Tek Çift 
		</div>
		<div class="wfid_temp508427 panel" style="left:450px; top:2665px; width:400px; text-align:right; font-size:18px;">
			Gösterme nin tek yada çift olmasına göre puanların belirlendiği oyun şeklidir
			<span style='margin-right:-4px;'>
				.
			</span>
		</div>
		<div class="wfid_temp508452 panel" style="left:450px; top:2720px; width:400px; text-align:right; font-size:18px;">
			Tek sayılı gösterme olduğunda standart
			<br>
			 oyun puanları geçerli olur
			<span style='margin-right:-4px;'>
				.
			</span>
		</div>
		<div class="wfid_temp508476 panel" style="left:450px; top:2775px; width:400px; text-align:right; font-size:18px;">
			Çift sayılı gösterme olduğunda standart oyun puanlarının 2 katı kabul edilir
			<span style='margin-right:-4px;'>
				.
			</span>
		</div>
		<div class="wfid_temp508498 panel" style="left:100px; top:150px; font-size:18px;">
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp508522 panel">
		<div class="wfid_temp508550 panel" style="left:220px; top:2862px; font-size:22px; color:#FC6404;">
			Renkli 
		</div>
		<div class="wfid_temp508572 panel" style="left:350px; top:2865px; font-size:18px;">
			Gösterme taşının rengine göre puanlamanın yapıldığı oyundur.
		</div>
		<div class="wfid_temp508596 panel" style="left:320px; top:2890px; font-size:18px;">
			Gösterme SARI-MAVİ tek sayı  olursa  STANDART OYUN PUANLARI.
		</div>
		<div class="wfid_temp508618 panel" style="left:300px; top:2915px; font-size:18px;">
			Gösterme SARI-MAVİ çift sayı ve KIRMIZI - SİYAH tek sayı olursa 
			<br>
			2 katı puan hesaplanır.
		</div>
		<div class="wfid_temp508646 panel" style="left:310px; top:2962px; font-size:18px;">
			Gösterme KIRMIZI - SİYAH çift  sayı olursa 4 katı puan hesaplanır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp508672 panel">
		<div class="wfid_temp508699 panel" style="left:190px; top:3022px; font-size:22px; color:#FC6404;">
			Çanak Puanı 
		</div>
		<div class="wfid_temp508721 panel" style="left:380px; top:3025px; font-size:18px;">
			Tek-çift ve renkli oyunlar “çanak” lıdır.
		</div>
		<div class="wfid_temp508745 panel" style="left:420px; top:3050px; font-size:18px;">
			“Çanak”, oyun içi bonus puanların toplandığı yerdir.
		</div>
		<div class="wfid_temp508767 panel" style="left:400px; top:3075px; font-size:18px;">
			Açılışta oyun puanı sistem tarafından çanağa yazılır.
		</div>
		<div class="wfid_temp508790 panel" style="left:450px; top:3100px; font-size:18px;">
			Oyun içinde yapılmayan gösterme puanları çanağa eklenir.
		</div>
		<div class="wfid_temp508812 panel" style="left:400px; top:3125px; font-size:18px;">
			Okey atan, çift açan, 8 taş yapan, renk açanlar açma puanlarına
		</div>
		<div class="wfid_temp508836 panel" style="left:440px; top:3150px; font-size:18px;">
			ilave olarak çanak içindeki birikmiş puanı da kazanırlar.
		</div>
		<div class="wfid_temp508861 panel" style="left:400px; top:3175px; font-size:18px;">
			Boşalan çanağa , sistem tarafından oyun puanı yeniden eklenir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp508884 panel">
		<div class="wfid_temp508911 panel" style="left:350px; top:3252px; font-size:22px; color:#FC6404;">
			10’dan Düşmeli 
		</div>
		<div class="wfid_temp508935 panel" style="left:580px; top:3255px; font-size:18px;">
			Oyuna her oyuncu 10 puan ile başlar.
		</div>
		<div class="wfid_temp508956 panel" style="left:450px; top:3300px; font-size:18px;">
			Gösterme
		</div>
		<div class="wfid_temp508980 panel" style="left:580px; top:3300px; width:20px; text-align:right; font-size:18px;">
			1
		</div>
		<div class="wfid_temp509003 panel" style="left:450px; top:3325px; font-size:18px;">
			Açma
		</div>
		<div class="wfid_temp509025 panel" style="left:580px; top:3325px; width:20px; text-align:right; font-size:18px;">
			2
		</div>
		<div class="wfid_temp509051 panel" style="left:450px; top:3350px; font-size:18px;">
			Okey atma
		</div>
		<div class="wfid_temp509073 panel" style="left:580px; top:3350px; width:20px; text-align:right; font-size:18px;">
			4
		</div>
		<div class="wfid_temp509099 panel" style="left:450px; top:3375px; font-size:18px;">
			Çift açma
		</div>
		<div class="wfid_temp509121 panel" style="left:580px; top:3375px; width:20px; text-align:right; font-size:18px;">
			4
		</div>
		<div class="wfid_temp509145 panel" style="left:640px; top:3337px; font-size:18px;">
			olmak üzere puan düşümü yapılır.
		</div>
		<div class="wfid_temp509168 panel" style="left:480px; top:3420px; font-size:18px;">
			Puanını ilk sıfırlayan oyunu kazanır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp509191 panel">
		<div class="wfid_temp509219 panel" style="left:100px; top:3630px; font-size:28px; color:#FC6404;">
			FARKLI OYUN BİTİRME ÇEŞİTLERİ
		</div>
		<div class="wfid_temp509243 panel" style="left:100px; top:3670px; font-size:18px;">
			Ayrıca Tek-çift ve Renkli oyunlar için geçerli aşağıda açıklanan
		</div>
		<div class="wfid_temp509267 panel" style="left:100px; top:3695px; font-size:18px;">
			özel açma şekilleri de bulunur ve ikramiyeli puan hesabı yapılır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp509292 panel">
		<div class="wfid_temp509319 panel" style="left:75px; top:3762px; font-size:22px; color:#FC6404;">
			Renk Açmak 
		</div>
		<div class="wfid_temp509631 panel" style="left:260px; top:3765px; font-size:18px;">
			Açmanın eldeki taşların tamamının 
		</div>
		<div class="wfid_temp509660 panel" style="left:130px; top:3790px; font-size:18px;">
			aynı renkten taşlarla yapılması esasına dayanır. Normal oyundaki 
		</div>
		<div class="wfid_temp509680 panel" style="left:180px; top:3815px; font-size:18px;">
			gibi okeyler eksik taşların yerine kullanılabilir.
		</div>
		<div class="wfid_temp509700 panel" style="left:220px; top:3840px; font-size:18px;">
			Oyuna esas puanlamanın 8 katı açma puanı olarak uygulanır.
		</div>
		<div class="wfid_temp509720 panel" style="left:250px; top:3865px; font-size:18px;">
			Bu durumda okey atılırsa 16 katı uygulanır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp509741 panel">
		<div class="wfid_temp509765 panel" style="left:125px; top:3932px; font-size:22px; color:#FC6404;">
			Renkten Çift Açmak 
		</div>
		<div class="wfid_temp509785 panel" style="left:380px; top:3935px; font-size:18px;">
			Bütün çift taşların aynı renkten olması hali. 
		</div>
		<div class="wfid_temp509805 panel" style="left:350px; top:3960px; font-size:18px;">
			Renk açmanın iki katı puan uygulanır.
		</div>
		<div class="wfid_temp509825 panel" style="left:420px; top:3985px; font-size:18px;">
			Okey taşları kullanılabilir.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp509846 panel">
		<div class="wfid_temp509870 panel" style="left:50px; top:4052px; font-size:22px; color:#FC6404;">
			Sekiz Taş 
		</div>
		<div class="wfid_temp509890 panel" style="left:210px; top:4055px; font-size:18px;">
			Oyun esnasında, oyun taşları içinde herhangi bir taşın
		</div>
		<div class="wfid_temp509910 panel" style="left:160px; top:4080px; font-size:18px;">
			8 tanesini birden ıstakada toplamak demektir. Örn. 8 tane 4'lü gibi.
		</div>
		<div class="wfid_temp509930 panel" style="left:220px; top:4105px; font-size:18px;">
			8 taşı toplayan oyuncu ekranındaki “8 Taş” düğmesini tıkladığında 
		</div>
		<div class="wfid_temp509950 panel" style="left:240px; top:4130px; font-size:18px;">
			eli açıp açmamasına bakılmaksızın oyun puanının 4 katı puanı ve
		</div>
		<div class="wfid_temp509971 panel" style="left:320px; top:4155px; font-size:18px;">
			çanakta biriken puanı ödül olarak kazanır.
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp509991 panel">
		<div class="wfid_temp510015 panel" style="left:244px; top:4262px; font-size:22px; color:#fff;">
			Oyun ve puanlama seçenekleri masa açılışında set edilir. 
		</div>
	</div>
	<div class="info-page-content-panel wfid_temp510038 panel" style="height:640px;">
		<div class="wfid_temp510063 panel" style="left:394px; top:4400px; font-size:28px; color:#FC6404;">
			Puanlama Tablosu
		</div>
		<div class="wfid_temp510083 panel" style="top:4450px; font-size:18px;">
			<table border="0" cellpadding="0" cellspacing="0" class="wfid_temp510102 table">
				<tbody>
					<tr class="wfid_temp510125 tablerow">
						<th class="wfid_temp510144 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
						</th>
						<th class="wfid_temp510171 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
						</th>
						<th class="wfid_temp510196 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
							Tek-çift
						</th>
						<th class="wfid_temp510221 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="2" rowspan="1">
							Renkli
						</th>
						<th class="wfid_temp510246 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
						</th>
						<th class="wfid_temp510269 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
						</th>
					</tr>
					<tr class="wfid_temp510294 tablerow">
						<th class="wfid_temp510312 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
						</th>
						<th class="wfid_temp510336 tableheader" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							standart
						</th>
						<th class="wfid_temp510360 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							tek
						</th>
						<th class="wfid_temp510384 tableheader" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							çift
						</th>
						<th class="wfid_temp510408 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							sarı-mavi ÇİFT
							<br class="wfid_temp510431 br"/>
							siyah-kırmızı TEK
						</th>
						<th class="wfid_temp510451 tableheader" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							Siyah kırmızı ÇİFT
						</th>
						<th class="wfid_temp510476 tableheader" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							10&#39;dan düşmeli
						</th>
						<th class="wfid_temp510501 tableheader" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							Çanakta biriken
						</th>
					</tr>
					<tr class="wfid_temp510526 tablerow">
						<th class="wfid_temp510544 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Gösterme
						</th>
						<td class="wfid_temp510568 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							1
						</td>
						<td class="wfid_temp510593 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							1
						</td>
						<td class="wfid_temp510616 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							2
						</td>
						<td class="wfid_temp510640 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							2
						</td>
						<td class="wfid_temp510664 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							4
						</td>
						<td class="wfid_temp510687 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							1
						</td>
						<td class="wfid_temp510711 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							&mdash;
						</td>
					</tr>
					<tr class="wfid_temp510735 tablerow">
						<th class="wfid_temp510753 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Açma
						</th>
						<td class="wfid_temp510778 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							3
						</td>
						<td class="wfid_temp510801 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							3
						</td>
						<td class="wfid_temp510825 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp510849 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp510872 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp510896 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							2
						</td>
						<td class="wfid_temp510922 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							&mdash;
						</td>
					</tr>
					<tr class="wfid_temp510949 tablerow">
						<th class="wfid_temp510969 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Okey atma
						</th>
						<td class="wfid_temp510996 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp511021 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp511062 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp511089 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp511113 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							24
						</td>
						<td class="wfid_temp511137 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							4
						</td>
						<td class="wfid_temp511852 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp511900 tablerow">
						<th class="wfid_temp511921 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Taş çifti
						</th>
						<td class="wfid_temp511953 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp511984 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp512011 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp512039 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp512069 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							24
						</td>
						<td class="wfid_temp512096 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							4
						</td>
						<td class="wfid_temp512124 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp512157 tablerow">
						<th class="wfid_temp512177 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							8 taş
						</th>
						<td class="wfid_temp512206 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512239 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp512267 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							24
						</td>
						<td class="wfid_temp512296 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							24
						</td>
						<td class="wfid_temp512327 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							48
						</td>
						<td class="wfid_temp512356 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512383 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yapana
						</td>
					</tr>
					<tr class="wfid_temp512414 tablerow">
						<th class="wfid_temp512434 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Renk açma
						</th>
						<td class="wfid_temp512463 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512493 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							24
						</td>
						<td class="wfid_temp512524 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							48
						</td>
						<td class="wfid_temp512552 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							48
						</td>
						<td class="wfid_temp512581 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp512614 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512643 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp512673 tablerow">
						<th class="wfid_temp512696 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Renkten Taş çifti
						</th>
						<td class="wfid_temp512726 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512756 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							48
						</td>
						<td class="wfid_temp512785 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp512813 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp512843 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							192
						</td>
						<td class="wfid_temp512873 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp512901 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp512931 tablerow">
						<th class="wfid_temp512951 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Renkten okey atma
						</th>
						<td class="wfid_temp512981 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp513015 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							48
						</td>
						<td class="wfid_temp513044 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp513074 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp513103 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							192
						</td>
						<td class="wfid_temp513131 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp513158 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp513189 tablerow">
						<th class="wfid_temp513210 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Renkten Taş çifti okey atma
						</th>
						<td class="wfid_temp513241 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp513911 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							96
						</td>
						<td class="wfid_temp513972 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							192
						</td>
						<td class="wfid_temp514011 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							192
						</td>
						<td class="wfid_temp514051 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							384
						</td>
						<td class="wfid_temp514089 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp514126 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							açana
						</td>
					</tr>
					<tr class="wfid_temp514166 tablerow">
						<th class="wfid_temp514196 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Yanlış açan
						</th>
						<td class="wfid_temp514237 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-9
						</td>
						<td class="wfid_temp514273 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-9
						</td>
						<td class="wfid_temp514311 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-18
						</td>
						<td class="wfid_temp514351 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-18
						</td>
						<td class="wfid_temp514388 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-36
						</td>
						<td class="wfid_temp514426 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							-2
						</td>
						<td class="wfid_temp514463 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							&mdash;
						</td>
					</tr>
					<tr class="wfid_temp514503 tablerow">
						<th class="wfid_temp514532 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Yanlış açışta diğerleri
						</th>
						<td class="wfid_temp514573 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							3
						</td>
						<td class="wfid_temp514613 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							3
						</td>
						<td class="wfid_temp514650 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp514687 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							6
						</td>
						<td class="wfid_temp514722 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							12
						</td>
						<td class="wfid_temp514759 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp514795 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							&mdash;
						</td>
					</tr>
					<tr class="wfid_temp514836 tablerow">
						<th class="wfid_temp514864 tableheader" style="padding:5px;" align="left" valign="middle" colspan="1" rowspan="1">
							Çanak boşalınca çanağa eklenen
						</th>
						<td class="wfid_temp514899 tablecell" style="padding:5px; background-color:#ddddff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp514938 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							4
						</td>
						<td class="wfid_temp514977 tablecell" style="padding:5px; background-color:#ffbbcc; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							8
						</td>
						<td class="wfid_temp515015 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							8
						</td>
						<td class="wfid_temp515080 tablecell" style="padding:5px; background-color:#ddbbff; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							16
						</td>
						<td class="wfid_temp515120 tablecell" style="padding:5px; background-color:#ddffdd; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							yok
						</td>
						<td class="wfid_temp515160 tablecell" style="padding:5px; text-align:center;" align="left" valign="middle" colspan="1" rowspan="1">
							&mdash;
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
