<br><br>
<div style="max-width:700px; margin-left:15px;">
<h1 style="font-size:26px; margin-bottom:14px;">TURNUVAYA KATILMAK..!</h1>
<p>Turnuvaya katılabilmek için herhangi bir üyelik paketi satın almak gereklidir.</p>
<p>Ödülü, tarihi ve içeriği size uyan bir turnuva duyurusuna tıklayın.</p>
<p><b>Turnuva Kulisi</b>’ndesiniz.</p>
<p>Ödülleri ve diğer katılımcıları görüyorsunuz.</p>
<p><b>“Katılan Üyeler”</b> bölümünde <b>“Durum”</b>u kırmızı olanlar kayıt yaptırıp henüz kulise gelmemiş olanlar, <b>“Durum”</b>u yeşil olanlar ise o anda kuliste bulunanları gösterir.</p>
<p>Bu arada kulisteki diğer katılımcılar ile <b>”sohbet”</b> edebilirsiniz.</p>
<p>Katılmak için tek yapmanız gereken <b>“TURNUVAYA KATIL”</b> ı tıklamak.  Artık yerinizi ayırdınız. Başlama saatinde kuliste bulunmanız yeter.</p>
<p>Turnuva, başlamasına engel bir durum (yeterli oyuncu olmaması gibi) olmadığında kuliste hazır olan oyuncular ile otomatik olarak başlayacaktır.</p>
<p>Turnuva başlamadan önce ayrılmak isterseniz <b>“TURNUVADAN AYRIL”</b> ı tıklamanız yeterli.</p>
<p>Turnuva kaydınızı yaptığınız halde <b>“TURNUVADAN AYRIL”</b>ı tıklamadan katılmaz iseniz, turnuva siz olmadan da başlayacak ve siz turnuvaya katılma kotanızı kullanmış olacaksınız. Kotanızı kaybetmeden ayrılmak için ayrılma işlemini yapmalısınız. Lütfen bunu unutmayın.</p>
<p>Başlama saatini kaçırırsanız yada turnuva sırasında bağlantı kopması veya başka bir neden ile masadan ayrılmak zorunda kalırsanız endişelenmeyin. Elenmeden önce tekrar masanızdaki yerinizi alarak devam etmeniz mümkün.</p>
<p>Tekrar oynadığınız turnuvanın kulisine gelip <b>“MASAYA GİR”</b>i tıklamanız yeter.</p>
<p>Sadece olmadığınız eller için puan kazanamadınız. Ama hala oyunu kazanma şansınız var! Böyle güzelliği de kimse yapmaz..!</p>
<p>Ancak olmadığınız sürede tur tamamlanmış ve siz de elenmişseniz yapacak bir şey yok. Başkasına bakın.</p>
<p>Kuliste 250 ye kadar katılımcıyı sayfalar halinde görebilirsiniz.</p>
<p>Daha fazla sayıda katılımcısı olan turnuva kulisinde katılımcılar  nick leri ile topluca gösterilmektedir. Durum renkleri nick ler üzerindedir.</p>
<p>Yarışmanın keyfini çıkarın…</p>
</div>
