<br><br>
<div style="max-width:700px; margin-left:15px;">
<h1 style="font-size:26px; margin-bottom:14px;">YENİ TURNUVA KURMAK..! </h1>
<p>Turnuva kurabilmek için herhangi bir üyelik paketi satın almak gereklidir.</p>
<p><b>SEN DÜZENLE</b> ‘yi tıklayın</p>
<p>Gelen <b>“Turnuva Yarat”</b> ekranında; </p>
<p><b>“Turnuva Adı”</b>, ...turnuvanıza bir isim verin,</p>
<p><b>“Oyun Türü”</b>, <b>“Oyun Tipi”</b>, <b>“Oyun Hızı”</b>, <b>“Turnuva türü”</b> seçeneklerinden tercihlerinizi belirledikten sonra.</p>
<p><b>“Oyuncu sayısı”</b>, <b>”Kota”</b>, <b>“Kaç tur”</b> seçenekleri turnuvanızın büyüklüğünü yani hediyenizin puan değerini belirleyen tercihlerdir.</p>
<p><b>“Açıklama”</b> kutucuğu içinde turnuvanızın hangi turda hangi <b>eleme kuralının</b> uygulanacağı bilgisi görünecektir.</p>
<table cellpadding=5 cellspacing=0 border=0>
    <tr><td>&mdash;</td><td>yok</td><td><b>...</b></td><td>bu tur sonunda eleme yok</td></tr>
    <tr><td>&mdash;</td><td>ilk 2</td><td><b>...</b></td><td>bu tur sonunda ilk 2 devam</td></tr>
    <tr><td>&mdash;</td><td>1.ler</td><td><b>...</b></td><td>bu tur sonunda sadece 1.ler devam</td></tr>
    <tr><td>&mdash;</td><td>Final</td><td><b>...</b></td><td>son 4 kişinin birincilik için oynayacağını</td></tr>
</table>
<p>İfade etmektedir.</p>
<p><b>“Tarih”</b> ve <b>“saat”</b> kutucuklarına da başlama zamanını belirlediniz mi turnuva detayları tamamdır. </p>
<p>Sıra geldi <font size="+1"><b>Ödülü</b></font> belirlemeye.</p>
<p>Turnuva kurmak için yukarıdaki seçimlik tercihlerinizi belirledikten sonra sayfanın alt tarafındaki hediye kataloğunda gördüğünüz ürünlerin tamamı ödül olarak belirleyebileceğiniz ürünlerdir.</p>
<p><b>“Hediye Aralığı”</b> puan çubuğu size alltaki katalogta bulunan ürünlerin hangi puan değerleri arasında görünmesini, isteğinize göre az yada çok yada tamamı olarak gösterilmesine yarar.</p>
<p>Tercihlerinizin puan değerindeki ürünlerden ister sadece bir tanesini <b>1.lik Ödülü</b> olarak belirleyebileceğiniz gibi, isterseniz farklı yada aynı ürünleri <b>2.lik Ödülü</b> ve <b>3.lük Ödülü</b> olarakta belirleyebilirsiniz.</p>
<p>Seçtiğiniz ürün detayını tıkladığınızda gelen ürün sayfasının en altında bulunan  <b>“...ödülü olarak seç”</b> i tıkladığınızda ödülünüz turnuva duyurusunda yerini alacaktır.</p>
<p>Artık turnuvanız oynanmaya hazır.</p>
<p><b>“YARAT”</b> tuşuna basmanız yeterli...</p>
<p><b>Artık tek gereken yeterli katılımcıyı ayarlamak.</b></p>
<p>Turnuvanızı duyurun, tanıtın ve kazanmaya bakın.</p>
<p>Bu işin ne turnuva kurana, nede oynayana yeteri kadar kotası olması dışında hiçbir bir maliyeti yok. </p>
<p>Yarışmanın keyfini çıkarın. </p>
</div>
