<br><br>
<div style="max-width:700px; margin-left:15px;">
<h1 style="font-size:26px; margin-bottom:14px;">YENİ TURNUVA KURMAK! </h1>



<p>Turnuva kurabilmek için herhangi bir üyelik paketi satın almak gereklidir.</p>
<p><b>SEN DÜZENLE</b> ‘yi tıklayın</p>
<p>Gelen <b>“Turnuva Yarat”</b> ekranında;</p>
<p><b>Turnuva Adı</b> &mdash; turnuvanıza bir isim verin,</p>
<p><b>Oyun Türü</b><p>
<p><b>Oyun Tipi</b></p>
<p><b>Oyun Hızı</b></p>
<p><b>Turnuva türü</b> seçeneklerinden tercihlerinizi belirledikten sonra.</p>
<p><b>Oyuncu sayısı</b></p>
<p><b>Kota</b></p>
<p><b>Kaç tur</b> seçenekleri turnuvanızın büyüklüğünü yani hediyenizin puan değerini belirleyen tercihlerdir.</p>
<p><b>Açıklama</b> kutucuğu içinde turnuvanızın hangi turda hangi <b>eleme kuralının</b> uygulanacağı bilgisi görünecektir.</p>
<blockquote>
<table cellpadding=5 cellspacing=0 border=0>
    <tr><td>yok  </td><td><b>&mdash;</b></td><td>bu tur sonunda eleme yok</td></tr>
    <tr><td>ilk 2</td><td><b>&mdash;</b></td><td>bu tur sonunda ilk 2 devam</td></tr>
    <tr><td>1.ler</td><td><b>&mdash;</b></td><td>bu tur sonunda sadece 1.ler devam</td></tr>
    <tr><td>Final</td><td><b>&mdash;</b></td><td>son 4 kişinin birincilik için oynayacağını</td></tr>
</table>
</blockquote>
<p>İfade etmektedir.</p>
<p><b>Tarih</b> ve <b>saat</b> kutucuklarına da başlama zamanını belirlediniz mi turnuva detayları tamamdır. </p>

<p>Sıra geldi <b>Ödülü</b> belirlemeye. Turnuva kurmak için yukarıdaki seçimlik tercihlerinizi
belirledikten sonra sayfanın alt tarafındaki hediye kataloğunda gördüğünüz ürünlerin tamamı ödül
olarak belirleyebileceğiniz ürünlerdir.</p>

<p><b>Hediye Aralığı</b> puan çubuğu size alltaki katalogta bulunan ürünlerin hangi puan 
değerleri arasında görünmesini, isteğinize göre az yada çok yada tamamı olarak gösterilmesine yarar.
Tercihlerinizin puan değerindeki ürünlerden ister sadece bir tanesini <b>1.lik Ödülü</b> olarak
belirleyebileceğiniz gibi, isterseniz farklı yada aynı ürünleri <b>2.lik Ödülü</b> ve <b>3.lük Ödülü</b>
olarakta belirleyebilirsiniz. Seçtiğiniz ürün detayını tıkladığınızda gelen ürün sayfasının
en altında bulunan  <b>“...ödülü olarak seç”</b> i tıkladığınızda ödülünüz turnuva duyurusunda yerini alacaktır.
<p>Artık turnuvanız oynanmaya hazır.</p>

<p><b>YARAT</b> tuşuna basmanız yeterli. <b>Artık tek gereken yeterli katılımcıyı ayarlamak.</b>
Turnuvanızı duyurun, tanıtın ve kazanmaya bakın. Bu işin ne turnuva kurana, nede oynayana yeteri
kadar kotası olması dışında hiçbir bir maliyeti yok. Yarışmanın keyfini çıkarın. </p>
</div>
