{sub_dirs, ["apps", "deps"]}.
{rebar_plugins, [erlson_rebar_plugin]}.
{require_otp_vsn, "R14|R15"}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{lib_dirs, ["apps"]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager,	    "1.2.0", {git, "git://github.com/basho/lager.git",		 {tag, "1.2.0"}}},
    {alog,          "1.*",   {git, "git://github.com/5HT/alogger.git",		 "master"}},
    {gproc,         ".*",    {git, "git://github.com/uwiger/gproc",              "master"}},
%    {folsom,         ".*",   {git, "git://github.com/boundary/folsom",           "master"}},
    {gettext,       "2.*",   {git, "git://github.com/kunthar/gettext.git",	 "master"}},
    {gen_smtp,	    "0.1",   {git, "git://github.com/kunthar/gen_smtp.git",	 "master"}},
    {amf,	    ".*",    {git, "git://github.com/kunthar/erlang-amf.git",	 "master"}},
    {meck,          ".*",    {git, "git://github.com/kunthar/meck.git",      	 "master"}},
    {nitrogen_core, "2.1.*", {git, "git://github.com/5HT/nitrogen_core.git", "master"}},
    {nprocreg,      "0.2.*", {git, "git://github.com/kunthar/nprocreg.git",	 "master"}},
    {simple_bridge, "1.2.*", {git, "git://github.com/kunthar/simple_bridge.git", "master"}},
    {webmachine,    "1.8.*", {git, "git://github.com/basho/webmachine.git", {tag, "webmachine-1.8.1"}}},
    {sync,          "0.1.*", {git, "git://github.com/kunthar/sync.git",		 "master"}},
    {egeoip,        "1.0",   {git, "git://github.com/kunthar/egeoip.git",	 "master"}},
    {erlang_couchdb, ".*",   {git, "git://github.com/5HT/erlang_couchdb.git","master"}},
    {amqp_client,   ".*",    {git, "git://github.com/babaische/amqp_client.git", "master"}},
    {oembed,        "1.0",   {git, "git://github.com/kunthar/erlang-oembed.git", "master"}},
    {erlydtl,       ".*",    {git, "git://github.com/kunthar/erlydtl.git",    "master"}}
]}.
