.header {
  width:100%;
  border-bottom:1px solid #fff;
  position:relative;  z-index:20;
  background: #b53b08;
  background: -moz-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -webkit-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -o-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -ms-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: linear-gradient(top, #b53b08 0%, #a93907 100%);
  border-bottom:1px solid #fff;
}

.headerblue {
  float:right;
  width: 50%;
  height:82px;
  background: #257d89;
  background: -moz-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -webkit-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -o-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -ms-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: linear-gradient(top, #1d8da3 0%, #257d89 100%);
}

.header .block {
  background:url(/images/bg-header3.png) no-repeat 0 0;
  width:960px;
  height:82px;
  margin:0 auto;
  position:relative;
}

.header .logo {
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(http://static1.kakaranet.com/images/logo-beta.png) no-repeat;
  width:299px;
  height:60px;
  margin:11px 15px 0 0;
}
.header .logo a {
  display:block;
  height:100%;
  position:relative;
}

.header .top {
  position:absolute;
  top:0;
  right:0;
  width:650px;
  z-index:20;
}

.header .box {
  background:url(http://static1.kakaranet.com/images/bg-box.png);
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  float:left;
  padding:5px 5px 7px 7px;
  margin:0 0 0 9px;
}
.header .box img {vertical-align:top;}
