.header {
  width:100%;
  border-bottom:1px solid #fff;
  position:relative;  z-index:20;
  background: #b53b08;
  background: -moz-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -webkit-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -o-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: -ms-linear-gradient(top, #b53b08 0%, #a93907 100%);
  background: linear-gradient(top, #b53b08 0%, #a93907 100%);
  border-bottom:1px solid #fff;
}

.headerblue {
  float:right;
  width: 50%;
  height:82px;
  background: #257d89;
  background: -moz-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -webkit-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -o-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: -ms-linear-gradient(top, #1d8da3 0%, #257d89 100%);
  background: linear-gradient(top, #1d8da3 0%, #257d89 100%);
}

.header .block {
  background-image:url(/images/indexbg.png);
  background-position: -10px -10px;
  width:960px;
  height:82px;
  margin:0 auto;
  position:relative;
}

.header .logo {
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background-image:url(/images/indexbg.png);
  background-position: -10px -112px;
  width:299px;
  height:60px;
  margin:11px 15px 0 0;
}
.header .logo a {
  display:block;
  height:100%;
  position:relative;
}

.header .top {
  position:absolute;
  top:0;
  right:0;
  width:650px;
  z-index:20;
}

.header .box {
  background:url(/images/bg-box.png);
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  float:left;
  padding:5px 5px 7px 7px;
  margin:0 0 0 9px;
}
.header .box img {vertical-align:top;}

.user-menu {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  position:relative;
}

.user-menu li, .user-menu span li {
  float:left;
  padding:3px 7px 3px 8px;
  background-image: url(/images/indexbg.png);
  background-position: -10px -345px;
  font-size:12px;
  line-height:15px;
  font-weight:bold;}

.user-menu li:first-child,.user-menu li.first-child {background:none;}
.user-menu span li:first-child,.user-menu span li.first-child {
  background-image: url(/images/indexbg.png);
  background-position: -10px -345px;
}

.user-menu a {color:#fff;}
.user-menu span {font-size:16px;}
.user-menu img {float:left;margin:-3px 3px 0 -7px;position:relative;}
.list-top-photo a {display:block;}
.user-menu a {float:left;}
.user-menu .username {float:left;font-style:normal;
  background:url(/images/bullet-01.png) no-repeat 100% 5px;
  padding:0 15px 0 0;
  cursor:pointer;}
.user-menu a:hover {text-decoration:none;  color:#ffcf63;}
.user-menu li, .user-menu span li {position:relative;padding:3px 11px 7px 12px;}
.user-menu li:hover ul,.user-menu li.hover ul,.user-menu span li:hover ul,.user-menu span li.hover ul {display:block;}
.user-menu ul {
  position:absolute;left:0;top:100%;width:81px;background:#0d1722;list-style:none;padding:4px 10px 4px 14px;
  margin:0;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  display:none;
}
.user-menu ul li,.user-menu ul span li {
  padding:6px 0;
  background:none;
  font-size:13px;
}
.user-menu ul li:first-child,.user-menu ul li.first-child,.user-menu ul span li:first-child,.user-menu ul span li.first-child {
  margin:-7px 0 0 -14px;
  background:url(/images/bg-drop-tl.gif) no-repeat;
  padding-top:15px;
  padding-left:14px;
}
.user-menu ul a {  float:none;  color:#ffcf63;}
.user-menu ul a:hover {color:#fff;}
.user-menu {  z-index:50;  margin:0 0 -7px -7px;}

nav {
  right:0;
  bottom:0;
  width:650px;
  position:absolute;
}

nav ul {
  list-style:none;
  margin:0;
  padding:0;
  float:right;
}

nav li {
  float:left;
  padding:0 0 8px 19px;
  font:1.6em/1.188em 'Gotham Rounded Bold', "Trebuchet MS";
  text-shadow:-1px 0 1px #4a2428;
}

nav a {color:#f4fafd;}
nav .active a,nav a:hover {text-decoration:none;color:#83bc83;}

