.page-content {margin: 0 auto;padding:0; width: 960px;}

.slideshow {
  list-style:none;
  margin:0;
  padding:0;
  width:960px;
  height:352px;
  overflow:hidden;
  position:relative;
  z-index:10;
}

.slide {width: 960px;height:352px;}
.btns {float:right; margin-top: -60px; margin-right:264px;position:relative;z-index:12;}

.btns a {
    float:left;
    margin:0 8px 0 0;
    height:21px;
    padding:6px 17px;
    font:bold 18px/21px Arial, Helvetica, sans-serif;
    -moz-box-shadow:0 2px 3px #abafb2;
    -webkit-box-shadow:0 2px 3px #abafb2;
    box-shadow:0 2px 3px #abafb2;
}
.btns a:hover {text-decoration:none;}
.btns a.btn-dark {
    border:1px solid #4c4c4c;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    overflow:hidden;
    color:#fff;
    background: #919191;
    background: -moz-linear-gradient(top, #919191 0%, #4d4d4d 100%);
    background: -webkit-linear-gradient(top, #919191 0%, #4d4d4d 100%);
    background: -o-linear-gradient(top, #919191 0%, #4d4d4d 100%);
    background: -ms-linear-gradient(top, #919191 0%, #4d4d4d 100%);
    background: linear-gradient(top, #919191 0%, #4d4d4d 100%);
    text-shadow:0 1px 1px #353535;
}

.btns a.btn-yellow {
  border:1px solid #f6b74e;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    overflow:hidden;
    color:#963;
    background: #fee395;
    background: -moz-linear-gradient(top, #fee395 0%, #febb49 100%);
    background: -webkit-linear-gradient(top, #fee395 0%, #febb49 100%);
    background: -o-linear-gradient(top, #fee395 0%, #febb49 100%);
    background: -ms-linear-gradient(top, #fee395 0%, #febb49 100%);
    background: linear-gradient(top, #fee395 0%, #febb49 100%);
    text-shadow:0 1px 1px #fedc9a;
}

.slideshow-control{
  background-color: #a7b6b7;
  border-bottom:2px solid #fff;
}
.slideshow-control li {
  float:left;
  background-image: url(/images/indexbg.png);
  background-position: -10px -378px;//sep-02
  margin:0;
  padding:0 12px;
  height:45px;
  text-transform:uppercase;
  font:15px/18px 'Gotham Rounded Bold', "Trebuchet MS";
}
.slideshow-control a {color:#fff;  display:inline-block;  padding:15px 0;}

.switcher{
  list-style:none;
  margin:0;
  padding:0;
  display:inline-block;
  position:relative;
  z-index:11;
}

.switcher li:first-child, .switcher li.first-child {padding-left:0;background:none;}
.switcher .activeSlide a, .switcher a:hover {
  text-decoration:none;
  color:#000;
  padding-top:23px;
  margin-top:-8px;
  background:url(/images/btn-switcher.gif) no-repeat 50% 0;
}

.pager {list-style:none;margin:0;padding:0;float:right;}
.pager li {padding:0 11px;}
.pager li:first-child, .pager li.first-child {background:none;}

.pager a {
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  width:12px;
  height:18px;
}

.pager .prev{
  background-image: url(/images/indexbg.png);
  background-position: -10px -182px;
}

.pager .next {
  background-image: url(/images/indexbg.png);
  background-position: -22px -182px;
}
