.steps-list{
  width:100%;
  margin:0 0 20px;
  padding:0;
  list-style:none;
  overflow:hidden;
  font-weight:bold;
  display:table;
}

.steps-list li{
  display:table-cell;
  margin:0;
  padding:0;
}

.step{
  width:261px;
  height:108px;
  margin:0 auto;
  border:1px solid black;
  padding:6px 12px 12px 18px;
  border:1px solid #d9d9d9;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;  border-radius:3px;
  font-size:14px;
  line-height:17px;
  color: #ffffff;
  position:relative;
}

li:first-child .step{margin-left:0;}
li:last-child .step{margin-right:0;}

.red-bg{
  background:rgb(179,60,8);
  background:-moz-linear-gradient(top, rgba(179,60,8,1) 0%, rgba(241,97,2,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,60,8,1)), color-stop(100%,rgba(241,97,2,1)));
  background:-webkit-linear-gradient(top, rgba(179,60,8,1) 0%,rgba(241,97,2,1) 100%);
  background:-o-linear-gradient(top, rgba(179,60,8,1) 0%,rgba(241,97,2,1) 100%);
  background:-ms-linear-gradient(top, rgba(179,60,8,1) 0%,rgba(241,97,2,1) 100%);
  background:linear-gradient(top, rgba(179,60,8,1) 0%,rgba(241,97,2,1) 100%);
}

.lightgrey-bg{
  background:rgb(140,140,140);
  background:-moz-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(127,127,127,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,176,176,1)), color-stop(100%,rgba(127,127,127,1)));
  background:-webkit-linear-gradient(top, rgba(176,176,176,1) 0%,rgba(127,127,127,1) 100%);
  background:-o-linear-gradient(top, rgba(176,176,176,1) 0%,rgba(127,127,127,1) 100%);
  background:-ms-linear-gradient(top, rgba(176,176,176,1) 0%,rgba(127,127,127,1) 100%);
  background:linear-gradient(top, rgba(176,176,176,1) 0%,rgba(127,127,127,1) 100%);
}

.lightgrey-btn{
  border:1px solid #8c8c8c;
  height:16px;
  padding:3px 8px;
  font:bold 12px/15px Arial, Helvetica, sans-serif;
  -moz-box-shadow:0 2px 3px #abafb2;
  -webkit-box-shadow:0 2px 3px #abafb2;
  box-shadow:0 2px 3px #abafb2;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  color:#fff;
  text-shadow:0 1px 1px #353535;
  float:left;
}

.step .link{
  float:right;
  width:160px;
  height:30px;
  text-align:center;
  font-size:20px;
  line-height:30px;

  border:1px solid #f5b74e;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-weight:bold;
  text-transform:uppercase;
  position:absolute;
  bottom:12px;
  right:12px;
}

.step-title {
  display:block;
  font-size:19px;
  line-height:26px;
  letter-spacing:-1px;
  margin-bottom:-2px;
}

.red-bg .step-title {color:#f6a20a;}
.green-bg .step-title {color:#8ad438;}
.blue-bg .step-title {color:#a4d1ee;}

.yellow-btn{
  background:rgb(255,208,14);
  background:-moz-linear-gradient(top, rgba(255,208,14,1) 0%, rgba(255,170,9,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,208,14,1)), color-stop(100%,rgba(255,170,9,1)));
  background:-webkit-linear-gradient(top, rgba(255,208,14,1) 0%,rgba(255,170,9,1) 100%);
  background:-o-linear-gradient(top, rgba(255,208,14,1) 0%,rgba(255,170,9,1) 100%);
  background:-ms-linear-gradient(top, rgba(255,208,14,1) 0%,rgba(255,170,9,1) 100%);
  background:linear-gradient(top, rgba(255,208,14,1) 0%,rgba(255,170,9,1) 100%);
  color:#474747;
  text-shadow:0 1px #ffd36d;
  -webkit-box-shadow:0 1px 1px #ca4c05;
  -moz-box-shadow:0 1px 1px #ca4c05;
  box-shadow:0 1px 1px #ca4c05;
}

.green-bg{
  background:rgb(76,112,21);
  background:-moz-linear-gradient(top, rgba(76,112,21,1) 0%, rgba(142,195,86,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,112,21,1)), color-stop(100%,rgba(142,195,86,1)));
  background:-webkit-linear-gradient(top, rgba(76,112,21,1) 0%,rgba(142,195,86,1) 100%);
  background:-o-linear-gradient(top, rgba(76,112,21,1) 0%,rgba(142,195,86,1) 100%);
  background:-ms-linear-gradient(top, rgba(76,112,21,1) 0%,rgba(142,195,86,1) 100%);
  background:linear-gradient(top, rgba(76,112,21,1) 0%,rgba(142,195,86,1) 100%);
}

.green-btn{
  background:rgb(202,226,133);
  background:-moz-linear-gradient(top, rgba(202,226,133,1) 0%, rgba(159,203,87,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,226,133,1)), color-stop(100%,rgba(159,203,87,1)));
  background:-webkit-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-o-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-ms-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  color:#5d7731;
  border-color:#9dba60 !important;
  text-shadow:0 1px #cee4a3;
  -webkit-box-shadow:0 1px 1px #689333;
  -moz-box-shadow:0 1px 1px #689333;
  box-shadow:0 1px 1px #689333;
}

.blue-bg{
  background:rgb(27,79,143);
  background:-moz-linear-gradient(top, rgba(27,79,143,1) 0%, rgba(91,171,220,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,79,143,1)), color-stop(100%,rgba(91,171,220,1)));
  background:-webkit-linear-gradient(top, rgba(27,79,143,1) 0%,rgba(91,171,220,1) 100%);
  background:-o-linear-gradient(top, rgba(27,79,143,1) 0%,rgba(91,171,220,1) 100%);
  background:-ms-linear-gradient(top, rgba(27,79,143,1) 0%,rgba(91,171,220,1) 100%);
  background:linear-gradient(top, rgba(27,79,143,1) 0%,rgba(91,171,220,1) 100%);
}

.blue-btn{
  background:rgb(92,182,216);
  background:-moz-linear-gradient(top, rgba(92,182,216,1) 0%, rgba(48,120,187,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,182,216,1)), color-stop(100%,rgba(48,120,187,1)));
  background:-webkit-linear-gradient(top, rgba(92,182,216,1) 0%,rgba(48,120,187,1) 100%);
  background:-o-linear-gradient(top, rgba(92,182,216,1) 0%,rgba(48,120,187,1) 100%);
  background:-ms-linear-gradient(top, rgba(92,182,216,1) 0%,rgba(48,120,187,1) 100%);
  background:linear-gradient(top, rgba(92,182,216,1) 0%,rgba(48,120,187,1) 100%);
  color:#f9f9f9;
  border-color:#4b97ce !important;
  -webkit-box-shadow:0 1px 1px #3674aa;
  -moz-box-shadow:0 1px 1px #3674aa;
  box-shadow:0 1px 1px #3674aa;
}

/* */
.article1{
  border:1px solid #dcdcdc;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-bottom:15px;
}

.article1 .head{padding:6px 11px;margin-bottom:10px;}

.article1 h2 {
  margin:0 0 2px;
  font:22px/30px 'Gotham Rounded Bold', "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  float:left;
}

.items{
  width:100%;
  overflow:hidden;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background:rgb(225,224,199);
  background:-moz-linear-gradient(top, rgba(225,224,199,1) 0%, rgba(244,243,222,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,224,199,1)), color-stop(100%,rgba(244,243,222,1)));
  background:-webkit-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:-o-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:-ms-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  -webkit-box-shadow:0 0 4px #c4c3ad inset;
  -moz-box-shadow:0 0 4px #c4c3ad inset;
  box-shadow:0 0 4px #c4c3ad inset;
}

.item{
  float:left;
  border-right:1px solid #fff;
  border-left:1px solid #c6c6b2;
  padding:9px 5px 0 11px;
  height:61px;
}

.item1{
  border-left:0;
}

.items h3{
  color:#df4426;
  font-size:14px;
  margin:0 0 4px;
  line-height:18px;
}

.article1 .list1{
  margin:5px 0 0 -1px;
  padding:0;
  list-style:none;
  overflow:hidden;
}

.article1 .list1 li{
  float:left;
  padding:0 2px 2px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
}

.article1 .list1 a{
  float:left;
  border:1px solid #f5b74e;
  padding:0 18px;
  color:#996633;
  text-shadow:0 1px #fedd9a;
  height:24px;
  background:rgb(254,218,113);
  background:-moz-linear-gradient(top, rgba(254,218,113,1) 0%, rgba(254,188,75,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,218,113,1)), color-stop(100%,rgba(254,188,75,1)));
  background:-webkit-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:-o-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:-ms-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px #cdccba;
  -moz-box-shadow:0 1px 1px #cdccba;
  box-shadow:0 1px 1px #cdccba;
  position:relative;
}

 .article1 .list1 .active a,
 .article1 .list1 a:hover{
  color:#a6a6a6;
  text-decoration:none;
  border-color:#9d9d9d;
  -webkit-box-shadow:0 0 4px #9d9d9d inset;
  -moz-box-shadow:0 0 4px #9d9d9d inset;
  box-shadow:0 0 4px #9d9d9d inset;
  background:#eaeaea;
  text-shadow:-1px 0 #d9d9d9;
}
 .article1 .item3 .list1 a{padding:0 6px;}

/* green buttons hack */
.article1 .list1_blue, .article1 .list1_green {
  margin:5px 0 0 -1px;
  padding:0;
  list-style:none;
  overflow:hidden;
}

.article1 .list1_green li, .article1 .list1_blue li {
  float:left;
  padding:0 2px 2px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
}
.article1 .list1_blue a, .article1 .list1_green a{
  float:left;
  border:1px solid #f5b74e;
  padding:0 5px;
  color:#996633;
  height:24px;
  background:rgb(202,226,133);
  background:-moz-linear-gradient(top, rgba(202,226,133,1) 0%, rgba(159,203,87,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,226,133,1)), color-stop(100%,rgba(159,203,87,1)));
  background:-webkit-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-o-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-ms-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  color:#5d7731;
  border-color:#9dba60;
  text-shadow:0 1px #cee4a3;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px #689333;
  -moz-box-shadow:0 1px 1px #689333;
  box-shadow:0 1px 1px #689333;
  position:relative;
}
.list1_blue .active a,
.list1_blue a:hover,
.list1_green .active a,
.list1_green a:hover{
color:#a6a6a6;
text-decoration:none;
border-color:#9d9d9d;
-webkit-box-shadow:0 0 4px #9d9d9d inset;
-moz-box-shadow:0 0 4px #9d9d9d inset;
box-shadow:0 0 4px #9d9d9d inset;
background:#eaeaea;
text-shadow:-1px 0 #d9d9d9;
}

 .article1 .item3 .list1_blue a, .article1 .item3 .list1_green a {  padding:0 6px;}/* hack ends */ 

.choose-form{width:150px;padding:15px 0 0;} 
.choose-form .row{width:100%;overflow:hidden;padding-bottom:5px;} 
.choose-form .chk{float:left;width:16px;height:15px;margin:0 2px 0 0;padding:0;} 
.choose-form label{float:left;font:12px/16px Arial, Helvetica, sans-serif;color:#444;} 

.options{
  float:left;
  border-left:1px solid #C6C6B2;
  padding:10px 1px 0 12px;
  text-align:center;
  font-size:12px;
  line-height:18px;
  font-weight:bold;
  height:61px;
}

.options a{color:#737373;}

.article-table{
width:100%;
border-collapse:collapse;
font-size:1.2em;
line-height:1.916em;
font-weight:bold;
color:#4f4f4f;
}
 .article-table td{
padding:7px 14px 8px;
border:solid #e8e8e6;
border-width:0 0 0 0;
background:#efefef;
}
 .article-table .color1 td{background:#fff;}
 .article-table .cell1{width:577px;}
 .article-table .cell3{
border:0;
padding-right:0;
}
 .article-table ul{
margin:0;
padding:0;
list-style:none;
float:left;
}
 .article-table ul li{
float:left;
padding:0 2px 2px 3px;
text-align:center;
}

 .article-table ul a{
  float:left;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid #dcdcdc;
  text-shadow:0 1px #fdfdfd;
  color:#555;
  width:48px;
  -webkit-box-shadow:0 1px 1px #e1e1e1;
  -moz-box-shadow:0 1px 1px #e1e1e1;
  box-shadow:0 1px 1px #e1e1e1;
  background:rgb(251,251,251);
  background:-moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(240,240,240,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(240,240,240,1)));
  background:-webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%);
  background:-o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%);
  background:-ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%);
  background:linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%);position:relative;
}

.article-table .join-button{
  border:1px solid #bababa;
  text-shadow:0 1px #ececec;
  -webkit-box-shadow:0 1px 1px #d1d1d1;
  -moz-box-shadow:0 1px 1px #d1d1d1;
  box-shadow:0 1px 1px #d1d1d1;
  background:rgb(255,202,14);
  background:-moz-linear-gradient(top, rgba(255,202,14,1) 0%, rgba(235,192,14,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,192,14,1)), color-stop(100%,rgba(240,240,240,1)));
  background:-webkit-linear-gradient(top, rgba(255,202,14,1) 0%,rgba(235,192,14,1) 100%);
  background:-o-linear-gradient(top, rgba(255,202,14,1) 0%,rgba(235,192,14,1) 100%);
  background:-ms-linear-gradient(top, rgba(255,202,14,1) 0%,rgba(235,192,14,1) 100%);
  background:linear-gradient(top, rgba(255,202,14,1) 0%,rgba(235,192,14,1) 100%);
}

 .paging, .paging-2 {
width:100%;
overflow:hidden;
position:relative;
}
 .paging .center,
.paging-2 .center {
position:relative;
float:left;
left:50%;
}

 .paging .center ul,
.paging-2 .center ul {
float:left;margin:0;padding:0;list-style:none;position:relative;left:-50%;}

 .paging .center li,
.paging-2 .center li {
float:left;padding:0 2px 2px;text-align:center;font-size:12px;line-height:22px;font-family:'HELVETICANEUELTSTD-BD';width:26px;height:25px;}

 .paging .center a,.paging-2 .center a {
display:block;height:23px;color:#717171;text-shadow:0 1px #fbfbfb;border:1px solid #c9c9c9;
background:rgb(249,249,249);background:-moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(234,234,234,1) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(234,234,234,1)));
background:-webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
background:-o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
background:-ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
background:linear-gradient(top, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
-webkit-box-shadow:0 1px 1px #e8e8e8;
-moz-box-shadow:0 1px 1px #e8e8e8;
box-shadow:0 1px 1px #e8e8e8;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
position:relative;
}


.paging .center ul span,
.paging-2 .center ul span {
  float:left;
  width:24px;
  height:23px;
  color:#717171;
  color:#f2f2f2;
  text-shadow:0 1px #5b5b5b;
  -webkit-box-shadow:0 0 4px #505050 inset;
  -moz-box-shadow:0 0 4px #505050 inset;
  box-shadow:0 0 4px #505050 inset;
  background:#676767;
  border:1px solid #505050;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

 .paging .center a:hover,
.paging-2 .center a:hover {
  background:#676767;
  border-color:#505050;
  color:#f2f2f2;
  text-shadow:0 1px #5b5b5b;
  -webkit-box-shadow:0 0 4px #505050 inset;
  -moz-box-shadow:0 0 4px #505050 inset;
  box-shadow:0 0 4px #505050 inset;
  text-decoration:none;
}
.paging-2 {background:url(/images/bg-dashed.gif) repeat-x;padding:27px 0 28px;}

.criteria{
  padding:6px 10px;
  overflow:hidden;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background:rgb(225,224,199);
  background:-moz-linear-gradient(top, rgba(225,224,199,1) 0%, rgba(244,243,222,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,224,199,1)), color-stop(100%,rgba(244,243,222,1)));
  background:-webkit-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:-o-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:-ms-linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  background:linear-gradient(top, rgba(225,224,199,1) 0%,rgba(244,243,222,1) 100%);
  -webkit-box-shadow:0 0 4px #c4c3ad inset;
  -moz-box-shadow:0 0 4px #c4c3ad inset;
  box-shadow:0 0 4px #c4c3ad inset;
}

.clear_selection{
  margin-left:310px;
  font-size:12px;
  font-weight:bold;
  color:rgb(115,115,115);
}

.criteria h2{
  margin:0;
  padding:4px 8px 0 0;
  letter-spacing:-1px;
}

.criteria .row, .criteria .row_green{
  margin:0;
  padding:4px 0 0;
  list-style:none;
  float:right;
  -webkit-box-shadow:0 0 4px #c6c6c6 inset;
  -moz-box-shadow:0 0 4px #c6c6c6 inset;
  box-shadow:0 0 4px #c6c6c6 inset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  border:1px solid #c6c6c6;
  background:#eee;
  width:560px;
  min-height: 30px;
}

.criteria .row li{
  float:left;
  padding:0 4px 4px 6px;
  margin:0;
  line-height:24px;
  font-size:12px;
  font-weight:bold;
  color:#996633;
  text-shadow:0 1px #fedd9a;
}

.criteria .row li em {
  float:left;
  position:relative;
  font-style:normal;
  border:1px solid #f5b74e;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background:rgb(254,218,113);
  background:-moz-linear-gradient(top, rgba(254,218,113,1) 0%, rgba(254,188,75,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,218,113,1)), color-stop(100%,rgba(254,188,75,1)));
  background:-webkit-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:-o-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:-ms-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  background:linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
  padding:0 3px 0 10px;
  -webkit-box-shadow:0 1px 1px #cbcbcb;
  -moz-box-shadow:0 1px 1px #cbcbcb;
  box-shadow:0 1px 1px #cbcbcb;
}
.criteria .row li span{
  float:left;
  padding-right:7px;
}

.criteria .row li a{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/ico-close.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:4px;
}

.criteria .row_green li{
  float:left;
  padding:0 4px 4px 6px;
  margin:0;
  line-height:24px;
  font-size:12px;
  font-weight:bold;
  color:#996633;
  text-shadow:0 1px #fedd9a;
}

.criteria .row_green li em {
  float:left;
  position:relative;
  font-style:normal;
  border:1px solid #f5b74e;
  padding:0 3px 0 10px;
  background:rgb(202,226,133);
  background:-moz-linear-gradient(top, rgba(202,226,133,1) 0%, rgba(159,203,87,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,226,133,1)), color-stop(100%,rgba(159,203,87,1)));
  background:-webkit-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);background:-o-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-ms-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  color:#5d7731;
  border-color:#9dba60;
  text-shadow:0 1px #cee4a3;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px #689333;
  -moz-box-shadow:0 1px 1px #689333;
  box-shadow:0 1px 1px #689333;
}
.criteria  .row_green li span{
  float:left;
  padding-right:7px;
}
.criteria  .row_green li a{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/ico-close_green.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:4px;
}

.criteria .btn-create {
    float:right;
    width:120px;
    text-align:center;
    color:#fff;
    font-size:18px;
    margin-top:-8px;
    padding:4px 10px;
    color: #474747;
    text-shadow: 0 0;
    border:1px solid #f5b74e;
    font-weight:bold;
    text-shadow:0 1px #2e2e2e;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:rgb(254,218,113);
    background:-moz-linear-gradient(top, rgba(254,218,113,1) 0%, rgba(254,188,75,1) 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,218,113,1)), color-stop(100%,rgba(254,188,75,1)));
    background:-webkit-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:-o-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:-ms-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    -webkit-box-shadow:0 1px 1px #cbcbcb;
    -moz-box-shadow:0 1px 1px #cbcbcb;
    box-shadow:0 1px 1px #cbcbcb;
}

.criteria .btn-create.disable{
    color:#fff;
    text-shadow:0 1px #2e2e2e;
    border:1px solid #313131;
    -webkit-box-shadow:0 1px 1px #a6a596;
    -moz-box-shadow:0 1px 1px #a6a596;
    box-shadow:0 1px 1px #a6a596;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:rgb(94,94,94);
    background:-moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(67,67,67,1) 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(67,67,67,1)));
    background:-webkit-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(67,67,67,1) 100%);
    background:-o-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(67,67,67,1) 100%);
    background:-ms-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(67,67,67,1) 100%);
    background:linear-gradient(top, rgba(94,94,94,1) 0%,rgba(67,67,67,1) 100%);
}

/* matchmaker rules */
.matchmaker_rules h1{font-size:26px;}
.matchmaker_rules h2{font-size:20px;}
.matchmaker_rules{
  font-size:14px;
  padding: 30px 40px 30px;
  text-align:justify;
}

.matchmaker_rules .left_col {
    width:150px;
    font-weight:bold;
    text-align:right;
    vertical-align:top;
}
.matchmaker_rules .games_col1 {
    background-color:#ddddff;
    text-align:center;
}
.matchmaker_rules .games_col2 {
    background-color:#ffbbcc;
    text-align:center;
}
.matchmaker_rules .games_col3 {
    background-color:#ddbbff;
    text-align:center;
}

.matchmaker_rules .games_col4 {
    background-color:#ddffdd;
    text-align:center;
}
.matchmaker_rules .games_col5 {
    text-align:center;
}

.matchmaker_rules .point_red {
    background-color:#FB7;
    min-width:15px;
}

.matchmaker_rules .point_blue {
    font-weight:bold;
    background-color:#89C;
    text-align:right;
}

.matchmaker_rules .point_green {
    background-color:#BE8;
    text-align:center;
}

.matchmaker_rules .point_no {
    background-color:#FB7;
    padding:0 6px;
}

.rules_okey .games_col1 {
    background-color:#ddddff;
    text-align:center;
}

.rules_okey .games_col2 {
    background-color:#ffbbcc;
    text-align:center;
}

.rules_okey .games_col3 {
    background-color:#ddbbff;
    text-align:center;
}

.rules_okey .games_col4 {
    background-color:#ddffdd;
    text-align:center;
}

.rules_okey .games_col5 {
    text-align:center;
}

.affiliates-box {
  border: 1px solid #cddee6;
  background-color:#e9f4f9;
  padding: 9px;
  margin: 10px;
  font-size:14px;
  line-height:16px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}


/* slide-area */
/*Make common green button*/
.slide-up_green{
    width:50px;
    float:right;
    border:1px solid #f5b74e;
    padding:0 5px;
    height:24px;
    background:rgb(202,226,133);
    background:-moz-linear-gradient(top, rgba(202,226,133,1) 0%, rgba(159,203,87,1) 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,226,133,1)), color-stop(100%,rgba(159,203,87,1)));
    background:-webkit-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
    background:-o-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
    background:-ms-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
    background:linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
    color:#5d7731;
    border-color:#9dba60;
    text-shadow:0 1px #cee4a3;
    -webkit-box-shadow:0 1px 1px #689333;
    -moz-box-shadow:0 1px 1px #689333;
    box-shadow:0 1px 1px #689333;
    text-align:center;
    font-weight:bold;
    line-height:24px;
    position:relative;
    z-index:1;
    margin:-40px 10px 0;
}

#tabs-block{
  background:#ebf5f9;
  border:solid #c6c6c6;
  border-radius:0;
  border-width:1px 0;
  padding:0;
}

.tabset{
  float:left;
  width:176px;
  padding:0 !important;
  list-style:none;
  border: 0;
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border:1px solis black;
  margin: 0 -1px 0 0 !important;
}

.tabset li{
  font-size:1.6em;
  line-height:1.375em;
  font-weight:bold;
  vertical-align:top;
  width:100%;
  background:none;
  border:0;
  margin:0;
  padding:0;
}
.ui-tabs .ui-tabs-nav li{border-bottom: 1px solid lightgrey !important;}

.tabset li a{
  width;176px;
  margin:0;
  padding:0;
  display:block;
  color:#4d4d4d;
  font-weight:bold;
  background:none;
}
.tabset li.active{ border-bottom:2px solid #add2e0; }
.tabset li.ui-state-hover a, .tabset li.ui-state-active a{
  text-decoration:none;  color:#e15034;
}

.tabset li.ui-state-hover, .tabset li.ui-state-active{
  //text-decoration:none;
  //color:#e15034;
  background:#fff url(../images/bullet-tabset1.gif) no-repeat 100% 50%;
}
.tabset .ui-state-default {
  border:0;
  background:0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding:0;
  margin:0;
}
.tabset li.ui-state-active{border-bottom:2px solid #add2e0 !important;}

.tabarea{
  overflow:hidden;
  background:#fff;
  border-left:1px solid #c6c6c6;
  padding:20px;
}

.tabcontent {    min-height: 130px;}

.tabcontent h3{
  text-align:left;
    margin:0;
    color:#df4426;
    font-size:14px;
    line-height:18px;
    padding-bottom:1px;
    margin-top:18px;
}

.tabcontent .two-cols a{padding:0 10px;}
.two-cols .left{
    float:left;
    width:364px;
}
.two-cols .right{
    float:right;
    width:291px;
}

.form1{width:100%;overflow:hidden;}
.form1 .chk{float:left;    margin:0 3px 0 4px;    padding:0;    width:16px;    height:15px;    display:inline;}
.form1 label{float:left;    color:#444;    font:12px/16px Arial, Helvetica, sans-serif;    margin-right:7px;}
.form1 .row {width:100%; overflow:hidden;padding:0px 0 10px;}
.form1 .row .chk{margin:0 3px;} 
.form1 .row label{margin:0;}

.ui-widget {
  font: 1em Arial, Helvetica, sans-serif;
}

.ui-slider {
  margin-left: 200px;
  margin-top: 10px;
  width: 480px;
}

.tabcontent input {
    padding:4px;
    -webkit-box-shadow:0 0 4px #c6c6c6 inset;
    -moz-box-shadow:0 0 4px #c6c6c6 inset;
    box-shadow:0 0 4px #c6c6c6 inset;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #c6c6c6;
    background:#fff;    width: 150px;
}

.table-name {width:100%;float:left;margin-bottom:18px;}
.table-name input {
  float:left;
  width: 360px;
  height:16px;
}

/*Make a common yellow button */
a.set-table-name {
    color:#996633;
    font-size: 12px;
    font-weight: bold;
    height:23px;
    line-height: 24px;
    margin-left: 5px;
    padding:0 10px;
    text-align:center;
    text-shadow:0 1px #fedd9a;
    background:rgb(254,218,113);
    background:-moz-linear-gradient(top, rgba(254,218,113,1) 0%, rgba(254,188,75,1) 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,218,113,1)), color-stop(100%,rgba(254,188,75,1)));
    background:-webkit-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:-o-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:-ms-linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    background:linear-gradient(top, rgba(254,218,113,1) 0%,rgba(254,188,75,1) 100%);
    border:1px solid #f5b74e;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 1px 1px #cdccba;
    -moz-box-shadow:0 1px 1px #cdccba;
    box-shadow:0 1px 1px #cdccba;
  float:left;
}


