[{nsw_srv,
     [{game_srv_port,7999},
      {game_srv_host,"rigdzin.cc"},
      {fb_id,"154227314626053"},
      {fb_secret,"cf9d49958ee536dd75f15bf8ca541965"},
      {http_address,"http://kakaranet.com:7788"},
      {app_srv_node,'app@rigdzin.cc'},
      {game_srv_node,'game@rigdzin.cc'},
      {web_srv_node,'web@rigdzin.cc'},
      %% 2 weeks timeout in minutes
      {session_timeout, 20160}]},
 {alog,
     [{enabled_loggers,[alog_tty,proxy_to_error_logger_lager_h,lager_proxy]},
      {alog_disk_log,[{repair,true},{file,"log/alogger_disk_log.log"}]}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]},
      {crash_log,"log/crash.log"},
      {crash_log_msg_size,65536},
      {crash_log_size,10485760},
      {crash_log_date,"$D0"},
      {crash_log_count,5},
      {error_logger_redirect,true}]},
 {nsx_utils, [{app_srv_node,'app@rigdzin.cc'}]},
 {nsg_srv,
     [{app_srv_node,'app@rigdzin.cc'},
      {game_srv_node,'game@rigdzin.cc'},
      {web_srv_node,'web@rigdzin.cc'}]}].
