-name WEBSERVER_NODE
-setcookie nitrogen
-boot start_sasl
-mnesia dir data
-sasl errlog_type all
-gproc gproc_dist all
+K true
+A 5
-env ERL_MAX_PORTS 20000
-env ERL_FULLSWEEP_AFTER 0
-sync sync_mode nitrogen
-init_debug