{sys, [
    {lib_dirs, ["../../apps","../../deps","/mnt/glusterfs/apps/riak_bin"]},
    {rel, "ns_node", "1", [
	kernel,
	stdlib,
	sasl,
	mnesia,
	appmon,
	nsm_mq,
	gproc,
	gen_leader,
	nsx_idgen,
	nsx_config,
	nsx_utils,
	nsm_conn,
	sync,
	nsg_games,
	nsg_session,
	nsm_db,
	riak_pb,
	riak_control,
	nsg_srv,
	crypto,
	os_mon,
	nsx_mibs,
	otp_mibs,
	snmp
    ]},
    {rel, "start_clean", "",[
	kernel,
	stdlib ]},
    {boot_rel, "ns_node"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*",
                        "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, ["^ebin$",
                            "^include$",
                            "^priv$" ]},
    {app, nitrogen_core, [{incl_cond, exclude}]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, nsm_srv, [{incl_cond, exclude}]},
    {app, nsw_srv, [{incl_cond, exclude}]} ]}.

{target_dir, "node"}.
{overlay, [
    {mkdir, "log/sasl"},
    {mkdir, "etc/snmp/agent/db"},
    {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {copy, "files/ns_node", "bin/ns_node"},
    {copy, "files/config", "etc/config"},
    {copy, "files/configure", "etc/configure"},
    {copy, "files/app.config", "etc/app.config"},
    {copy, "files/vm.args.template", "etc/vm.args.template"},
    {copy, "files/snmp/agent", "etc/snmp"}
]}.

