.home-block{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-home-block.png', sizingmethod='crop');
}
.home-block .block1 .holder{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-block1.png', sizingmethod='crop');
}
.home-block .block2 .holder{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-block2.png', sizingmethod='crop');
}
.home-block .block1 .button{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/button-001.png', sizingmethod='crop');
	cursor: pointer;
}
.home-block .block3 .holder{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-block3.png', sizingmethod='crop');
}
.header{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-header.png', sizingmethod='crop');
}
.header .logo{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-inner-logo.png', sizingmethod='crop');
}
.content .holder{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-content-holder.png', sizingmethod='crop');
}
.content .top{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-content-top.png', sizingmethod='crop');
}
.content .top .button{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-button2.png', sizingmethod='crop');
	cursor: pointer;
}
.content .games-list li .holder{
	background: url("/images/facebook/none.gif");
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/images/facebook/bg-games-list-li.png', sizingmethod='crop');
	cursor: pointer;
}
* html .content .games-list li{display: inline;}
* +html .content .games-list li{display: inline;}
.content .holder,
.content .games-list .ico{height: 1%;}
img {
	position:relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "/images/facebook//images/facebook/none.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
