@font-face {
	font-family: 'GothamRounded-Bold';
	src: url('/fonts/facebook/gothamrounded-bold.eot');
	src: url('/fonts/facebook/gothamrounded-bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/facebook/gothamrounded-bold.woff') format('woff'),
	url('/fonts/facebook/gothamrounded-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('/fonts/facebook/helveticaneue-bold-webfont.eot');
	src: url('/fonts/facebook/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/facebook/helveticaneue-bold-webfont.woff') format('woff'),
	url('/fonts/facebook/helveticaneue-bold-webfont.ttf') format('truetype'),
	url('/fonts/facebook/helveticaneue-bold-webfont.svg#HelveticaNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a{
	color:#5bacdf;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
img{border-style:none;}
.page{
	width: 513px;
	height: 450px;
	margin: 0 auto;
	position: relative;
}
.home-block{
	width: 513px;
	height: 450px;
	overflow: hidden;
	background: url(/images/facebook/bg-home-block.png) no-repeat;
}
.home-block h3{
	margin: 0;
	color: #fff;
	font: 18px/18px 'GothamRounded-Bold';
	text-align: center;
	letter-spacing: -1px;
	position: relative;
	z-index: 100;
}
.home-block .block1{
	width: 284px;
	height: 259px;
	position: absolute;
	left: 14px;
	top: 15px;
	z-index: 3;
}
.home-block .block1 .holder{
	width: 270px;
	height: 242px;
	padding: 17px 9px 0 5px;
	background: url(/images/facebook/bg-block1.png) no-repeat;
}
.home-block .block1 h3{
	margin: 0 0 13px;
	color: #04badf;
	font-size: 40px;
	line-height: 34px;
	letter-spacing: -2px;
	position: relative;
	z-index: 100;
}
.home-block .block1 h3 span{
	display: block;
	color: #fff;
	font-size: 29px;
	line-height: 27px;
	padding: 0 0 4px;
}
.home-block .block1 .button{
	width: 157px;
	height: 29px;
	display: block;
	padding: 8px 0 0;
	margin: 0 0 0 54px;
	text-align: center;
	color: #996633;
	font: bold 18px/21px Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 #fedc9a;
	background: url(/images/facebook/button-001.png) no-repeat;
	position: relative;
}
.home-block .block2{
	width: 184px;
	height: 118px;
	position: absolute;
	right: 17px;
	top: 55px;
}
.home-block .block2 .holder{
	width: 154px;
	height: 71px;
	padding: 47px 17px 0 13px;
	background: url(/images/facebook/bg-block2.png) no-repeat;
}
.home-block .block2 h3{margin: 0 0 6px;}
.home-block .block3{
	width: 184px;
	height: 157px;
	position: absolute;
	right: 57px;
	top: 191px;
	z-index: 1;
}
.home-block .block3 .holder{
	padding: 19px 20px 0;
	background: url(/images/facebook/bg-block3.png) no-repeat;
	width: 144px;
	height: 138px;
}
.home-block .block3 h3{margin: 0 0 8px;}
.home-block .block3 .like{
	width: 65px;
	height: 23px;
	margin: 0 auto;
}
.home-block .block3 .like img{display: block;}
.site-link{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 6px;
	font: 16px/19px 'GothamRounded-Bold';
	text-align: center;
	z-index: 100;
}
.fb-inner.view_table .section,
.fb-inner.view_table .wrapper,
.wrapper{
	width: 760px;
	margin: 0 auto;
}
.header{
	height: 70px;
	background: url(/images/facebook/bg-header.png) no-repeat;
	padding: 12px 0 0 237px;
}
.header .logo{
	width: 299px;
	height: 58px;
	text-indent: -9999px;
	margin: 0;
	background: url(/images/facebook/bg-inner-logo.png) no-repeat;
}
.header .logo a{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 100;
}
.content{
	width: 100%;
	background: url(/images/facebook/bg-content.gif) repeat-y;
}
.content .holder{
	background: url(/images/facebook/bg-content-holder.png) no-repeat;
	padding: 26px 15px 0;
}
.content .top{
	width: 354px;
	height: 43px;
	margin: 0 0 0 138px;
	background: url(/images/facebook/bg-content-top.png) no-repeat;
	padding: 13px 34px 0 22px;
	overflow: hidden;
}
.content .top h3{
	font: 18px/22px 'GothamRounded-Bold';
	color: #fff;
	letter-spacing: -1px;
	margin: 0;
	padding: 4px 0 0;
	word-spacing: 2px;
	position: relative;
	z-index: 99;
}
.content .top .button{
	float: right;
	color: #996633;
	font: bold 18px/21px Arial, Helvetica, sans-serif;
	width: 101px;
	height: 26px;
	background: url(/images/facebook/bg-button2.png) no-repeat;
	text-shadow: 0 1px 0 #fedc9a;
	text-align: center;
	padding: 5px 0 0;
	margin: 0 0 0 10px;
	position: relative;
	z-index: 100;
}
.content .games-list{
	width: 730px;
	margin: 0;
	padding: 20px 0 0;
	list-style: none;
	text-align: center;
}
.content .games-list li{
	display: inline-block;
	width: 186px;
	margin: 0 13px 17px;
	position: relative;
	z-index: 1;
}
.content .games-list li .holder{
	background: url(/images/facebook/bg-games-list-li.png) no-repeat;
	height: 1%;
	padding: 13px 7px 15px 8px;
}
.content .games-list .ico{
	padding: 0 6px 4px 5px;
	position: relative;
	z-index: 99;
}
.content .games-list .ico img{display: block;}
.content .games-list .play-link{
	width: 171px;
	height: 36px;
	background: url(/images/facebook/bg-games-link-1.gif) no-repeat;
	display: block;
	font: 18px/22px 'HelveticaNeueRegular';
	color: #0d2234;
	text-shadow: 0 1px 0 #c7e790;
	padding: 10px 0 0;
	position: relative;
	z-index: 100;
}
.content .games-list .active .play-link{
    background: url(/images/facebook/bg-games-link.gif) no-repeat;
}
.content .games-list .play-link:hover{
	text-decoration: none;
	background: url(/images/facebook/bg-games-link-1.gif) no-repeat 0 -46px;
}
.content .games-list .active .play-link:hover{
	text-decoration: none;
	background: url(/images/facebook/bg-games-link.gif) no-repeat 0 -46px;
}
.content .games-list .title{
	position: absolute;
	left: -2px;
	top: -2px;
	width: 77px;
	height: 77px;
	z-index: 100;
}
.content .games-list .title img{display: block;}
.content .games-list .stat {
	position:absolute;
	right:2px;
	top:85px;
	width:100%;
        z-index: 150;
}
.content .games-list .stat span {
	float:right;
	background:url(/images/facebook/bg-stat.png) no-repeat;
	padding:5px 6px 8px 18px;
	color:#fff;
	font:bold 10px/13px Arial, Helvetica, sans-serif;
}

.content .games-list .active .stat span {
    display: none;
}

.footer{
	height: 79px;
	background: #1b4f90 url(/images/facebook/bg-footer.gif) no-repeat 226px 0;
	position: relative;
	margin: -4px 0 0;
	padding: 5px 0 0;
	text-align: center;
	font: bold 18px/22px Arial, Helvetica, sans-serif;
}
.footer .online{
	display: block;
	color: #a4d1ee;
	letter-spacing: -1px;
	padding: 0 0 14px 65px;
}
.footer .online span{
	font-size: 22px;
	line-height: 25px;
}
.footer .like-list{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}
.footer .like-list li{
	display: inline;
	padding: 0 4px;
}
.footer .like-list li a{
	color: #1b4f90;
	background: url(/images/facebook/bg-like-list-a.gif) no-repeat;
	display: inline-block;
	letter-spacing: -1px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
.footer .like-list li a span{
	background: url(/images/facebook/bg-like-list-span.gif) no-repeat 100% 0;
	padding: 0 6px 2px 4px;
	display: inline-block;
}
.footer .like-list li a:hover{text-decoration: none;}

body.fb-inner {
	margin: 8px auto 8px;
	background-image: none;
}

.fb-inner .holder {
	padding: 26px 0;
}
.fb-inner .create-area {
	padding: 0;
}

.fb-inner .create-block {
	background: transparent;
	width: 760px;
	padding: 20px 0;
	-webkit-box-shadow: 0px 0px;
	-moz-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border: 0;
}

.fb-inner .create-block .article1 {
	background: white;
	margin: 0 1px 15px;
	border: 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.fb-inner .create-block .article1 .list1 li{
    font-size:11px;
    padding: 0px 1px 1px;
}

.fb-inner .create-block .article1 .list1_green li{
    font-size:11px;
    padding: 0px 1px 1px;
}

.fb-inner .create-block .article1 .items .item3 {
	/*width: 160px;*/
}

.fb-inner .create-block .article1 .items .item4 {
	display: none;
}

.fb-inner .create-block .article-table{
    font-size:11px;
}

.fb-inner .create-block .article-table .cell1 {
	width: 375px;
}

.fb-inner .create-block .steps-list {
	margin: 0 0 7px;
	width: 760px;
}

.fb-inner .create-block .steps-list li {
	margin-left: 5px;
	width: 215px;
}

.fb-inner .create-block .steps-list .ttl {
	font-size: 16px;
}

.fb-inner .create-block .steps-list li {
	font-size: 12px;
}

.fb-inner .create-block .steps-list .link {
	margin-top: -50px;
}

.fb-inner .criteria {
	width: 715px;
}

.fb-inner .criteria .area .row {
	width: 490px;
}

.fb-inner footer {
	border: 0;
	width: 760px;
}
.fb-inner #tabs-block .tabcontent .two-cols .right {
	float: none;
	margin: 70px 0 5px;
}

.fb-inner.matchmaker .ui-slider {
	width: 320px;
}

.fb-inner.view_table .section {
	margin: 1px;
	padding: 0 24px;
	width: 710px;
}

.fb-inner.view_table h3.table-name {
	padding-top: 9px;
}
