[{gproc,[{gproc_dist,'all'}]},
 {mnesia,[{dir,"data"}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]},
      {crash_log,"log/crash.log"},
      {crash_log_msg_size,65536},
      {crash_log_size,10485760},
      {crash_log_date,"$D0"},
      {crash_log_count,5},
      {error_logger_redirect,true}]},
 {nsm_srv,
     [{riak_srv_node,'web@srv1.kakaranet.com'},
      {app_srv_node,'app@srv1.kakaranet.com'},
      {game_srv_node,'game@srv1.kakaranet.com'},
      {web_srv_node,'web@srv1.kakaranet.com'}]},
 {nsm_db,
     [{riak_srv_node,'web@srv1.kakaranet.com'},
      {pass_init_db,true},
      {nodes, ['app@srv2.kakaranet.com', 'game@srv2.kakaranet.com', 'web@srv2.kakaranet.com', 'app@srv1.kakaranet.com', 'game@srv1.kakaranet.com', 'web@srv1.kakaranet.com']},
      {app_srv_node,'app@srv1.kakaranet.com'},
      {game_srv_node,'game@srv1.kakaranet.com'},
      {web_srv_node,'web@srv1.kakaranet.com'}]},
 {riak_core,
     [{ring_state_dir,"riak/ring"},
      {ssl,
          [{certfile,"/mnt/glusterfs/server.crt"},
           {keyfile,"/mnt/glusterfs/server.key"}]},
      {https,[{"0.0.0.0",8350}]},
      {handoff_port,8103},
      {platform_bin_dir,"/usr/sbin"},
      {platform_data_dir,"riak"},
      {platform_etc_dir,"etc"},
      {platform_lib_dir,"lib"},
      {platform_log_dir,"riak/log"}]},
 {riak_kv,
     [{storage_backend,riak_kv_multi_backend},
      {multi_backend_default,bitcask_backend},
      {multi_backend,
          [{bitcask_backend,riak_kv_bitcask_backend,
               [{data_root,"riak/bitcask"}]},
           {leveldb_backend,riak_kv_eleveldb_backend,
               [{data_root,"riak/leveldb"}]}]},
      {mapred_name,"mapred"},
      {mapred_system,pipe},
      {mapred_2i_pipe,true},
      {map_js_vm_count,0},
      {reduce_js_vm_count,0},
      {hook_js_vm_count,0},
      {js_max_vm_mem,0},
      {js_thread_stack,0},
      {http_url_encoding,on},
      {riak_kv_stat,true},
      {legacy_stats,true},
      {vnode_vclocks,true},
      {legacy_keylisting,false},
      {listkeys_backpressure,true}]},
 {riak_search,[{enabled,true}]},
 {merge_index,
     [{data_root,"riak/merge_index"},
      {data_root_2i,"riak/merge_index_2i"},
      {buffer_rollover_size,1048576},
      {max_compact_segments,20}]},
 {bitcask,[{data_root,"riak/bitcask"}]},
 {eleveldb,[{data_root,"riak/leveldb"}]},
 {riak_sysmon,
     [{process_limit,30},
      {port_limit,2},
      {gc_ms_limit,100},
      {heap_word_limit,40111000},
      {busy_port,true},
      {busy_dist_port,true}]},
 {riak_control,
     [{enabled,true},
      {auth,userlist},
      {userlist,[{"user","pass"}]},
      {admin,true}]},
 {a,[{v,1}]},
 {nsw_srv,
     [{app_srv_node,'app@srv1.kakaranet.com'},
      {game_srv_node,'game@srv1.kakaranet.com'},
      {web_srv_node,'web@srv1.kakaranet.com'},
      {game_srv_port,80},
      {game_srv_host,"188.40.111.144"},
      {fb_id,"274618369298354"},
      {fb_secret,"c7824599489d4dd24eee251c20174959"},
      {jspack,"full"},
      {ssl,[{port,443},{certfile,"/mnt/glusterfs/server.crt"},{keyfile,"/mnt/glusterfs/server.key"}]}, 
      {csspack,"full"},
      {http_address,"http://188.40.111.152:80"}]},
 {nsm_mq,
     [{amqp_host,"srv1.kakaranet.com"},
      {amqp_port,5672},
      {amqp_user,"guest"},
      {amqp_pass,"guest"},
      {amqp_vhost,"/"}]},
 {nsx_utils,[{app_srv_node,'app@srv1.kakaranet.com'}]}].
