{sub_dirs, [
        "nsx_config",  "nsm_mq",  "nsm_db", "nsg_srv", "nsx_utils", "nsm_bg", "nsm_srv",
        "nsx_idgen",
        "nsm_auth", "nsm_conn", 
        "nsg_games", "nsg_session", "nsm_gifts",
        "nsw_srv",
        "nsx_mibs"
     ]}.
{lib_dirs, ["../apps"]}.
{deps_dir, ["../deps"]}.
