* {font-size:100.01%;}
html {font:62.5% Arial, Helvetica, sans-serif;}
body {
	font:1em Arial, Helvetica, sans-serif;
	color:#444;
	background:#fff url(../images/bg-body.jpg) repeat-x;
	margin:0;
	min-width:1034px;
}
a {
	text-decoration:none;
	color:#4ec3f1;
}
a:hover {text-decoration:underline;}
img {border:none;}
input,
select,
textarea {
	font:12px/15px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
a:focus,
input:focus,
textarea:focus,
select:focus {outline:none;}
section,
article,
nav,
header,
footer,
aside {display:block;}
@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/helveticaneue_bold-webfont.eot');
	src: local('☺'), url('../fonts/helveticaneue_bold-webfont.woff') format('woff'), url('../fonts/helveticaneue_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded Bold';
	src: url('../fonts/GothamRnd-Bold.eot');
	src: local('☺'), url('../fonts/GothamRounded-Bold.woff') format('woff'),
	 url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
	 url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ar {float:right;}
/* header */
header {
	width:100%;
	background:url(../images/bg-header.jpg) no-repeat 50% 0;
	border-bottom:1px solid #fff;
	position:relative;
	z-index:20;
}
header .block {
	width:960px;
	height:82px;
	margin:0 auto;
	position:relative;
}
header .logo {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo-beta.png) no-repeat;
	width:299px;
	height:60px;
	margin:11px 15px 0 0;
}
header .logo a {
	display:block;
	height:100%;
	position:relative;
}
header .top {
	position:absolute;
	top:0;
	right:0;
	width:650px;
	z-index:20;
}
header .box {
	background:url(../images/bg-box.png);
	padding:5px 5px 7px 7px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	float:left;
	margin:0 0 0 9px;
}
.user-menu {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	position:relative;
}
.user-menu li, .user-menu span li {
	float:left;
	padding:3px 7px 3px 8px;
	background:url(../images/sep-01.gif) no-repeat;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}
nav {
	right:0;
	bottom:0;
	width:650px;
	position:absolute;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
nav li {
	float:left;
	padding:0 0 8px 19px;
	font:1.6em/1.188em 'Gotham Rounded Bold', "Trebuchet MS";
	text-shadow:-1px 0 1px #4a2428;
}
nav a {color:#f4fafd;}
nav .active a,
nav a:hover {
	text-decoration:none;
	color:#83bc83;
}
.stat-bar {
	width:857px;
	margin:0 auto 6px;
	border:1px solid #d2dce1;
	background:#1b4f90 url(../images/bg-stat-bar.jpg) no-repeat;
	overflow:hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:0 32px 0 68px;
}
.dlist {
	float:left;
	margin:0;
	color:#a4d1ee;
	padding:7px 0 8px;
	font-weight:bold;
}
.dlist dt {
	float:left;
	font-size:18px;
	line-height:25px;
}
.dlist dd {
	float:left;
	font-size:22px;
	line-height:25px;
	margin:0;
}
.stat-bar ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	width:545px;
}
.stat-bar li {
	float:left;
	padding:9px 14px 10px 0;
	font-weight:bold;
	font-size:16px;
	line-height:19px;
}
.stat-bar li dl {
	float:left;
	margin:0;
	padding:0;
}
.stat-bar li dt {
	float:left;
	color:#215696;
	background:#7bb3f0;
	padding:1px 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.stat-bar li dd {
	float:left;
	margin:0;
	padding:1px 0 1px 2px;
	color:#fff;
}
.btn-abone:hover {text-decoration:none;}
/* footer */
footer {
	border-top:3px solid #f8f8f8;
	padding:8px 0 18px;
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
.navbar {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.navbar li {
	float:left;
	padding:0 14px 0 15px;
	background:url(../images/sep-03.gif) no-repeat 0 2px;
	font:1em/1.3em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#777;
}
.navbar li:first-child,
.navbar li.first-child {background:none;}
.navbar a {color:#777;}
footer .lang {
	float:right;
	padding:0 0 0 19px;
	color:#999;
	font-size:1.1em;
	line-height:1.27em;
	cursor:pointer;
	position:relative;
}
footer .lang img {
	position:absolute;
	left:0;
	top:50%;
	margin:-5px 0 0;
}
/* lightboxes */
.lightbox_background {
    background: black url("../images/lightbox_bg.png");
    opacity: 0.9;
	position:relative;
    z-index: 1001;
}