.lightbox_panel.splash_panel {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 62.5%;
	font-weight: normal;
	font-style: normal;
	color: #373737;
	padding: 20px 0px 0px 30px;
	background: url("../images/welcome-back.png") no-repeat top left;
	width: 717px;
	height: 400px;
	position: relative;
}

.splash_panel img {
	border: 0px;
}

.splash_panel .clear {
	clear: both;
}

.splash_panel .clearfix {
	display: block;
}

.splash_panel .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.close {
	position: absolute;
	top: 0px;
	right: 15px;
}

.splash_panel .pc-left {
	width: 180px;
	float: left;
}

.splash_panel .pc-right {
	padding-top: 10px;
	border-left: 1px solid #4893c5;
	margin-left: 20px;
	padding-left: 20px;
	width: 420px;
	float: left;
	height: 90%;
}

.splash_panel label {
	font-size: 2.3em;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.splash_panel li {
	margin-left: 30px;
	font-size: 2.3em;
	line-height: 1.4em;
	list-style-type: disc;
}

.splash_panel h2 {
	font-size: 4.4em;
	color: #4893c5;
	font-weight: normal;
}

.splash_panel a {
	color: #4893c5;
	text-decoration: none;
}

.splash_panel a:hover {text-decoration underline;
	
}

.splash_panel .fbtn {
	cursor: pointer;
	background: url("../images/btn-green.png") no-repeat top left;
	height: 32px;
	width: 62px;
	font-weight: bold;
	border: 0px;
	color: #5d7731;
	padding-bottom: 5px;
}

.splash_panel input {
	vertical "/home/marcosa/splash.html"-align: middle;
}

.lightbox_panel {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding: 80px 0px 0px 42px;
	background: transparent url("../images/login/login-back.png") no-repeat top left;
	width: 657px;
	height: 300px;
	position: relative;
	font-weight: normal;
	font-style: normal;
	color: #373737;
}

.lightbox_panel h1 {
	font-size: 2em;
	position: absolute;
	top: 0px;
	left: 15px;
	width: auto;
	padding: 17px 0px 5px 5px;
	font-weight: normal;
}

.login_panel img {
	border: 0px;
}

.login_panel .clear {
	clear: both;
}

.login_panel .clearfix {
	display: block;
}

.login_panel .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.login_panel .pc-left {
	width: 300px;
	float: left;
}

.login_panel .pc-right {
	width: 300px;
	height: 247px;
	margin-left: 20px;
	padding-left: 20px;
	float: left;
	background: url("../images/login/signup-back.png") no-repeat top left;
        text-align: left;
}

.login_panel p {
	
}

.login_panel li {
	font-size: 1.4em;
	line-height: 1.4em;
}

.login_panel h2 {
	color: #4893c5;
	padding: 0px;
}

.login_panel a {
	color: #4893c5;
	text-decoration: none;
}

.login_panel a:hover {text-decoration underline;
	
}

.login_panel .frow {
	margin-bottom: 10px;
}

.login_panel .fr-left {
	float: left;
	font-size: 1.2em;
}

.login_panel .fr-left label {
	display: initial;
	vertical-align: middle;
}

.login_panel .fr-right {
	float: right;
	margin-right: 7px;
}

.login_panel .fbtn {
	cursor: pointer;
	background: url("../images/login/btn-blue4.png") no-repeat top left;
	height: 32px;
	width: 82px;
	font-weight: bold;
	border: 0px;
	color: #42788e;
	padding-bottom: 5px;
}

.login_panel .fbtn2 {
	cursor: pointer;
	background: url("../images/login/btn-green2.png") no-repeat top left;
	height: 32px;
	width: 123px;
	font-weight: bold;
	border: 0px;
	color: #5d7731;
	padding-bottom: 5px;
	font-size: 1.4em;
	margin-left: 60px;
}

.login_panel .ftxt {
	background: url("../images/login/text-back3.png") no-repeat top left;
	width: 276px;
	height: 38px;
	border: 0px;
	padding: 0px 10px 0px 10px;
}

.login_panel .fr-left
{
  width: 190px;
}

.login_panel .fr-left .checkbox
{
  float: left;
}

.login_panel a.login-facebook {
	margin-left: 60px;
}

.login_panel input {
	vertical-align: middle;
}

.login_panel label {
	font-size: 1.4em;
	margin-bottom: 5px;
	margin-left: 3px;
	display: block;
	position: relative;
}

.login_panel label span {
	color: #999;
	position: absolute;
	right: 7px;
}

.login_panel .pc-right label {
	width: 250px;
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 15px 0px 10px 0px;
	padding: 0px;
	font-weight: bold
}

.register_panel {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #373737;
	padding: 75px 0px 0px 30px;
	background: transparent url("../images/register-back.png") no-repeat top left; 
	width: 685px;
	height: 510px;
	position: relative;
	
}

.register_panel img {
	border: 0px;
}

.register_panel .clear {
	clear: both;
}

.register_panel .clearfix {
	display: block;
}

.register_panel .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.register_panel .pc-left {
	width: 310px;
	float: left;
	margin-right: 0px;
	border-right: 1px solid #eee;
}

.register_panel .pc-right {
	width: 300px;
	height: 247px;
	padding-left: 20px;
	float: left;
}

.register_panel p {
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
}

.register_panel li {
	font-size: 1.4em;
	line-height: 1.4em;
}

.register_panel h1 {
	font-size: 2em;
	position: absolute;
	top: 14px;
	left: 14px;
	width: auto;
	padding: 3px 0px 5px 5px;
	font-weight: normal;
}

.register_panel h2 {
	font-size: 2.4em;
	color: #4893c5;
	margin: 20px 0px 10px 0px;
	padding: 0px;
}

.register_panel a {
	color: #4893c5;
	text-decoration: none;
}

.register_panel a:hover {text-decoration underline;
	
}

.register_panel .frow {
	margin-bottom: 7px;
}

.register_panel .fr-left {
	float: left;
	font-size: 1.2em;
	padding-top: 12px;
}

.register_panel .fr-left2 {
	float: left;
	font-size: 1.2em;
	padding-top: 3px;
}

.register_panel .fr-right {
	float: right;
	margin-right: 7px;
}

.register_panel .fr-right2 {
	float: right;
	margin-right: 23px;
}

.register_panel .fbtn {
	cursor: pointer;
	background: url("../images/btn-blue4.png") no-repeat top left;
	height: 32px;
	width: 82px;
	font-weight: bold;
	border: 0px;
	color: #42788e;
	padding-bottom: 5px;
}

.register_panel .fbtn2 {
	cursor: pointer;
	background: url("../images/btn-blue4.png") no-repeat top left;
	height: 32px;
	width: 82px;
	font-weight: bold;
	border: 0px;
	color: #42788e;
	padding-bottom: 5px;
	margin-right: 15px;
}

.register_panel .ftxt {
	background: url("../images/login/text-back3.png") no-repeat top left;
	width: 270px;
	height: 38px;
	border: 0px;
	padding: 0px 10px 0px 10px;
}

.register_panel .ftxt2 {
	background: url("../images/login/text-back4.png") no-repeat top left;
	width: 180px;
	height: 38px;
	border: 0px;
	padding: 0px 10px 0px 10px;
}

.register_panel input {
	vertical-align: middle;
}

.register_panel label {
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-left: 3px;
	display: block;
	position: relative;
	font-weight: inherit;
}

.register_panel label span {
	color: #999;
	position: absolute;
	right: 7px;
}

.register_panel .pc-right p {
	width: 250px;
}

.register_panel a.login-facebook {
	margin-left: 60px;
}

.register_panel .fr-left label {
	display: initial;
	vertical-align: middle;
}