.quick-nav{
  list-style:none;
  margin:20px 0;
  padding:0;
  float:left;
  width:100%;
  position:relative;
  z-index: 1;
  overflow: hidden;
}

.quick-nav li {
  position: relative;
  float:left;
  text-align:center;
  width:162px;
  border: 1px solid #e1e1e1;
  margin: 7px;
  padding: 7px;
  background: #fff;
}

ul.quick-nav li:before, ul.quick-nav li:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60%;
  max-width: 200px;
  max-height: 100px;
  height: 70%;
  -webkit-box-shadow: 0 10px 5px #dadada;
  -moz-box-shadow: 0 10px 5px #dadada;
  box-shadow: 0 10px 5px #dadada;
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}

ul.quick-nav li:after {
  left: auto;
  right:10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

.quick-nav a {
  padding: 0;
  margin:0 auto;
  display:block;
  text-decoration:none;
}

.game-title {
  position:absolute;
  top:-7px;
  left:-7px;
}

.lets-play { /*TODO:merge with green list*/
  display:block;
  height:21px;
  padding:6px 0 7px;
  margin-top:20px;

  background:rgb(202,226,133);
  background:-moz-linear-gradient(top, rgba(202,226,133,1) 0%, rgba(159,203,87,1) 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,226,133,1)), color-stop(100%,rgba(159,203,87,1)));
  background:-webkit-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-o-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:-ms-linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);
  background:linear-gradient(top, rgba(202,226,133,1) 0%,rgba(159,203,87,1) 100%);

  border:1px solid #6e99bc;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  text-align:center;
  font:18px/21px 'HelveticaNeueBold';
  color:#0d2234;
  text-shadow:0 1px 1px #c9e791;
}

li.inactive:hover .lets-play{
  background: #b0b0b0;
  background:-moz-linear-gradient(top, #b0b0b0 0%, #c4c4c4 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0b0b0), color-stop(100%, #c4c4c4));
  background:-webkit-linear-gradient(top, #b0b0b0 0%, #c4c4c4  100%);
  background:-o-linear-gradient(top, #b0b0b0 0%, #c4c4c4 100%);
  background:-ms-linear-gradient(top, #b0b0b0 0%, #c4c4c4 100%);
  background:linear-gradient(top, #b0b0b0 0%, #c4c4c4 100%);
  border-color:#c4c4c4;
}

.soon{
  float: right;
  background: url(/images/bg-stat.png) no-repeat;
  padding: 5px 6px 8px 18px;
  color: white;
  font: bold 10px/13px Arial,Helvetica,sans-serif;
  display: block;
  margin-top:-10px;
  position:relative;
  z-index:1;
}

.quick-nav li.inactive img.current{display:block;}
.quick-nav li.inactive img.hover {display:none;}
.quick-nav li.inactive:hover img.current{display:none;}
.quick-nav li.inactive:hover img.hover {display:block;}
.quick-nav li.inactive .soon{display:none;}
.quick-nav li.inactive:hover .soon{display:block;}

