
/* slides */
ul.slideshow .slide1 {
    background: url("../images/slides/en/slide1.png") no-repeat top left !important;
}
ul.slideshow .slide2 {
    background: url("../images/slides/en/slide2.png") no-repeat top left !important;
}
ul.slideshow .slide3 {
    background: url("../images/slides/en/slide3.png") no-repeat top left !important;
}
ul.slideshow .slide4 {
    background: url("../images/slides/en/slide4.png") no-repeat top left !important;
}

/* end slides */

.create-block .steps-list .listitem {
	min-height: 75px;
}
.form-2 .btn-submit {
	width: 90px;
}
