/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application{
    background-color: #335577;
}

s|BorderContainer{
	border-visible: false;
}

s|TextArea{
	color: #006699;
}

.dateLabel{
	color: #c8dce7;
	font-size: 24;
	font-family: _sans;
	font-weight: normal;
	
}

.avatarBorder {
	border-color: #FFFFFF;
	border-style: solid;
	border-visible: true;
	border-weight: 2;
}

.avatarBorderOver {
	border-color: #99FFFF;
	border-style: solid;
	border-visible: true;
	border-weight: 2;
}


/* GAME BOARD SKINS START */

.boardFullBg{
	background-image: Embed(source="/assets/gameBoard/FullBackground.png");
}

.boardTopMenuBg{
	background-image: Embed(source="/assets/gameBoard/TopMenuBg.png");
}

.boardTableBg{
	background-image: Embed(source="/assets/gameBoard/Table.png");
}

.boardBackground{
	background-image: Embed(source="/assets/gameBoard/Background.jpg");
}

.boardBoards{
	background-image: Embed(source="/assets/gameBoard/Boards.png");
}


.boardPlayerNames{
	background-image: Embed(source="/assets/gameBoard/Names.png");
}

/* GAME BOARD SKINS END */


/* CHART STYLES  */

.chatBackButtonStyle {
    upSkin : Embed(source='/assets/buttons/rightChart/BackUp.png');
    overSkin : Embed(source='/assets/buttons/rightChart/BackOver.png');
    downSkin : Embed(source='/assets/buttons/rightChart/BackDown.png');
    disabledSkin : Embed(source='/assets/buttons/rightChart/BackDisabled.png');
}

.chatForwardButtonStyle {
    upSkin : Embed(source='/assets/buttons/rightChart/ForwardUp.png');
    overSkin : Embed(source='/assets/buttons/rightChart/ForwardOver.png');
    downSkin : Embed(source='/assets/buttons/rightChart/ForwardDown.png');
    disabledSkin : Embed(source='/assets/buttons/rightChart/ForwardDisabled.png');    
}

.chatSendButtonStyle {
    upSkin : Embed(source='/assets/buttons/SendUp.png');
    overSkin : Embed(source='/assets/buttons/SendOver.png');
    downSkin : Embed(source='/assets/buttons/SendDown.png');
    disabledSkin : Embed(source='/assets/buttons/SendDisabled.png');    
}

.chartAreaLeft {
    startGradient: #FFFFFF;
    endGradient:   #FFFFFF; 
}

.chartAreaRight {
    startGradient: #FFFFFF;
    endGradient:   #CCFFFF;
}

/* CHART STYLES END */