<section class="visual-area">
            <div class="visual">
                <ul class="slideshow">
                    <li class="slide slide1">
                        <div class="btns" style="margin-top:238px; margin-right:276px;">
                            <a href="/hediyeler-bilgi" class="btn-dark">Detaylı Bilgi</a>
                            <a href="/giris/register" class="btn-yellow">ÜYE OL!</a>
                        </div>
                    </li>
                    <li class="slide slide2">
                        <div class="btns" style="margin-top:225px; margin-right:276px;">
                            <a href="/hediyeler-bilgi" class="btn-dark">Detaylı Bilgi</a>
                            <a href="/giris/register" class="btn-yellow">ÜYE OL!</a>
                        </div>
                    </li>
                    <li class="slide slide3">
                        <div class="btns" style="margin-top:245px; margin-right:276px;">
                            <a href="/hediyeler-bilgi" class="btn-dark">Detaylı Bilgi</a>
                            <a href="/giris/register" class="btn-yellow">ÜYE OL!</a>
                        </div>
                    </li>
                    <li class="slide slide4">
                        <div class="btns" style="margin-top:245px; margin-right:276px;">
                            <a href="/hediyeler-bilgi" class="btn-dark">Detaylı Bilgi</a>
                            <a href="/giris/register" class="btn-yellow">ÜYE OL!</a>
                        </div>
                    </li>
                </ul>
                <div class="switcher">
                    <ul>
                        <li><a href="#">Hedİyeler</a></li>
                        <li><a href="#">Turnuvalar</a></li>
                        <li><a href="#">Sosyalleşİn!</a></li>
                        <li><a href="#">Nasıl İstİyorsanız Öyle</a></li>
                    </ul>
                </div>
                <ul class="pager">
                    <li><a class="prev" href="#">prev</a></li>
                    <li><a class="next" href="#">next</a></li>
                </ul>
            </div>
        </section>
        <div class="section-area">
            <div class="section">
                <div class="holder">
                    [[[webutils:get_hemen_nav(index)]]]
                </div>
                <a href="#" class="link-prev">prev</a>
                <a href="#" class="link-next">next</a>
            </div>
        </div>
        <div class="stat-bar">
            <dl class="dlist">
                <dt>Online oyuncu Sayısı:</dt>
                <dd>[[[user_counter:user_count()]]]</dd>
            </dl>
            <ul>
                <li>
                    <dl>
                        <dt>Okey</dt>
                        <dd>[[[webutils:user_count(okey)]]]</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Tavla</dt>
                        <dd>[[[webutils:user_count(tavla)]]]</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>King</dt>
                        <dd>[[[webutils:user_count(king)]]]</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Batak</dt>
                        <dd>[[[webutils:user_count(batak)]]]</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Sorbi</dt>
                        <dd>[[[webutils:user_count(sorbi)]]]</dd>
                    </dl>
                </li>
            </ul>
        </div>
